<div class="modal-header">
    <close-modal-dirv></close-modal-dirv>
    <h3>Request More Info</h3>
</div>
<div class="modal-body">
    <!-- <p>Name <input  ng-model="apirequest"></input> <br>
    Company <input  ng-model="apirequest"></input> <br>
    Email address <input  ng-model="apirequest"></input> <br>
    Specific Questions: <br> -->
    <p> Please include your email address in your request so we can get back to you! </p>
    <textarea cols="40" style="border-box; width:100%; border: 1px solid black;" ng-model="apirequest" name="name" rows="8"></textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-orange" ng-click="submit()" name="button">Submit</button>
</div>
