<div class="container-fluid" style="padding:20px;">
    <div class="row">
        <h1>CREATE ASSIGNMENT</h1>
        <form ng-submit='setUserObject()' style='margin-bottom:20px;'>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <label class='control-label'>
                            Apartment Address:*
                        </label>
                        <input class="form-control" ng-model="apartmentAddress" type="text" typeahead-loading="loadingLocations" typeahead-min-length="5" typeahead-no-results="noResults" typeahead="address for address in getLocation($viewValue)">
                        <i class="glyphicon glyphicon-refresh" ng-show="loadingLocations"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i>
                            No Results Found
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Unit Number:*</label>
                        <input class="form-control" ng-model="apartment.unitNum" type="text">
                    </div>
                </div>

            </div>
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <label class="control-label">Cost per Month:</label>
                            <input class="form-control" ng-model="apartment.costPerMonth" type="text">
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Lease end date:</label>
                            <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <label class="control-label">YOUTUBEID:</label>
                            <input class="form-control" ng-model="assignment.youtubeId" type="text">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-offset-1 col-lg-10">
                <center>
                    <input class="btn btn-primary btn-block btn-lg" ng-click="upload()" type='submit'>
                </center>
            </div>
        </form>
    </div>
</div>
