<form class="" method="post">
    <h2>Apartment Waitlist</h2>
    <p>
        Please read everything related to this waitlist prior to waitlisting.
    </p>
    <div class="form-group">
        <div class="row">
            <div class="col-md-10" ng-repeat="userObj in apartmentSlotsModal track by $index">
                <label class='control-label'>Housemate {{userObj.id}} - User Name or Email:</label>
                <input type='text' ng-model="waitlistArray[$index]" class='form-control'>

            </div>
            <div class="col-md-8 col-md-offset-4">
                <button class="btn btn-success col-md-4" ng-click="waitlistSignup()">Submit Waitlist</button>
            </div>
        </div>
    </div>
</form>
