<div class="modal-header">
    <h1>Create Unit and Upload Floor Plan</h1>
    <h3>Add the address of the unit you would like to create, followed by the unit number or floorplan model number. If there is no floorplan, check the No Floor Plan check box.</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            <form id="upload-floorplan-form" name="createAptForm" ng-submit="functions.saveForm()">
                <!-- Apartment Address Input -->
                <div class="col-md-8">
                    <label class="control-label" for="apartmentAddress">Apartment Address</label>
                    <input class="nav-search form-control" style="border: 1px solid black; form-control" ng-model="apartment.address" placeholder="Search by area" type="text" uib-typeahead-loading="loadingLocations" uib-typeahead-min-length="3" uib-typeahead-no-results="noResults"
                        uib-typeahead="address for address in getLocation($viewValue)" />
                </div>
                <!-- Floor Plan/Unit Number Input -->
                <div class="col-md-4">
                    <label class="control-label" for="apartmentAddress">Floor Plan/Unit Number</label>
                    <input type="text" class="form-control" name="apartmentAddress" ng-model="apartment.floorPlanModel" style="border: 1px solid black" required/>
                </div>
                <!-- No Floor Plan Check Box -->
                <div class="col-md-6" style="margin-bottom:10px; text-align:center;">
                    <label for="" style="margin-top:10px;margin-top:20px;">
                        <input type="checkbox" ng-model="noFloorPlanChkBox" name="no-floorplan" value="">
                        No Floor Plan
                    </label>
                </div>
                <!-- Choose Floor Plan Photo -->
                <div class="col-md-6" ng-hide="noFloorPlanChkBox" style="margin-top:10px;margin-bottom:10px;">
                    <label for="" class="control-label">Choose Floor Plan</label>
                    <input type="file" name="floorplan-file" id="file-chooser" class="btn form-control" ng-required="!noFloorPlanChkBox"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button class="btn" id="upload-button" ng-click="functions.saveForm()" style="margin-top: 20px;">Save Floorplan</button> -->
    <button class="btn btn-fill--blue btn-lg" id="upload-button" ng-hide="formSubmitted" ng-click="closeModal('next')" style="margin-top: 20px;">Skip Floor Plan Upload</button>
    <button class="btn btn-fill--blue btn-lg" id="upload-button" ng-hide="formSubmitted" type="submit" form="upload-floorplan-form" style="margin-top: 20px;">Submit</button>
    <loading-spinner-dir style="color:black; visibility: hidden;" id="floorplanUpload"></loading-spinner-dir>
    <div id="results"></div>
</div>
