<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <user-info-dir></user-info-dir>
        </div>
        <div class="col-sm-6">
            <payment-manager-dirv ng-show="userIsSubscriber"></payment-manager-dirv>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div ui-view="controlPanel"></div>
        </div>
    </div> -->
    <div class="row" ng-show="userType >= 2">
        <!-- <div class="col-md-10 col-md-offset-1"> -->
        <div ui-view="midHorizontal"></div>
        <!-- </div> -->
    </div>
    <!-- row -->
    <!-- <div class="row" ng-show="userType == 1 || userType == 0">
        <div class="account container">
            <div class="row account-filter-options">
                <div class="col-xs-12">
                    <div class="account__waitlisted" ng-class="{'active-option': myApartmentsSelected}" ng-click="toggleMyApartments()" ng-show="userType == 2">
                        <ng-include src="'public/assets/icons/waitlist.svg'"></ng-include>
                        My Apartments
                    </div>
                    <div class="account__favorites" ng-class="{'active-option': myApplicationsSelected}" ng-click="toggleMyApplications()" ng-show="userType == 2">
                        <ng-include src="'public/assets/icons/favorite.svg'"></ng-include>
                        My Applications
                    </div>
                    <div class="account__waitlisted" ng-class="{'active-option': applicationSelected}" ng-click="toggleapplication()" ng-show="userType == 1">
                        <ng-include src="'public/assets/icons/waitlist.svg'"></ng-include>
                        application
                    </div>
                    <div class="account__favorites" ng-class="{'active-option': favoritesSelected}" ng-click="toggleFavorites()" ng-show="userType == 1">
                        <ng-include src="'public/assets/icons/favorite.svg'"></ng-include>
                        Favorites
                    </div>

                    <div class="grid-list-buttons">
                        <div class="account__grid" ng-class="{'active-option': gridViewSelected}" ng-click="toggleGridView()">
                            <i class="fa fa-th-large"></i>
                            Grid
                        </div>
                        <div class="account__list" ng-class="{'active-option': listViewSelected}" ng-click="toggleListView()">
                            <i class="fa fa-bars"></i>
                            List
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-class="{'apt-grid-view': gridViewSelected, 'apt-list-view': listViewSelected}">
                <div class="col-xs-12" ng-show="applicationSelected" ui-view="application"></div>
                <div class="col-xs-12" ng-show="favoritesSelected" ui-view="favorites"></div>
            </div>
        </div>
    </div> -->
</div>
