<div class="user-info row">
    <div class="col-md-12">
        <h1 class="user-info__name">Subscription:</h1>
        <h3 class="user-info__email">Plan: {{plan}}</h3>
        <h3  class="user-info__email">Monthly Cost: $99.00</h3>
        <br>
        <!-- <div class="col-sm-6">
            <button type="button" name="button" class="btn btn-outline--orange btn-lg">Cancel Subscription</button>
        </div>
        <div class="col-sm-6">
            <button type="button" name="button" class="btn btn-outline--orange btn-lg">Modify Payment Method</button>
        </div> -->
        <!-- <div class="col-sm-6">
            <button type="button" name="button" class="btn btn-outline--orange btn-lg">Modify Payment Method</button>
             <form action="http://172.16.0.3:4000/api/stripe/pay" method="POST">
                   <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_mngZell36UYuy8GfSSox4CZ9"
                    data-amount="999"
                    data-name="Wizio Inc"
                    data-description="Our monthly package"
                    data-panel-label="Subscribe"
                    data-image="https://s3.amazonaws.com/stripe-uploads/acct_16XvxPDqEKTsTxvomerchant-icon-1443378425435-Owl_White_Background.png"
                    data-locale="auto">
                  </script>
                </form>
        </div> -->
        <div class="">
            <button type="button" name="button" class="btn btn-outline--orange btn-lg dashbutton" onclick="document.querySelector('.stripe-button-el').click()">Modify Payment Method</button>
             <form action="http://172.16.0.3:4000/api/stripe/update" method="POST" style="display:none">
                   <script
                       src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                       data-key="pk_test_mngZell36UYuy8GfSSox4CZ9"
                       data-image="https://s3.amazonaws.com/stripe-uploads/acct_16XvxPDqEKTsTxvomerchant-icon-1471400059126-Untitled-1.png"
                       data-name="Wizio"
                       data-panel-label="Update Card Details"
                       data-label="Update Card Details"
                       data-allow-remember-me=false
                       data-locale="auto">
                   </script>
                </form>
            <button type="button" name="button" class="btn btn-outline--orange btn-lg dashbutton">Cancel Service</button>
    </div>
</div>
</div>
