<div class="user-info row">
    <div class="col-md-12">
        <h1 class="user-info__name">Subscription:</h1>
        <h3 class="user-info__email">Plan: {{plan}}</h3>
        <h3  class="user-info__email">Monthly Cost: $99.00</h3>
        <br>
        <div class="col-sm-6">
            <button type="button" name="button" class="btn btn-outline--orange btn-lg">Cancel Subscription</button>
        </div>
        <div class="col-sm-6">
            <button type="button" name="button" class="btn btn-outline--orange btn-lg">Modify Payment Method</button>
        </div>
    </div>
</div>
