<div class="modal-header">
    <close-modal-dirv></close-modal-dirv>
    <h3 class="modal-title">Are you sure?</h3>
</div>
<div class="modal-body">
    Deactivating this tour will disable the link associated with this tour. Content and other users' links associated
    with this tour will not be affected. You may reactivate this tour at any time.

    Are you sure you would like to deactivate the tour?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-fill--blue" ng-click="modalAction('cancel')" name="button">Cancel</button>
    <button type="button" class="btn btn-lg btn-fill--orange" ng-click="modalAction('deactivate')" name="button">Deactivate Tour</button>
</div>
