<div class="modal-header">
    <close-modal-dirv></close-modal-dirv>
    <h3 class="modal-title">Are you sure?</h3>
</div>
<div class="modal-body">
    Deleting this tour will permanently remove this tour, its content and its links from your account. The only way to retrieve a deleted tour
    is by contacting Wizio support.

    Are you sure you would like to delete the tour?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-fill--blue" ng-click="modalAction('cancel')" name="button">Cancel</button>
    <button type="button" class="btn btn-lg btn-fill--orange" ng-click="modalAction('delete')" name="button">Delete Tour</button>
</div>
