<div style="margin-bottom:50px">
    <div class="user-info " ng-model="accountInfo" style="" ng-show="inviteAccess">
        <h2 class="user-info__name">Invite:</h2>
        <div class="col-md-8">
            <input type="text" name="" class="form-control" ng-model="emailOfInvitee" style="border: 1px solid black;" placeholder="Email" value="">
            <!-- <h3 class="user-info__email">{{accountInfo.PropertyManager[0].businessName || accountInfo.Brokerages[0].businessName}}</h3> -->
        </div>
        <div class="col-md-4">
            <button class="btn btn-fill--blue btn-md form-control" ng-click="inviteUser()">Invite</button>
        </div>
    </div>
</div>
