<!-- VR Player Container for Landing Page -->
<div class="home-hero">



    <!-- VR Player Overlay Text for Landing Page Marketing -->
    <div class="container-fluid">
        <div class="row " >
            <div class="home-hero__text col-xs-offset-1 col-xs-10 col-md-12" style="pointer-events: none;">
                <div class="home-hero__heading header-text" style="pointer-events: none;">Virtual Reality for Everyday Business</div>
                <div class="home-hero__subheading subhead-text" style="pointer-events: none;">All-in-one On Demand virtual reality services for travel and real estate.</div>
                <button class="btn btn-md btn-fill--orange" ng-click="goToProduct()" style="pointer-events: all;margin-top:15px;"> Learn more </button>
            </div>
        </div>
    </div>
</div>



<!-- row 1 -->
<div class="container-fluid">
    <div class="row home-banner home-graybanner">
        <div class= "home-blurb col-sm-10 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2">
            <div class="section-head "> Virtual Property Tours </div>
            <div class="large-body">Immerse your clients with next generation viewing experiences that feel as real as being there.</div>
        </div>

        <div class="col-sm-12 col-md-3 col-md-offset-2" id="home-vr-img">
            <img src="../../../../viewtemplates/images/home/VR-player.png"></img>
        </div>
    </div>

    <div class="row home-banner">

        <div class=" .hidden-sm .hidden-xs col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-2">
            <img src="../../../../viewtemplates/images/home/photo-collage.png" id="home-ondemand-img"></img>
        </div>

        <div class= "home-blurb col-xs-10 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
            <div class="section-head "> High Resolution Photography </div>
            <div class="large-body">Wizio uses the highest quality 360 degree cameras in the industry to capture photos.</div>
        </div>

        <div class=" .visible-xs-sm col-xs-10">
            <img src="../../../../viewtemplates/images/home/photo-collage.png" id="home-ondemand-img"></img>
        </div>

    </div>

    <div class="row home-banner home-graybanner">
        <div class= "home-blurb col-sm-10 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2" >
            <div class="section-head "> On Demand </div>
            <div class="large-body">Book a professional Wizio photographer up to 24 hours in advance.</div>
        </div>

        <div class="col-sm-12 col-md-4 col-md-offset-2" id="home-drift-container">
            <img src="../../../../viewtemplates/images/home/drift.jpg" id="home-drift-img"></img>
        </div>
    </div>

    <div class="row home-banner">

        <div class= "home-blurb col-sm-10 col-md-8 col-md-offset-2 text-center ">
            <h2 class="large-body text-center"> Learn what Wizio can do for you </h1>
            <h3 class="large-body text-center">Request a tour and our experts can help design a solution for you.</h2>
            <button type="button" ng-click="goToProduct()"  class=" btn btn-lg btn-fill--orange">Learn More</button>
        </div>

    </div>





</div>
