<!-- VR Player Container for Landing Page -->

<div class="container-fluid">
<div class="row home-hero">
  <div class= "row col justify-content-center">
    <div class= "col-sm-auto align-self-center text-center">
      <h2 class= "header-text white"> Virtual Reality for Everyday Business </h2>
      <h3 class=" home-hero__subheading subhead-text white"> All-in-one On Demand virtual reality services for travel and real estate. </h3>
      <button class="btn btn-md btn-fill--orange" ng-click="goToProduct()" style="pointer-events: all;margin-top:15px;"> Learn more </button>
    </div>
  </div>

</div>




<!-- row 1 -->

    <div class="row home-banner home-graybanner justify-content-center">
        <div class= "home-blurb col-10 col-md-6 col-lg-4">
            <div class="section-head orange">Virtual Reality Property Tours </div>
            <div class="large-body med-gray">Immerse your audience and leads with Wizio’s next generation VR property tour experience. It’s almost as real as being there in-person, allowing your clients to explore your next listing in a 360 degree viewing experience.</div>
        </div>

        <div class="col-auto offset-lg-2 offset-xl-1" >
            <img src="../../../../viewtemplates/images/home/VR-player.png" id="home-vr-img" alt="Virtual reality property tour on our mobile player"></img>
        </div>
    </div>

    <div class="row home-banner home-photo-banner justify-content-center">

        <div class="col-auto">
            <img src="../../../../viewtemplates/images/home/photo-collage.png" id="home-ondemand-img" class="center-block" alt="High resloution photography for properties"></img>
        </div>

        <div class= "home-blurb col-10 col-md-6 col-lg-4 offset-lg-2 offset-xl-1">
            <div class="section-head orange"> High Resolution Photography </div>
            <div class="large-body med-gray">Pair your virtual tour with 8k high resolution still photography, standard with every 8K virtual tour package, providing a complete photo and content package for your next listing.</div>
        </div>

    </div>

    <div class="row home-banner home-graybanner justify-content-center">
        <div class= "home-blurb col-10 col-md-6 col-lg-4" >
            <div class="section-head orange"> On Demand </div>
            <div class="large-body med-gray">Our services can be booked within 24 hours, on-demand. Tour requests are  simple with a single, online form. You can also call or <a href="mailto:contact@wizio.co" target="_top"> email </a> if you’d like to speak to a real person about our service and offerings.</div>
        </div>

        <div class="col-auto offset-lg-2 offset-xl-1" id="home-drift-container">
            <img src="../../../../viewtemplates/images/home/drift.jpg" id="home-drift-img" class="center-block" alt="Wizio user talking with support staff through online chat"></img>
        </div>
    </div>

    <div class="row row-space home-callout-banner justify-content-center">

    <div class= "col-10 col-md-8 text-center">
        <div class="section-head text-center dk-gray"> Learn what Wizio can do for you </div>
        <div class="large-body text-center dk-gray">Request a tour and our experts can help design a solution for you.</div>
        <button ng-click="goToProduct()" type="button" class=" btn btn-lg btn-fill--orange">Learn More</button>
        </div>

    </div>

</div>
