#landingpagelogo {
  width: 10em;
  position: relative;
  z-index: 2;
}

#demo {
  padding: 10px;
  position: relative;
  z-index: 2;
}

#signinbtn {
  width: 6em;
}
.entersite-section {
  padding: 50px 0;
  background-color: #dde0cd;
  position: relative;
}
.descrip-section {
  background-color: #dde0cd;
  position: relative;
  padding: 20px;
}

.demo-section {
  position: relative;
  overflow: hidden;
}

.demo-section h1 {
  padding: 10px;
  position: relative;
  z-index: 2;
  color: white;
}

.demo-section #bck {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
}

.signup-section h3{
  color: white;
}

.signup-section {
  position: relative;
  background-color: #6e6e6e;
  padding: 25px;
}

.input-group {
  padding-right: 22em;
}
