
<div class="subscription-wrapper">
<div class="subscription-top">
    <img src="/public/viewtemplates/images/brand_assets/wizio_logo_gray.png" style="height:50px; ">

</div>


<div class="container" ng-hide="invitationSignup">
    <div class="page-header row">
        <h4> Our Subscriptions</h4>
    </div>
    <div class="" style="font-size: 1.2em; margin-bottom:20px;">
    </div>
    <div class="row subscription-middle">
        <div class="col-sm-6 subscription-tile " ng-click="chooseSubscription(1)">
            <!-- A subscription tile (one of those subscription banners) -->
            <div class="subscription-banner-container btn-outline--blue" id="4">
                <div class="subscription-banner-header"  >
                    <div class="subscription-banner-header__main" style="text-align: center;">
                        <h3>
                            Agent
                        </h3>
                    </div>
                    <div class="subscription-banner-header__sub">
                        <h5>
                            All in one tool for creating virtual tours
                        </h5>
                    </div>
                    <div style="margin-bottom:10px;">
                        <span style="font-size:150%"> $20 / mo billed annually </span> <br>
                        <i> or $25 billed monthly </i> <br>
                        <strong> Required Camera and Training $350 </strong>
                    </div>
                    <div class="subscription-banner__features">
                        <div style="margin-bottom:10px;"><strong>Included in Agent:</strong></div>
                            <p> Software and cloud storage for creating and sharing your own database of virtual tours </p>
                            <p> Dedicated Support </p>
                            <p>&nbsp;</p>
                            <!-- <img src="public\viewtemplates\images\favicons\favicon.ico" style="position:absolute; bottom:15px;"/> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 subscription-tile" ng-click="chooseSubscription(2)">
            <!-- A subscription tile (one of those subscription banners) -->
            <div class="subscription-banner-container btn-outline--blue" id="5" >
                <div class="subscription-banner-header" >
                    <div class="subscription-banner-header__main" style="text-align: center;">
                        <h3>
                             Office
                        </h3>
                    </div>
                    <div class="subscription-banner-header__sub">
                        <h5>
                            Enhanced for collaboration
                        </h5>
                    </div>
                    <div style="margin-bottom:10px;">
                        <span style="font-size:150%"> $125 / mo billed annually </span> <br>
                        <i> or $150 billed monthly </i> <br>
                        <strong> Required Camera and Training $350 </strong>
                    </div>
                    <div class="subscription-banner__features">
                        <div class="subscription-banner__features">
                            <div style="margin-bottom:10px;"><strong>Included in Office:</strong></div>
                                <p> Software and cloud storage for creating and sharing your own database of virtual tours </p>
                                <p> Access to tours other users in your office have created</p>
                                <p> Up to 5 users (additonal users are $5 /mo /additional)</p>
                                <p> Dedicated Support </p>
                                <!-- <img src="public\viewtemplates\images\favicons\favicon.ico" style="position:absolute; bottom:15px;"/> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div class="container submit-step">
         <a href="/signup"><button class="btn btn-lg btn-outline--orange" style="margin-bottom:25px; height:60px; font-size:2em;">Continue to signup</button></a>
</div>

<!-- <div class="container">
    <div class="page-header row">
        <h4>Enter Your Account Information</h4>
    </div>
    <div class="row">
        <account-creation-form-dir user='user'></account-creation-form-dir>
    </div> </div>  -->

<div class="pricing-quote">
    <h5> &ldquo;Wizio has helped to improve my business and client relations... very helpful for out of area clients especially.&rdquo;</h5>
</div>



<div class="container">
    <div class="page-header">
        <h4>Frequently Asked Questions</h4>
    </div>
    <div class="">
        <strong> What does a finished tour look like? </strong><br>
        <p> Check out our <a href="/demo" target="_blank">demo</a>.</p><br>

        <strong> Can virtual tours be watermarked? </strong><br>
        <p>Yes! We have a watermarking feature available for putting your brokerage name or other text as a watermark on the tour. </strong> </p> <br>

        <strong> Can you “walk around” in tours? </strong><br>
        <p> Yes! We are adding a navigation feature as one of several new tools for our product launch! Expect it soon. </p>

        <strong> Can you syndicate virtual tours to MLS? </strong><br>
        <p> Yes! Agents and brokerages relying on MLS Pinnergy will be able to cross-syndicate virtual tours with their listings. Interested in syndicating to another platform? Let us know at <span style="text-decoration: underline;">support@wizio.co</span>.</p><br>

        <strong> Does each virtual tour receive a unique URL? </strong><br>
        <p>Each virtual tour you create has its own unique URL tied to that specific tour.</p><br>

        <strong> I’m worried about other agents or individuals stealing my links or the content I’ve created, what steps are you taking to prevent this? </strong><br>
        <p> At Wizio, we work hard to protect the content and tours you spend your time creating. You’ll notice, if you try to save a photo directly from a tour it simply won’t work. In addition, you can password protect tours to prevent unauthorized access, add your contact information via the agent profile feature, and watermark your tour. </p><br>

        <strong> Is it difficult to make a tour? </strong><br>
        <p> Our goal at Wizio is to make sure that making a virtual tour takes no more than 10 minutes (in most cases, our clients spend about 5 minutes per property). This means we need to keep our process as simple as possible. We’re happy to provide a demo to prove that point. Contact us at <span style="text-decoration: underline;">info@wizio.co</span> to learn more. </p><br>

        <strong> Are there limits on how many tours I can create? </strong><br>
        <p> As of right now, no. In the future we may add a premium subscription for high-powered users (think 100+ tours). We’re not interested in nickeling and diming you for every tour you create. </p><br>

        <strong> Can I add additional users to my account? </strong><br>
        <p> Under the office subscription, you can have a multi-user account. </p><br>

        <strong> If I’m having an issue with my account, who can I contact? </strong><br>
        <p> Please email <span style="text-decoration: underline;">support@wizio.co</span> or call 617-297-7472. We’re here to help you succeed. </p><br>

        <strong> I have a question that’s not answered here, who should I send it to? </strong><br>
        <p> We’re always looking for new questions to add to the FAQ. Email us at <span style="text-decoration: underline;">support@wizio.co</span>. </p><br>

    </div>
</div>



</div>
