
<div class="subscription-wrapper">
<div class="subscription-top">
    <img src="/public/viewtemplates/images/brand_assets/wizio_logo_gray.png" style="height:50px; ">

</div>


<div class="container" ng-hide="invitationSignup">
    <div class="page-header row">
        <h4> Our Subscriptions</h4>
    </div>
    <div class="" style="font-size: 1.2em; margin-bottom:20px;">
    </div>
    <div class="row subscription-middle">
        <div class="col-sm-6 subscription-tile " ng-click="chooseSubscription(1)">
            <!-- A subscription tile (one of those subscription banners) -->
            <div class="subscription-banner-container btn-outline--blue" id="4">
                <div class="subscription-banner-header"  >
                    <div class="subscription-banner-header__main" style="text-align: center;">
                        <h3>
                            Agent
                        </h3>
                    </div>
                    <div class="subscription-banner-header__sub">
                        <h5>
                            All in one tool for creating virtual tours
                        </h5>
                    </div>
                    <div style="margin-bottom:10px;">
                        <span style="font-size:150%"> $20 / mo billed annually </span> <br>
                        <i> or $25 billed monthly </i> <br>
                        <strong> Required Camera and Training $350 </strong>
                    </div>
                    <div class="subscription-banner__features">
                        <div style="margin-bottom:10px;"><strong>Included in Agent:</strong></div>
                            <p> Software and cloud storage for creating and sharing your own database of virtual tours </p>
                            <p> Dedicated Support </p>
                            <p>&nbsp;</p>
                            <!-- <img src="public\viewtemplates\images\favicons\favicon.ico" style="position:absolute; bottom:15px;"/> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 subscription-tile" ng-click="chooseSubscription(2)">
            <!-- A subscription tile (one of those subscription banners) -->
            <div class="subscription-banner-container btn-outline--blue" id="5" >
                <div class="subscription-banner-header" >
                    <div class="subscription-banner-header__main" style="text-align: center;">
                        <h3>
                             Office
                        </h3>
                    </div>
                    <div class="subscription-banner-header__sub">
                        <h5>
                            Enhanced for collaboration
                        </h5>
                    </div>
                    <div style="margin-bottom:10px;">
                        <span style="font-size:150%"> $125 / mo billed annually </span> <br>
                        <i> or $150 billed monthly </i> <br>
                        <strong> Required Camera and Training $350 </strong>
                    </div>
                    <div class="subscription-banner__features">
                        <div class="subscription-banner__features">
                            <div style="margin-bottom:10px;"><strong>Included in Office:</strong></div>
                                <p> Software and cloud storage for creating and sharing your own database of virtual tours </p>
                                <p> Access to tours other users in your office have created</p>
                                <p> Up to 5 users (additonal users are $5 /mo /additional)</p>
                                <p> Dedicated Support </p>
                                <!-- <img src="public\viewtemplates\images\favicons\favicon.ico" style="position:absolute; bottom:15px;"/> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div class="container submit-step">
         <a href="/signup"><button class="btn btn-lg btn-outline--orange" style="margin-bottom:25px; height:60px; font-size:2em;">Continue to signup</button></a>
</div>

<!-- <div class="container">
    <div class="page-header row">
        <h4>Enter Your Account Information</h4>
    </div>
    <div class="row">
        <account-creation-form-dir user='user'></account-creation-form-dir>
    </div> </div>  -->

<div class="pricing-quote">
    <h5> &ldquo;Wizio has helped to improve my business and client relations... very helpful for out of area clients especially.&rdquo;</h5>
</div>



<div class="container">
    <div class="page-header">
        <h4>Frequently Asked Questions</h4>
    </div>
    <div class="">
        <strong> This a question? </strong><br>
        <p> And this would be the answer. </p><br><br>

        <strong> This a question? </strong><br>
        <p> And this would be the answer. </p><br><br>

        <strong> This a question? </strong><br>
        <p> And this would be the answer. </p><br><br>
    </div>
</div>



</div>
