<div class="modal-header">
  <close-modal-dirv></close-modal-dirv>
  <h3 class='modal-title'>Select Subscription To Assign Tour To</h3>
</div>
<div class="modal-body">
  <div class="" ng-repeat='subscription in subscriptions track by $index' ng-if='(subscription.id !== 3 || subscription.id !== 22) && subscription.Businesses.length !== 0'>
    <div class="" style="height:60px; border: 1px solid black; margin:5px; cursor: pointer" ng-click="assignTour(subscription)">
      {{subscription.id}} - {{subscription.Businesses[0].name}}
    </div>
  </div>
</div>
<div class="modal-footer">
</div>
