<div style="margin-top:40px;margin-bottom:50px">
    <!-- <button type="button" class="btn btn-lg btn-outline--orange" ng-click="activeToursToggle('showActive')" name="button">Show Active Tours</button>
    <button type="button" class="btn btn-lg btn-outline--orange" ng-click="activeToursToggle('showInactive')" name="button">Show Inactive Tours</button> -->
    <h2 class="user-info__name">Your Activated Apartments:</h2>
    <active-listing-list-dir activelistings='activelistings'></active-listing-list-dir>
</div>
