<div style="margin-top:40px;margin-bottom:50px">
    <!-- <button type="button" class="btn btn-lg btn-outline--orange" ng-click="activeToursToggle('showActive')" name="button">Show Active Tours</button>
    <button type="button" class="btn btn-lg btn-outline--orange" ng-click="activeToursToggle('showInactive')" name="button">Show Inactive Tours</button> -->
    <div class="row">
        <div class="col-xs-8">
          <h2 class="user-info__name">Your Tours</h2>
            <!-- <h2 class="user-info__name">{{viewActiveTours ? 'Your Tours:' : 'Inactive Tours'}}</h2> -->
        </div>
        <div class="col-xs-4">
          <div class="input-group col-xs-12">
            <input type="text" class="form-control" placeholder="Search apartment address..." style="margin-top:5px; float:right; border: 1px solid gray; border-radius: 5px;" name="" value="" ng-model='test'>
          </div>
            <!-- <button type="button" style="margin-top:5px; float:right;" ng-click="changeTourListView()" class="btn btn-fill--orange" name="button">View {{viewActiveTours ? 'Inactive Tours' : 'Active Tours'}}</button> -->
        </div>

    </div>
    <div class="tour-list-container">
      <empty-state-dir ng-if="activeListings.length === 0"></empty-state-dir>
        <div ng-if="viewActiveTours" class="" ng-repeat="tour in activeListings | filter: test">

          <tour-panel-dir tour='tour'></tour-panel-dir>
        </div>

        <div ng-if="!viewActiveTours" class="" ng-repeat="tour in inactiveListings">
          <empty-state-dir ng-if="inactiveListings.length === 0"></empty-state-dir>
          <tour-panel-dir tour='tour'></tour-panel-dir>
        </div>
    </div>
</div>
