<div class="modal-header">
    <close-modal-dirv></close-modal-dirv>

</div>
<div class="modal-body">
  <h3 class= "text-center">Enter Address Information</h3>
    <div class="row">
        <div class="form-group col-12">
            <form id="upload-floorplan-form" name="createAptForm" ng-submit="functions.saveForm()">
                <!-- Apartment Address Input -->
                <div class="col-10">
                    <label class="control-label" for="apartmentAddress">Apartment Address</label>
                    <input class="nav-search form-control" style="border: 1px solid black; form-control" ng-model="apartment.address" placeholder="Enter Address" type="text" uib-typeahead-loading="loadingLocations" uib-typeahead-min-length="3" uib-typeahead-no-results="noResults"
                        uib-typeahead="address for address in getLocation($viewValue)" />
                </div>
                <!-- Floor Plan/Unit Number Input -->
                <div class="col-10 row-space">
                    <label class="control-label" for="apartmentAddress">Floor Plan/Unit Number</label>
                    <input type="text" class="form-control" name="apartmentAddress" ng-model="apartment.floorPlanModel" style="border: 1px solid black" required/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button class="btn" id="upload-button" ng-click="functions.saveForm()" style="margin-top: 20px;">Save Floorplan</button> -->
    <div class="">
      <loading-spinner-dir size="fa-3x" style="color:orange; visibility: hidden; display: inline-block" id="createUnitSpinner"></loading-spinner-dir>
      <button class="btn btn-fill--blue btn-lg" id="upload-button" ng-disabled='formSubmitted' type="submit" form="upload-floorplan-form" >{{formSubmitted ? 'Loading...' : 'Submit'}}</button>
    </div>
</div>
