<div class="modal-header">
    <h1>Terms of Service</h1>
</div>
<div class="modal-body">
    <p> Please agree to all of these to continue. </p>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="terms" ng-click="showContinue()">
            <a href="https://docs.google.com/a/wizio.co/document/d/1-ttcPyEIbS8Laqf9iVRQP5RVqyGEikqNIcXbDiiCz4c/edit?usp=sharing" target="_blank">Terms of Service
            </a>
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="next" ng-click="showContinue()">
            <a href="https://docs.google.com/a/wizio.co/document/d/1wGkwTVmVR4vFQrCuWru3H48fHfR0jcavJrlVty884y4/edit?usp=sharing" target="_blank">Acceptable Use Policy</a>
        </label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" id="last" ng-click="showContinue()"><a href="https://docs.google.com/a/wizio.co/document/d/1nG-V2bJVlNt1I2fEsHGB7wJXBttDmsaowbcZ4mGP2qw/edit?usp=sharing" target="_blank">Privacy Policy</a></label>
    </div>
</div>
<div class="modal-footer">
    <button ng-show="allChecked" id="contbutton" ng-click="ok()" class="btn btn-fill--blue btn-lg">Continue</button>
</div>
