<div class="container">
    <div class="row">
        <form>
            <div class="form-group">
                <div class="row">
                    <h4>Personal Information</h4>
                    <div class="col-md-4">
                        <label class="control-label" for="">Date of Birth</label>
                        <input class="form-control" name="name" ng-model="profile.dateOfBirth" placeholder="07/23/1992" type="text" value="">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="">Are you a U.S. Citizen?</label>
                        <select class="form-control" name="" ng-model="profile.uscitizen" ng-options="option for option in selectOptions.yesno"></select>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" for="">Current Address</label>
                            <input class="form-control" name="name" ng-model="profile.currentAddress" placeholder="07/23/1992" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label">Phone Number</label>
                        <input type="text" class="form-control" name="name" value="">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Credit Score?</label>
                        <select class="form-control" name="" ng-model="profile.creditScore" ng-options="option for option in selectOptions.yesno"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Marital Status</label>
                        <select class="form-control" name="" ng-model="profile.maritalStatus" ng-options="option for option in selectOptions.maritalStatus"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="" class="control-label">Pets</label>
                        <textarea name="name" class="form-control" ng-model="profile.pets" rows="8" cols="40"></textarea>
                    </div>
                </div>
                <div class="row" style="padding-top:10px;">
                    <div class="col-md-4">
                        <label class="control-label">Emergency Contact Name</label>
                        <input class="form-control" name="name" ng-model="profile.emergencyContactName" type="text" value="{{profile.emergencyContactName}}">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Emergency Contact Relationship</label>
                        <input class="form-control" name="name" ng-model="profile.emergencyContactRelationship" type="text" value="{{profile.emergencyContactRelationship}}">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Emergency Contact Phone Number</label>
                        <input class="form-control" name="name" ng-model="profile.emergencyContactPhone" type="text" value="{{profile.emergencyContactNumber}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <h4>Current Landlord/Property Manager Information</h4>
                    <div class="col-md-6">
                        <label class="control-label">Current Prorerty Management Company or Landlord Name</label>
                        <input class="form-control" name="name" ng-model="profile.currentPMName" type="text" value="{{profile.currentPropertyManagerName}}">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Phone Number</label>
                        <input class="form-control" name="name" ng-model="profile.currentPMContact" type="text" value="{{profile.currentPropertyManagerNumber}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <h4>Employment Status</h4>
                    <div class="col-md-4">
                        <label class="control-label" for="">Employment Status</label>
                        <select class="form-control" ng-model="profile.employmentStatus" ng-options="option for option in selectOptions.employmentStatus"></select>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="profile.employmentStatus =='Full Time Employed' || profile.employmentStatus == 'Part Time Employed'">
                <div class="row">
                    <h4>Current Employer 1 Info</h4>
                    <div class="col-md-4">
                        <label class="control-label" for="">Current Employer 1</label>
                        <input class="form-control" model="profile.currentEmployer1" name="name" type="text" value="">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="">Current Employer 1 Length of Employment</label>
                        <input class="form-control" model="profile.currentEmployerLOE1" name="name" type="text" value="">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="">Current Employer 1 Position</label>
                        <input class="form-control" model="profile.currentEmployerPosition2" name="name" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="profile.employmentStatus =='Full Time Employed' || profile.employmentStatus == 'Part Time Employed'">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label">Do you work at a second job?</label>
                        <select class="form-control" name="" ng-change="secondJobFormLogic()" ng-model="yesNoContainer.secondJob" ng-options="option for option in selectOptions.yesno"></select>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="yesNoContainer.secondJob=='Yes'">
                <div class="row">
                    <h4>Current Employer 2 Info</h4>
                    <div class="col-md-4">
                        <label class="control-label" for="">Current Employer 2</label>
                        <input class="form-control" model="profile.currentEmployer2" name="name" type="text" value="">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="">Current Employer 2 Length of Employment</label>
                        <input class="form-control" model="profile.currentEmployerLOE2" name="name" type="text" value="">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="">Current Employer 2 Position</label>
                        <input class="form-control" model="profile.currentEmployerPosition2" name="name" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <h4>Student Status</h4>
                    <div class="col-md-4">
                        <label class="control-label" for="">Student Status</label>
                        <select class="form-control" ng-model="profile.studentStatus" ng-options="option for option in selectOptions.studentStatus"></select>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="profile.studentStatus =='Full Time Student' || profile.studentStatus == 'Part Time Student'">
                <div class="row">
                    <h4>School Information</h4>
                    <div class="col-md-4">
                        <label class="control-label" for="">School You Attend</label>
                        <input class="form-control" ng-model="profile.studentSchool" name="name" type="text" value="">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="">Student Type</label>
                        <select class="form-control" ng-model="profile.studentType" ng-options="option for option in selectOptions.studentTypes"></select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="">Major</label>
                        <input class="form-control" model="profile.studentMajor" name="name" type="text" value="">
                    </div>
                </div>
            </div>

        </form>
        <button type="button" ng-click="submitProfile()" name="button"></button>
    </div>
</div>
