<!DOCTYPE html>
<html ng-app="MainApp" ng-strict-di style="height: 100%">
<head>
    <title>Wizio</title>
    <!-- mobile friendly browsing! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="https://s3.amazonaws.com/wizio-facebook-share/wizio-facebook-share.jpg" />

    <meta property="og:description" content="Virtual Reality Content Creation and Hosting" />

    <meta property="og:url"content="https://www.wizio.co/" />

    <meta property="og:title" content="Virtual Reality Content Creation and Hosting" />
    <!-- set base of the website url to be / without the angular # -->
    <base href="/">

    <!-- Fonts and Font Awesome, respectively -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Styles -->
    <link href="../public/build/stylessass.css" rel="stylesheet">

    <!-- <script type="text/javascript" src="../public/internallibraries/EventShim.js"></script> -->
    <!-- <script type="text/javascript" src="../public/internallibraries/RequestAnimationFrame.js"></script> -->
    <script type="text/javascript" src="../public/build/lib2.min.js"></script>

    <script type="text/javascript" src="../public/build/lib.min.js"></script>
    <!-- Wizio App -->
    <script type="text/javascript" src="../public/build/scripts.js"></script>
    <script type="text/javascript" src='../public/internallibraries/wiziolibrary/scripts.min.js'></script>
    <!--GOOGLE API STUFF-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.22key=AIzaSyBa_cJXQRkemaNQQIVqrX5j253Mo9ixax0"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js"></script> -->
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <!-- STRIPE -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_mngZell36UYuy8GfSSox4CZ9');
    </script>

    <meta ng-if="window.location.hostname === alpha.wizio.co" name="robots" content="noindex">

    <link rel="apple-touch-icon" sizes="57x57" href="public/viewtemplates/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="public/viewtemplates/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="public/viewtemplates/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="public/viewtemplates/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="public/viewtemplates/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="public/viewtemplates/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="public/viewtemplates/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="public/viewtemplates/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="public/viewtemplates/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="public/viewtemplates/images/favicons/manifest.json">
    <link rel="mask-icon" href="public/viewtemplates/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="public/viewtemplates/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="public/viewtemplates/images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="public/viewtemplates/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#fa9a29">
    <script type="text/javascript">
        function onLoadEndSpinner() {
            document.getElementById('siteLoader').style.visibility = "hidden";
        }
    </script>
</head>
<!-- End of Google Analytics Code -->

<!-- <body ng-style="{'margin-bottom': state === 'Externalapi'? 0 : ''}"> -->

<body onLoad="onLoadEndSpinner()" style="min-height:100%">
    <script type="text/javascript">
    $(document).on('click',function(){
        $('.collapse').collapse('hide');
    })
    </script>
    <loading-spinner-dir id="siteLoader" size='fa-5x' style="position: absolute; z-index:1000; top:50%; left:50%; color:black;"></loading-spinner-dir>

    <div class="" id="site-container">
        <div ui-view="navbar"></div>
        <div ui-view="maincontent" id="main-content" class=""></div>
        <div ui-view="footer"></div>
    </div>
    <!-- <script type="text/javascript" src='../public/internallibraries/detector.js'></script> -->
    <!-- Start of Google Analytics Code -->
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-69688409-1', 'auto');
ga('send', 'pageview');

    </script>
</body>


</html>
