<!DOCTYPE html>
<html ng-app="MainApp">

<head>
    <title>Wizio!</title>

    <!-- Bootstrap and LESS -->
    <link href="../public/build/styles.css" rel="stylesheet">

    <!--jquery-->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <!--angularJS-->
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <!--angular Resource-->
    <script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
    <!--angular ui.router-->
    <script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!--bootstrap JS-->
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!--angular lodash-->
    <script type="text/javascript" src="../bower_components/ng-lodash/build/ng-lodash.js"></script>
    <!--angular storage-->
    <script type="text/javascript" src="../bower_components/ngstorage/ngStorage.js"></script>
    <!--angular jwt-->
    <script type="text/javascript" src="../bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <!--angular bootstrap ui-->
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!--custom JS-->
    <!-- app.js-->
    <script type="text/javascript" src="/app/corescripts/app.js"></script>
    <!--config JS-->
    <script type="text/javascript" src="/app/corescripts/config.js"></script>
    <!--routes.js-->
    <script type="text/javascript" src="/app/corescripts/routes.js"></script>
    <!--landing page controller-->
    <script type="text/javascript" src="/app/modules/landingPageApp/landingPageCtrl.js"></script>
    <!--blog controller-->
    <script type="text/javascript" src="/app/modules/blogApp/blogController.js"></script>
    <!--account creation controller-->
    <script type="text/javascript" src="/app/modules/AccountApp/authapp/controllers/accountcreatectrl.js"></script>
    <!--navbar controller-->
    <script type="text/javascript" src="/app/modules/navbarapp/controllers/NavbarCtrl.js"></script>
    <!--login controller-->
    <script type="text/javascript" src="/app/modules/AccountApp/authapp/controllers/AuthLoginCtrl.js"></script>
    <!--apartment display controller-->
    <script type="text/javascript" src="/app/modules/UnitApp/controllers/UnitDisplayCtrl.js"></script>
    <script type="text/javascript" src="/app/modules/shared/sharedFactories/sharedFactories.js"></script>
    <script type="text/javascript" src="/app/modules/shared/sharedFactories/sharedResources.js"></script>
    <script type="text/javascript" src="/app/modules/AccountApp/authapp/factories/resources.js"></script>
    <script type="text/javascript" src="/app/modules/AccountApp/authapp/factories/factories.js"></script>
    <script type="text/javascript" src="/app/modules/shared/sharedServices/sharedServices.js"></script>
    <script type="text/javascript" src="/app/modules/shared/sharedServices/getset/apartmentgetset.js"></script>
    <!--apartment resource-->
    <script type="text/javascript" src="/app/modules/UnitApp/UnitResource.js"></script>
    <!--apartment controller-->
    <script type="text/javascript" src="/app/modules/UnitApp/controllers/UnitCreateCtrl.js"></script>
    <script type="text/javascript" src="/app/modules/UnitApp/controllers/UnitDetailsCtrl.js"></script>
    <!--NEW FORMAT INJECTIONS -->
    <!--SELLER APPLICATION-->
    <!--Profile App-->
    <script type="text/javascript" src="/app/modules/AccountApp/profileapp/controllers/profileformctrl.js"></script>
    <script type="text/javascript" src="/app/modules/AccountApp/profileapp/controllers/profilesavemodalctrl.js"></script>
    <script type="text/javascript" src="/app/modules/AccountApp/profileapp/controllers/profilecreatemodalctrl.js"></script>
    <script type="text/javascript" src="/app/modules/AccountApp/profileapp/controllers/profileexistsmodalctrl.js"></script>
    <script type="text/javascript" src="/app/modules/AccountApp/profileapp/resources/profileresource.js"></script>

    <!--Dashboard App-->
    <script type="text/javascript" src="/app/modules/AccountApp/dashboardapp/controllers/DashboardMainCtrl.js"></script>
    <script type="text/javascript" src="/app/modules/AccountApp/dashboardapp/controllers/DashboardUserInfoCtrl.js"></script>
    <!--Settings App-->
    <!--BUYER APPLICATION-->

    <!-- SELLER APPLICATION END-->

    <!--ACCOUNT JAVASCRIPT END-->
</head>


<body class="bckcolor">
    <div ui-view="navbar">

    </div>
    <div ui-view="maincontent">

    </div>
</body>

</html>
