<!DOCTYPE html>
<html ng-app="MainApp">

<head>
    <title>Wizio!</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../public/stylesheets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" media="screen" charset="utf-8">

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script type="text/javascript" src="../bower_components/ngstorage/ngStorage.js"></script>
    <script type="text/javascript" src="../bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


    <script type="text/javascript" src="/app/corescripts/app.js"></script>
    <script type="text/javascript" src="/app/corescripts/routes.js"></script>
    <script type="text/javascript" src="/app/modules/landingpageapp/landingpagectrl.js"></script>
    <script type="text/javascript" src="/app/modules/landingpageapp/landingpageservices.js"></script>
    <script type="text/javascript" src="/app/modules/landingpageapp/landingpagefactories.js"></script>
    <script type="text/javascript" src="/app/modules/blogApp/blogController.js"></script>
    <script type="text/javascript" src="/app/modules/accountcreateapp/accountcreatectrl.js"></script>
    <script type="text/javascript" src="/app/modules/sharedfactories/sharedresources.js"></script>
    <script type="text/javascript" src="/app/modules/sharedfactories/sharedfactories.js"></script>
    <script type="text/javascript" src="/app/modules/sharedservices/sharedservices.js"></script>
    <script type="text/javascript" src="/app/modules/navbarapp/navbarctrl.js"></script>
    <script type="text/javascript" src="/app/modules/loginapp/loginctrl.js"></script>
    <script type="text/javascript" src="/app/modules/brokerapp/controllers/brokeraddinfoctrl.js"></script>
    <script type="text/javascript" src="/app/modules/brokerapp/brokerResource.js"></script>
    <script type="text/javascript" src="/app/modules/ApartmentsApp/Controllers/apartmentsdisplayctrl.js"></script>
    <script type="text/javascript" src="/app/modules/ApartmentsApp/apartmentsresource.js"></script>


    <link rel="stylesheet" type="text/css" href="public/stylesheets/customcss/landingpage.css">
</head>

<body>
    <div ui-view="navbar">

    </div>
    <div ui-view="maincontent">

    </div>
</body>

</html>
