<!DOCTYPE html>
<html ng-app="MainApp">

<head>
    <title>Wizio!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap and LESS -->
    <link href="../public/build/styles.css" rel="stylesheet">
    <link href="../public/stylesheets/siteCSSforTesting/mapTest.css" rel="stylesheet">
    <link href="../public/build/stylessass.css" rel="stylesheet">

    <!--jquery-->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <!--angularJS-->
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <!--angular Resource-->
    <script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
    <!--angular ui.router-->
    <script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!--bootstrap JS-->
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!--angular lodash-->
    <script type="text/javascript" src="../bower_components/ng-lodash/build/ng-lodash.js"></script>
    <!--angular storage-->
    <script type="text/javascript" src="../bower_components/ngstorage/ngStorage.js"></script>
    <!--angular jwt-->
    <script type="text/javascript" src="../bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <!--angular bootstrap ui-->
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--Stuff for the AWS upload controller-->
    <script src="../bower_components/toastr/build/toastr.min.js"></script>
    <script src="../bower_components/aws-sdk/dist/aws-sdk.min.js"></script>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/javascript" src="../bower_components/ng-facebook/ngFacebook.js"></script>

    <script type="text/javascript" src="../bower_components/jasmine-core/lib/jasmine-core.js"></script>
    <!--<script type="text/javascript" src="../public/build/scripts.js"></script>-->


    <!-- ===================================CORE SCRIPTS APP======================================-->
        <!--custom JS-->
        <!-- app.js-->
        <script type="text/javascript" src="/app/corescripts/app.js"></script>
        <!--config JS-->
        <script type="text/javascript" src="/app/corescripts/config.js"></script>
        <!--routes.js-->
        <script type="text/javascript" src="/app/corescripts/routes.js"></script>
    <!-- =================================================================================-->

        <!--landing page controller-->
        <script type="text/javascript" src="/app/modules/landingpageapp/controllers/landingpagectrl.js"></script>
        <!--AWS Upload controller-->
        <script type="text/javascript" src="/app/modules/amazons3uploadapp/amazons3uploadctrl.js"></script>
        <!--AWS Upload directive-->
        <script type="text/javascript" src="/app/modules/amazons3uploadapp/amazons3uploaddirectives.js"></script>
        <!--navbar controller-->
        <script type="text/javascript" src="/app/modules/navbarapp/controllers/navbarctrl.js"></script>
        <!--apartment display controller-->
        <script type="text/javascript" src="/app/modules/unitapp/controllers/UnitDisplayCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/unitapp/main/UnitMainCtrl.js"></script>

    <!-- =================================================================================-->
    <!-- ===================================SHARED APP======================================-->
        <script type="text/javascript" src="/app/modules/shared/sharedfactories/sharedfactories.js"></script>
        <script type="text/javascript" src="/app/modules/shared/sharedfactories/sharedresources.js"></script>
        <script type="text/javascript" src="/app/modules/shared/sharedservices/sharedservices.js"></script>
        <script type="text/javascript" src="/app/modules/shared/sharedservices/getset/apartmentgetset.js"></script>
        <script type="text/javascript" src="/app/modules/shared/sharedservices/getset/flexgetset.js"></script>
        <script type="text/javascript" src="/app/modules/shared/sharedservices/getset/reroutegetset.js"></script>

    <!-- =================================================================================-->
    <!-- ===================================ACCOUNT APP======================================-->
        <script type="text/javascript" src="/app/modules/accountapp/authapp/factories/resources.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/authapp/factories/factories.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/main/AccountMainCtrl.js"></script>
        <!--login controller-->
        <script type="text/javascript" src="/app/modules/accountapp/authapp/controllers/AuthLoginCtrl.js"></script>
        <!--account creation controller-->
        <script type="text/javascript" src="/app/modules/accountapp/authapp/controllers/AuthCreateAcctCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/authapp/controllers/AuthCreateAcctModalCtrl.js"></script>
        <!--Dashboard App-->
        <script type="text/javascript" src="/app/modules/accountapp/dashboardapp/controllers/DashboardMainCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/dashboardapp/controllers/DashboardUserInfoCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/dashboardapp/controllers/DashboardWaitlistCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/authapp/factories/services.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/dashboardapp/resources/resources.js"></script>



    <!-- =================================================================================-->

        <script type="text/javascript" src="/app/modules/footerapp/controllers/footerctrl.js"></script>
    <!-- ===================================UNIT APP======================================-->
        <!--apartment resource-->
        <script type="text/javascript" src="/app/modules/unitapp/UnitResource.js"></script>
        <script type="text/javascript" src="/app/modules/unitapp/UnitServices.js"></script>
        <!--apartment controller-->
        <script type="text/javascript" src="/app/modules/unitapp/controllers/UnitCreateCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/unitapp/controllers/UnitDetailCtrl.js"></script>
    <!-- =================================================================================-->
    <!-- ===================================APPLICATION APP======================================-->
        <script type="text/javascript" src="/app/modules/applicationapp/waitlistapp/controllers/WaitlistCreateModalCtrl.js"></script>
        <script type="text/javascript" src="app/modules/applicationapp/resources/applicationresource.js"></script>
<script type="text/javascript" src="app/modules/applicationapp/applicationformapp/controllers/applicationformctrl.js"></script>
<!-- =================================================================================-->

<!-- ===================================PROFILE APP======================================-->
<!--NEW FORMAT INJECTIONS -->
<!--SELLER APPLICATION-->
<!--Profile App-->
<script type="text/javascript" src="/app/modules/accountapp/profileapp/controllers/profileformctrl.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/profileapp/controllers/profilesavemodalctrl.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/profileapp/controllers/profilecreatemodalctrl.js"></script>
<script type="text/javascript" src="/app/modules/accountapp/profileapp/controllers/profileexistsmodalctrl.js"></script>
        <script type="text/javascript" src="/app/modules/accountapp/profileapp/resources/profileresource.js"></script>
    <!-- =================================================================================-->

    <!-- ===================================CAMPAIGN APP======================================-->
        <script type="text/javascript" src="/app/modules/campaignapp/main/CampaignMainCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/campaignapp/videouploadapp/controllers/VideoUploadMainCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/campaignapp/videouploadapp/controllers/VideoUploadSplashCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/campaignapp/videouploadapp/controllers/VideoUploadModalCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/campaignapp/videouploadapp/services/services.js"></script>
    <!--=======================================================================================-->
    <!-- ===================================ADMIN PANEL APP======================================-->
        <script type="text/javascript" src="/app/modules/adminpanelapp/main/AdminPanelMainCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/adminpanelapp/controllers/AdminUpdateUnitCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/adminpanelapp/controllers/AdminSearchUnitCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/adminpanelapp/controllers/AdminUpdateAssignmentCtrl.js"></script>
        <script type="text/javascript" src="/app/modules/adminpanelapp/controllers/admincreateunitctrl.js"></script>
        <script type="text/javascript" src="/app/modules/adminpanelapp/controllers/admincreateassignmentctrl.js"></script>
        <script type="text/javascript" src='app/modules/adminpanelapp/resources.js'>

        </script>
    <!--=======================================================================================-->

    <!-- ===================================BLOG APP======================================-->
        <script type="text/javascript" src="/app/modules/blogapp/controllers/BlogMain.js"></script>
        <script type="text/javascript" src="/app/modules/blogapp/controllers/BlogListCtrl.js"></script>
        <link href="../public/stylesheets/blogStyle.css" rel="stylesheet">
    <!--=======================================================================================-->

    <!-- ===================================ABOUT US APP======================================-->
        <script type="text/javascript" src="/app/modules/aboutusapp/controllers/AboutMain.js"></script>
        <script type="text/javascript" src="/app/modules/aboutusapp/controllers/AboutListCtrl.js"></script>
    <!--=======================================================================================-->



<!-- ===================================FAVICONS======================================-->
<link rel="apple-touch-icon" sizes="57x57" href="public/viewtemplates/images/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="public/viewtemplates/images/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="public/viewtemplates/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="public/viewtemplates/images/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="public/viewtemplates/images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="public/viewtemplates/images/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="public/viewtemplates/images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="public/viewtemplates/images/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="public/viewtemplates/images/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="public/viewtemplates/images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="public/viewtemplates/images/favicons/manifest.json">
<link rel="mask-icon" href="public/viewtemplates/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="public/viewtemplates/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="public/viewtemplates/images/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="public/viewtemplates/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#fa9a29">
<!--=======================================================================================-->

    <!--Settings App-->
    <!--BUYER APPLICATION-->
    <!--APPLICATION APP -->

    <!-- APPLICATION APP END -->
    <!-- SELLER APPLICATION END-->

    <!--ACCOUNT JAVASCRIPT END-->

    <!--GOOGLE API STUFF-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp?key=AIzaSyBa_cJXQRkemaNQQIVqrX5j253Mo9ixax0"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>  -->
<!--    <script src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false" type="text/javascript"></script>  Might not need components-->
</head>
<!-- Start of Async HubSpot Analytics Code -->
 <script type="text/javascript">
   (function(d,s,i,r) {
     if (d.getElementById(i)){return;}
     var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
     n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1721151.js';
     e.parentNode.insertBefore(n, e);
   })(document,"script","hs-analytics",300000);
 </script>
<!-- End of Async HubSpot Analytics Code -->
<!-- Start of Google Analytics Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69688409-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- End of Google Analytics Code -->

<body >
    <div ui-view="navbar">

    </div>
    <div ui-view="maincontent">

    </div>
    <div ui-view="footer">

    </div>
</body>

</html>
