<div class="container">
    <div class="info-logo-header" >
        <img src="/public/viewtemplates/images/brand_assets/wizio_logo_gray.png" style="width: 200px; height:auto;">
    </div>
    <div class="row flex-data-block top-table">
        <div class="col-md-6 flex-column">
            <i class="fa fa-building-o fa-5x" aria-hidden="true"></i>
            <h5>Buildings Filmed:  <br> {{::data.numOfAddresses}}</h5>
        </div>
        <div class="col-md-6 flex-column">
            <i class="fa fa-bed fa-5x" aria-hidden="true"></i>
            <h5>Units Filmed:  <br> {{::data.numOfUnits}}</h5>
        </div>
    </div>
    <div class="row flex-data-block" >
        <div class="col-md-6 flex-column">
            <i class="fa fa-square-o fa-5x" aria-hidden="true"></i>
            <h5>Number of Units Represented: <br> Approximately 2500</h5>
        </div>
        <div class="col-md-6 flex-column">
            <i class="fa fa-pie-chart fa-5x" aria-hidden="true"></i>
            <h5>Percent of Inventory Luxury:  <br> 50%</h5>
        </div>
    </div>
    <div class="row flex-header" style="background-color:#F69746">
        <div class="col-md-12">
            <h5>"With Wizio's service we are able to reach clients ... previously unattainable." <br> -  A Satisified Customer</h5>
        </div>
    </div>
    <div class="row flex-data-block">
        <div class="col-md-6 flex-column">
            <h5>Top 5 Neighborhoods Represented</h5>
            <p>Corey St <br>
            Medford St/The Neck <br>
            Brighton<br>
            Fenway/Conway <br>
            North Conway</p>
            <ul>
                <!-- <li ng-repeat="(key, val) in data.byNeighborhood track by $index">{{key}}: {{val.length}}</li> -->
                <li ng-repeat="neighborhood in sortedNeighborhoods track by $index">
                    {{neighborhood.neighborhood}}: {{neighborhood.amount}}
                </li>
            </ul>
        </div>
        <div class="col-md-6 flex-column ">
            <h5>Top 5 Property Managers Represented</h5>
            <p>Barclay on Beacon <br>
            Lincoln Property Company <br>
            Fineberg Companies<br>
            Emilio Ventouri <br>
            Star Realty</p>
            <ul>
                <li ng-repeat="(key, val) in data.byPropertyManagers track by $index">{{key}}: {{val.length}}</li>
            </ul>
        </div>
    </div>
    <div class="info-logo-footer" >
        <img src="public/viewtemplates/images/favicons/apple-touch-icon-180x180.png">
    </div>
    <!-- <div class="row" ng-repeat="(key, val) in data.byStreet track by $index" style="padding:5px; border:1px solid black;">
        <div class="col-md-6">Street: {{key}}</div>
        <div class="col-md-6">Number Of Units: {{val.length}}</div>
    </div>
</div>
