<div class="" style="height:100%">
    <div class="container unit-details-media-container" ng-hide="media.vrphoto[0].awsurl" style="height:100%">
        <div class="unit-details-media-tab-content" style="height:100%">
            <div class="embed-responsive embed-responsive-16by9">
                <!-- <div class="" style="background-color: black; height: 50px;position:relative;top:0;left:0;z-index:1000;">

                </div> -->
                <div class="">
                    {{photoUrl}}
                </div>
                <!-- <iframe allowfullscreen="allowfullscreen" frameborder="0" height="480" src={{trust.trustAsResourceUrl(photoUrl)}} width="640"></iframe> -->

            </div>

        </div>
        <div class="unit-details-media-tab-content-picker-wrapper">
            <div class="unit-details-media-tab-content-picker-slider-scroller">
                <div class="unit-details-media-tab-content-picker-slider" style="overflow-x:auto">
                    <div class="unit-details-media-tab-content-picker" ng-repeat="photo in media.vrphoto track by $index" style="margin:0;cursor:pointer;">
                        <div class="btn btn-search-bar center_button" ng-click="changePhoto($index)" style="width:7em;">
                            {{photo.title}}
                        </div>
                        <!--  style="text-decoration:none;color:black;text-align:center; -->
                        <!-- style="width:100px; height:50px;vertical-align:middle;display:table-cell;margin:0px;5px;0px;5px;border:1px solid black;background-color:lightgray" -->
                        <!-- <img src="http://placehold.it/160x90" class="unit-details-media-tab-content-picker__img" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="height:100%" ng-show="media.vrphoto[0].awsurl">
        <div class="" ng-show="mediaTab == 'unitPhotos'" style="height:100%">
            <div class="embed-responsive embed-responsive-16by9" style="padding-bottom: 0; height:100%">
                <div class="" id="unit-details-pins-container" style="z-index:1000;">
                    <div id="panel-container">
                        <div class="">
                            <div id='panel-text'>
                                Floor Plan
                            </div>
                            <div class="">
                                <img src="https://s3.amazonaws.com/equirect-photos/Unit+501/floorplan.png" style="" alt="" id='unit-details-floorplan-img'/>
                                <!--Bedroom  -->
                                <img src="public/viewtemplates/images/brand_assets/map_pin.png" ng-hide="photoIndex === 1" ng-click='changePhoto(1)'  class="unit-details-floorplan-pin" alt="" style="cursor: pointer; top: 35px; left: 85px;" />
                                <img src="public/viewtemplates/images/favicons/mstile-70x70.png" ng-show="photoIndex === 1" ng-click='changePhoto(1)'  class="unit-details-floorplan-pin" alt="" style="width: 40px; height: 40px; cursor: pointer; top: 35px; left: 85px;" />
                                <!--Bathroom  -->
                                <img src="public/viewtemplates/images/brand_assets/map_pin.png" ng-hide="photoIndex === 0" ng-click='changePhoto(0)'  class="unit-details-floorplan-pin" alt="" style="cursor: pointer; top: 205px; left: 60px;" />
                                <img src="public/viewtemplates/images/favicons/mstile-70x70.png" ng-show="photoIndex === 0" ng-click='changePhoto(0)'  class="unit-details-floorplan-pin" alt="" style="width: 45px; height: 45px; cursor: pointer; top: 210px; left: 55px;" />
                                <!--Kitchen  -->
                                <img src="public/viewtemplates/images/brand_assets/map_pin.png" ng-hide="photoIndex === 4" ng-click='changePhoto(4)'  class="unit-details-floorplan-pin" alt="" style="cursor: pointer; top: 215px; left: 230px;" />
                                <img src="public/viewtemplates/images/favicons/mstile-70x70.png" ng-show="photoIndex === 4" ng-click='changePhoto(4)'  class="unit-details-floorplan-pin" alt="" style="width: 45px; height: 45px; cursor: pointer; top: 215px; left: 230px;" />
                                <!-- Entry -->
                                <!-- <img src="public/viewtemplates/images/brand_assets/map_pin.png" ng-click='changePhoto(3)'  class="unit-details-floorplan-pin" alt="" style="cursor: pointer; top: 215px; left: 150px;" /> -->
                                <!-- Living/Dining -->
                                <img src="public/viewtemplates/images/brand_assets/map_pin.png" ng-hide="photoIndex === 5" ng-click='changePhoto(5)'  class="unit-details-floorplan-pin" alt="" style="cursor: pointer; top: 70px; left: 200px;" />
                                <img src="public/viewtemplates/images/favicons/mstile-70x70.png" ng-show="photoIndex === 5" ng-click='changePhoto(5)'  class="unit-details-floorplan-pin" alt="" style="width: 45px; height: 45px; cursor: pointer; top: 70px; left: 200px;" />
                            </div>
                        </div>
                    </div>
                    <!-- <img src="https://s3.amazonaws.com/equirect-photos/Unit+501/floorplan.png" style="" alt="" id='unit-details-floorplan-img'/> -->
                </div>
                <!-- <iframe ng-hide="media.vrphoto[0].awsurl" allowfullscreen="allowfullscreen" frameborder="0" height="480" src={{trust.trustAsResourceUrl(photoUrl)}} width="640"></iframe> -->
                <div id="sphere"></div>
                <!-- <vr-photo-player-dirv photoUrl='{{photoUrl}}' style="width:100%;"></vr-photo-player-dirv>; -->
            </div>
        </div>
        <div class="unit-details-media-tab-content-picker-wrapper" ng-show="mediaTab == 'unitPhotos'" style="height:10vh">
            <div class="unit-details-media-tab-content-picker-slider-scroller">
                <div class="unit-details-media-tab-content-picker-slider" style="overflow-x:auto">
                    <div class="unit-details-media-tab-content-picker" ng-repeat="photo in media.vrphoto track by $index" style="margin:0;cursor:pointer;">
                        <div class="btn btn-search-bar center_button" ng-click="changePhoto($index)" style="width:7em;">
                            {{photo.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <iframe allowfullscreen="allowfullscreen" frameborder="0" height="480" src="https://www.bubl.io/embed/de2e535a-a51b-4a83-9e59-62c56aaa4c8e" width="640"></iframe> -->
