<div class="modal-header">
    <h2>Virtual Tour Protected by Password</h2>
</div>
<div class="modal-body">
    <p>
        The owner of this content has chosen to protect it with a password. Upon
        receiving the virtual tour link from the agent/owner of the content, they should have
        provided you a password. Enter that password here and press submit to view.
    </p>
    <div class="form-group">
        <label class="control-label">Virtual Tour Pin</label>
        <input type="text" style="border: 1px solid black;" ng-model="virtualtourpin" class="form-control" name="" value="">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline--orange" ng-click="submit()" name="button">Submit</button>
</div>
