<div class="modal-header">
    <close-modal-dirv></close-modal-dirv>
    <div class="page-header">
        <closeModalDirv></closeModalDirv>
        <h3>Share All Apartments <small>Choose which brokerages you'd like to share all of your apartments with.</small></h3>
        <button type="button" name="button">More Info</button>
    </div>

</div>
<div class="modal-body">
    <h3>Brokerages</h3>
    <div class="" ng-repeat="brokerage in brokerages track by $index">
        <div ng-class="brokerage.selected ? 'brokerage-access-boxes-fill' : 'brokerage-access-boxes'" ng-click="selectBrokerage($index)">
            <h5> {{brokerage.businessName}} </h5>
            <h5> {{brokerage.firstName + ' ' + brokerage.lastName}} </h5>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="btn" name="button" ng-click="submit()">Accept</button>
</div>
