<loading-spinner-dir id="vrPlayerLoader" style="position: absolute; z-index:1000; top:50%; left:50%; color:#f79739; visibility: hidden;"></loading-spinner-dir>
<div class="" style="height:100%; width:100%;" ng-show="media.vrphoto[0].awsurl">
    <div class="embed-responsive embed-responsive-16by9" id="height-container">
        <img src="public/assets/black.png" height="100%" width="100%" style="
                opacity: 0;
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 500;
                ">

        <div ng-show="selectPhoto || viewFloorPlan" class="vr-control-overlay"></div>
        <!-- <iframe ng-hide="media.vrphoto[0].awsurl" allowfullscreen="allowfullscreen" frameborder="0" height="480" src={{trust.trustAsResourceUrl(photoUrl)}} width="640"></iframe> -->
        <div id="sphere"></div>
    </div>
</div>
<div class="vr-control-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3" >
                <button class="btn btn-fill--orange btn-md form-control vr-player-control" ng-click="selectPhoto = !selectPhoto;" style="margin:5px" type="submit">Photos</button>
            </div>
            <div class="col-xs-6 col-md-3">
                <button class="btn btn-fill--orange btn-md form-control vr-player-control" ng-show="floorplan !== null" ng-click="viewFloorPlan = !viewFloorPlan;" style="margin: 5px;" type="submit">Floor Plan</button>
            </div>
        </div>
    </div>
</div>
