<div class="">
    <h2>Apartment Creation</h2>
</div>
<div class="formSt" id="formbg">
    <h4>This is where you claim the units you manage/rent. After you claim units you'll be able to post them as listings and receive applications for them!</h4>
    <form action="index.html" id="formbg" method="post">
        <div class="" ng-repeat="address in containingArray track by $index" style="border: 1px solid black; border-radius: 5px; padding: 10px; margin:5px;">
            <label class="control-label" style="padding-top:10px;">Apartment Address</label>
            <div class="smartSearchCntr" ng-hide="singleUnit">
                <input class="form-control" ng-model="address[0].apartmentData.concatAddr" type="text" typeahead-loading="loadingLocations" typeahead-min-length="5" typeahead-no-results="noResults" typeahead="address for address in getLocation($viewValue)" />
                <i class="glyphicon glyphicon-refresh" ng-show="loadingLocations"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
            <div class="editApartmentAddressCntr" ng-show="singleUnit">
                <input type="text" name="name" class="form-control" value="{{address[0].concatAddr}}" disabled="disabled">
            </div>
            <div class="form-group" ng-show="multiplePMBusinesses">
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Property Management Company For These Units</label>
                        <select class="form-control" name="" ng-change="assignPropertyManager()" ng-model="selectedPM" ng-options="pmBusinesses as pmBusinesses.businessName for pmBusinesses in selectOptions.pmBusinesses">

                        </select>
                    </div>
                </div>
            </div>
            <label class="control-label" for="" style="padding-top:10px;">Units At This Address</label>
            <div class="">
                <div class="" ng-repeat="unit in address track by $index">
                    <div class="col-md-12" id="formbg" style="padding:10px; border-bottom:1px solid black;">
                        <h4>Address: {{unit.apartmentData.concatAddr}}
                        </h4>
                        <label class="control-label">Unit Num:</label>
                        <input class="form-control col-md-4" ng-blur="onUnitBlur($parent.$index, $index)" ng-model="unit.apartmentData.unitNum" type="text" />
                        <form class="">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Beds</label>
                                        <select class="form-control" name="" ng-model="unit.apartmentData.beds" ng-options="bed for bed in selectOptions.beds"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Baths</label>
                                        <select class="form-control" name="" ng-model="unit.apartmentData.baths" ng-options="baths for baths in selectOptions.baths"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Living Spaces</label>
                                        <select class="form-control" name="" ng-model="unit.apartmentData.livingSpaces" ng-options="livingSpaces for livingSpaces in selectOptions.livingSpaces"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Laundry In Unit</label>
                                        <select class="form-control" name="" ng-model="unit.apartmentData.laundry" ng-options="laundry for laundry in selectOptions.laundry"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Elevator</label>
                                        <select class="form-control" name="" ng-model="unit.apartmentData.elevator" ng-options="elevator for elevator in selectOptions.elevator"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="user.userType === 3">
                                <h3>Property Manager Info</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">This Property Manager is a...</label>
                                        <select class="form-control" name="" ng-model="unit.PropertyManager.personalOrBusiness" ng-options="pmBusinessOrPerson for pmBusinessOrPerson in selectOptions.pmBusinessOrPerson">

                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" ng-show="unit.PropertyManager.personalOrBusiness === 'Person'">
                                        <label class="control-label">First Name</label>
                                        <input class="form-control" name="" ng-model="unit.PropertyManager.firstName"></input>
                                    </div>
                                    <div class="col-md-4" ng-show="unit.PropertyManager.personalOrBusiness === 'Person'">
                                        <label class="control-label">Last Name</label>
                                        <input class="form-control" name="" ng-model="unit.PropertyManager.lastName"></input>
                                    </div>
                                    <div class="col-md-12" ng-hide="unit.PropertyManager.personalOrBusiness === 'Person'">
                                        <label class="control-label">Company Name</label>
                                        <input class="form-control" name="" ng-model="unit.PropertyManager.businessName"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Phone Number</label>
                                        <input class="form-control" name="" ng-model="unit.PropertyManager.phoneNumber"></input>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Address</label>
                                        <input class="form-control" name="" ng-model="unit.PropertyManager.address"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="true">
                                <div class="row">
                                    <div class="">
                                        <h3>Would you like to list this apartment now for an upcoming lease cycle?</h3>
                                        <select class="form-control" name="" ng-model="unit.makeCurrentListing" ng-options="makeCurrentListing for makeCurrentListing in selectOptions.makeCurrentListing">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="unit.makeCurrentListing === 'Serendipity'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Description</label>
                                        <textarea name="name" ng-model="unit.Description.description" ng-blur="onDescriptionBlur($parent.$index, $index)" class="form-control" rows="4" cols="160"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="unit.makeCurrentListing === 'Serendipity'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Broker Fee Amount</label>
                                        <input type="text" name="name" value="">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <center>
                        <button class="btn btn-lg btn-fill--blue" style="margin:5px 5px 5px 5px;" name="button" ng-hide="singleUnit" ng-click="copyUnit($parent.$index, $index)" type="button">Copy Unit</button>
                        <button class="btn btn-lg btn-fill--blue" style="margin:5px 5px 5px 5px;" name="button" ng-hide="singleUnit" ng-click="removeUnit($parent.$index, $index)" type="button">Remove Unit</button>
                    </center>
                    <button name="button" class="btn btn-lg btn-fill--blue" style="margin:5px 5px 5px 5px;" ng-hide="singleUnit" ng-click="addUnit($index)" type="button">New Unit</button>
                </div>
            </div>
            <!-- <button class="btn" name="button" ng-hide="singleUnit" ng-click="addRange($index)" type="button">Add Range Of Units</button> -->
        </div>
        <!-- <button class="btn" ng-click="addAddress()" ng-hide="singleUnit" style="margin-top:10px;" type="button">Add Address</button> -->
        <button type="button" class="btn" name="button" ng-click="submit()">Submit</button>
    </form>
</div>
