<div class="details container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="hidden-xs hidden-sm">
      <center><iframe width="600px" height="385px"
      ng-src="{{apartment.youtubeLink}}"
      frameborder="0" allowfullscreen id="demo">
      </iframe></center>
      </div><!--mobile hidden-->

      <div class="hidden-md hidden-lg">
      <center><iframe width="380px" height="320px"
      ng-src="{{apartment.youtubeLink}}"
      frameborder="0" allowfullscreen id="demo">
      </iframe></center>
      </div><!--desktop hidden-->
    </div><!-- col-md-3 -->

    <div clss="col-lg-6">
    </br>
      <center>
          <button ng-show="available" class="btn btn-success" ng-click="apply()">Apply For Apartment</button>
          <button ng-hide="waitlisted || available" class="btn btn-success" ng-click="waitlist()">Get on Waitlist</button>
          <button ng-show="waitlisted" class="btn btn-success" ng-disabled>You're Waitlisted</button>
          <button class="btn btn-success">Setup in Person Tour</button>
      </center>
    </br></br>
      <p></br></p>
    </br>
    </div><!--col-md-3-->
  </div><!-- row -->

  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{apartment.concatAddr}}</span>
          Address
        </li>

        <li class="list-group-item">
          <span class="badge">{{apartment.beds}}</span>
          Beds
        </li>
      </ul><!-- ul -->
    </div><!-- col-md-6 -->

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{apartment.baths}}</span>
          Baths
        </li>

        <li class="list-group-item">
          <span class="badge">{{apartment.livingSpaces}}</span>
          Living Spaces
        </li>

        <li class="list-group-item">
          <span class="badge">{{apartment.maxResidency}}</span>
          Max Residency
        </li>

        <li class="list-group-item">
          <span class="badge">{{apartment.costPerMonth}}</span>
          Cost Per Month
        </li>

        <li class="list-group-item">
          <span class="badge">{{apartment.renovated}}</span>
          Newly Renovated
        </li>

        <li class="list-group-item">
          <span class="badge">{{apartment.pets}}</span>
          Pet Policy
        </li>
      </ul><!-- list group -->
    </div><!-- col-md-6 -->
  </div><!-- row -->
  <div>
      <div id="map"></div>
      <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
           <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
      </div>
  </div>
</div><!--container -->
