<div class="">
    <div class="container unit-details-media-container" ng-hide="media.vrphoto[0].awsurl">
        <div class="unit-details-media-tab-content">
            <div class="embed-responsive embed-responsive-16by9">
                <!-- <div class="" style="background-color: black; height: 50px;position:relative;top:0;left:0;z-index:1000;">

                </div> -->
                <div class="">
                    {{photoUrl}}
                </div>
                <!-- <iframe allowfullscreen="allowfullscreen" frameborder="0" height="480" src={{trust.trustAsResourceUrl(photoUrl)}} width="640"></iframe> -->

            </div>

        </div>
        <div class="unit-details-media-tab-content-picker-wrapper">
            <div class="unit-details-media-tab-content-picker-slider-scroller">
                <div class="unit-details-media-tab-content-picker-slider" style="overflow-x:auto">
                    <div class="unit-details-media-tab-content-picker" ng-repeat="photo in media.vrphoto track by $index" style="margin:0;cursor:pointer;">
                        <div class="btn btn-search-bar center_button" ng-click="changePhoto($index)" style="width:7em;">
                            {{photo.title}}
                        </div>
                        <!--  style="text-decoration:none;color:black;text-align:center; -->
                        <!-- style="width:100px; height:50px;vertical-align:middle;display:table-cell;margin:0px;5px;0px;5px;border:1px solid black;background-color:lightgray" -->
                        <!-- <img src="http://placehold.it/160x90" class="unit-details-media-tab-content-picker__img" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="height:100vh" ng-show="media.vrphoto[0].awsurl">
        <div class="" ng-show="mediaTab == 'unitPhotos'">
            <div class="embed-responsive embed-responsive-16by9" style="padding-bottom: 0; height: 90vh">
                <!-- <iframe ng-hide="media.vrphoto[0].awsurl" allowfullscreen="allowfullscreen" frameborder="0" height="480" src={{trust.trustAsResourceUrl(photoUrl)}} width="640"></iframe> -->
                <new-vr-photo-player-dirv id="sphere" photoUrl='{{photoUrl}}' style="width:100%"></new-vr-photo-player-dirv>
                <!-- <vr-photo-player-dirv photoUrl='{{photoUrl}}' style="width:100%;"></vr-photo-player-dirv>; -->
            </div>
        </div>
        <div class="unit-details-media-tab-content-picker-wrapper" ng-show="mediaTab == 'unitPhotos'" style="height:10vh">
            <div class="unit-details-media-tab-content-picker-slider-scroller">
                <div class="unit-details-media-tab-content-picker-slider" style="overflow-x:auto">
                    <div class="unit-details-media-tab-content-picker" ng-repeat="photo in media.vrphoto track by $index" style="margin:0;cursor:pointer;">
                        <div class="btn btn-search-bar center_button" ng-click="changePhoto($index)" style="width:7em;">
                            {{photo.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <iframe allowfullscreen="allowfullscreen" frameborder="0" height="480" src="https://www.bubl.io/embed/de2e535a-a51b-4a83-9e59-62c56aaa4c8e" width="640"></iframe> -->
