<div class="container unit-details-media-container">
    <div class="unit-details-media-tab-content" ng-show="mediaTab == 'unitVideos'">
        <div class="embed-responsive embed-responsive-16by9">
            <script type="text/javascript">
                var manualControl = false;
                var longitude = 0;
                var latitude = 0;
                var savedX;
                var savedY;
                var savedLongitude;
                var savedLatitude;

                // panoramas background
                var panoramasArray = ["public/assets/equirect-5376x2688-bf11b3a4-c73a-45f6-a080-493a79340ffc.jpg"];
                var panoramaNumber = 0;

                // setting up the renderer
                renderer = new THREE.WebGLRenderer();
                renderer.setSize(window.innerWidth, window.innerHeight);
                document.getElementsByClassName('embed-responsive-16by9')[1].appendChild(renderer.domElement);
                // console.dir(document.getElementsByClassName('embed-responsive-16by9')[1])
                // creating a new scene
                var scene = new THREE.Scene();

                // adding a camera
                var camera = new THREE.PerspectiveCamera(100, window.innerWidth / window.innerHeight, 1, 1000);
                camera.target = new THREE.Vector3(0, 0, 0);

                // creation of a big sphere geometry
                var sphere = new THREE.SphereGeometry(100, 100, 40);
                sphere.applyMatrix(new THREE.Matrix4().makeScale(-1, 1, 1));

                // creation of the sphere material
                var sphereMaterial = new THREE.MeshBasicMaterial();
                sphereMaterial.map = THREE.ImageUtils.loadTexture(panoramasArray[panoramaNumber])

                // geometry + material = mesh (actual object)
                var sphereMesh = new THREE.Mesh(sphere, sphereMaterial);
                scene.add(sphereMesh);

                // listeners
                document.addEventListener("mousedown", onDocumentMouseDown, false);
                document.addEventListener("mousemove", onDocumentMouseMove, false);
                document.addEventListener("mouseup", onDocumentMouseUp, false);

                render();

                function render(){

                    requestAnimationFrame(render);

                    if(!manualControl){
                        longitude += 0.1;
                    }

                    // limiting latitude from -85 to 85 (cannot point to the sky or under your feet)
                    latitude = Math.max(-85, Math.min(85, latitude));

                    // moving the camera according to current latitude (vertical movement) and longitude (horizontal movement)
                    camera.target.x = 500 * Math.sin(THREE.Math.degToRad(90 - latitude)) * Math.cos(THREE.Math.degToRad(longitude));
                    camera.target.y = 500 * Math.cos(THREE.Math.degToRad(90 - latitude));
                    camera.target.z = 500 * Math.sin(THREE.Math.degToRad(90 - latitude)) * Math.sin(THREE.Math.degToRad(longitude));
                    camera.lookAt(camera.target);

                    // calling again render function
                    renderer.render(scene, camera);

                }

                // when the mouse is pressed, we switch to manual control and save current coordinates
                function onDocumentMouseDown(event){

                    event.preventDefault();

                    manualControl = true;

                    savedX = event.clientX;
                    savedY = event.clientY;

                    savedLongitude = longitude;
                    savedLatitude = latitude;

                }

                // when the mouse moves, if in manual contro we adjust coordinates
                function onDocumentMouseMove(event){

                    if(manualControl){
                        longitude = (savedX - event.clientX) * 0.1 + savedLongitude;
                        latitude = (event.clientY - savedY) * 0.1 + savedLatitude;
                    }

                }

                // when the mouse is released, we turn manual control off
                function onDocumentMouseUp(event){

                    manualControl = false;

                }

                // pressing a key (actually releasing it) changes the texture map
                document.onkeyup = function(event){

                    panoramaNumber = (panoramaNumber + 1) % panoramasArray.length
                    sphereMaterial.map = THREE.ImageUtils.loadTexture(panoramasArray[panoramaNumber])

                }

            </script>
            <!-- <iframe allowfullscreen="allowfullscreen" style="margin-top:-20px" frameborder="0" height="480" src={{trust.trustAsResourceUrl(media.vrvideo[0].link)}} width="640"></iframe> -->
        </div>
    </div>
    <div class="unit-details-media-tab-content" ng-show="mediaTab == 'unitPhotos'">
        <div class="embed-responsive embed-responsive-16by9">

            <!-- <iframe allowfullscreen="allowfullscreen" frameborder="0" height="480" src={{trust.trustAsResourceUrl(photoUrl)}} width="640"></iframe> -->
        </div>

    </div>
    <ul class="unit-details-media-container-tabs">
        <li style="width:50%">
            <button class="btn unit-details-media-container-tab" ng-class="{selected: mediaTab === 'unitPhotos'}" ng-click="selectMediaTab('unitPhotos')">360 Photos</button>
        </li>
        <li style="width:50%">
            <button class="btn unit-details-media-container-tab" ng-class="{selected: mediaTab === 'unitVideos'}" ng-click="selectMediaTab('unitVideos')">360 Tour</button>
        </li>
    </ul>
    <div class="unit-details-media-tab-content-picker-wrapper" ng-show="mediaTab == 'unitPhotos'">
        <div class="unit-details-media-tab-content-picker-slider-scroller">
            <div class="unit-details-media-tab-content-picker-slider" style="overflow-x:auto">
                <div class="unit-details-media-tab-content-picker" ng-repeat="photo in media.vrphoto track by $index" style="margin:0;cursor:pointer;">
                    <div class="btn btn-search-bar center_button" ng-click="changePhoto($index)" style="width:7em;">
                        {{photo.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
