<div class="modal-header">
    <h2>Apartment Claims</h2>
</div>
<div class="modal-body">
    <ol>
        <li>Enter an Apartment Address</li>
        <li>Enter All Unit Numbers at That Address</li>
        <li>Search!</li>
    </ol>
    <form action="index.html" class="" method="post">
        <div class="" ng-repeat="address in finalApartmentArray track by $index" style="border: 1px solid black; border-radius: 5px; padding: 10px; margin:5px;">
            <label class="control-label" style="padding-top:10px;">Apartment Address</label>
            <input class="form-control" ng-blur="addressEntered($index)" ng-model="address.address" type="text" typeahead-loading="loadingLocations" typeahead-min-length="5" typeahead-no-results="noResults" typeahead="address for address in getLocation($viewValue)">
            <i class="glyphicon glyphicon-refresh" ng-show="loadingLocations"></i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i>
                No Results Found
            </div>
            <label class="control-label" for="" style="padding-top:10px;">Unit Number(s)</label>
            <div class="form-group">
                <div class="" ng-repeat="unit in address track by $index">
                    <div class="col-md-12" style="padding:10px;">
                        <label class="control-label">Unit Num:</label>
                        <input class="form-control col-md-4" ng-blur="unitEntered($parent.$index, $index)" ng-model="unit.unitNum" type="text" />
                        <button type="button" class="btn" name="button" ng-click="removeUnit($parent.$index, $index)">Remove Unit</button>
                    </div>
                </div>
            </div>
            <button class="btn" name="button" ng-click="addUnit($index)" type="button">Add Single Unit</button>
            <button class="btn" name="button" ng-click="addRange($index)" type="button">Add Range Of Units</button>
        </div>
        <button class="btn" ng-click="addAddress()" style="margin-top:10px;" type="button">Add Address</button>
    </form>
</div>
<div class="modal-footer">
    <button class="btn" data-ng-click="modalOptions.close()" type="button">{{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary" data-ng-click="search()">{{modalOptions.actionButtonText}}</button>
</div>
