<div class="modal-header">
    <h3>Update {{modalData.dataToChange}}</h3>
</div>
<div class="modal-body">
    <form class="" id="formbg">
        <div class="form-group">
            <h3>Original Address</h3>
            <input type="text" name="name" value="{{modalData.Address}}" disabled="disabled" style="width:100%">
        </div>
        <div class="form-group">
            <h3>Original Unit Number</h3>
            <input type="text" name="name" value="{{modalData.unitNum}}" disabled="disabled">
        </div>
        <div class="form-group" ng-hide="modalData.dataToChange === 'Address'">
            <h3>New Unit Number</h3>
            <input type="text" name="name" value="" ng-model="newData.unitNum">
        </div>
        <div class="form-group" ng-show="modalData.dataToChange ==='Address'">
            <h3>New Address</h3>
            <input class="" ng-model="newData.concatAddr" style="width:100%" type="text" typeahead-loading="loadingLocations" typeahead-min-length="5" typeahead-no-results="noResults" typeahead="address for address in getLocation($viewValue)" placeholder="Apartment Address"
            />
            <i class="glyphicon glyphicon-refresh" ng-show="loadingLocations"></i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-outline--blue" name="button" style="margin:5px 5px 5px 5px;" type="button">Cancel</button>
    <button class="btn btn-lg btn-outline--blue" name="button" style="margin:5px 5px 5px 5px;" ng-show="modalData.dataToChange=== 'Address'" ng-click="submitAddressChanges()" type="button">Submit</button>
    <button class="btn btn-lg btn-outline--blue" name="button" style="margin:5px 5px 5px 5px;" ng-hide="modalData.dataToChange=== 'Address'" ng-click="submitUnitNumChanges()" type="button">Submit</button>
</div>
