<section class="about-header container-fluid">
  <div class= "row about-header">
  <div class= "about-header__text col-md-4 col-md-offset-1 col-xs-8"> We are making VR for real estate easier by creating a product suite that <span class="orange"> helps agents close more deals, faster.</span></div>
  <div class= "col-md-6 col-md-offset-1">
    <img src="public/viewtemplates/images/aboutimages/computer-phone-mug.png" class="img-responsive"></img>
  </div>
</div>
</section>


    <section class="about-mission">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <div class="product-section-head orange"> Our Mission </div>
            <p class="subhead-text"> Wizio is an on-demand virtual reality provider for real estate and is building the first exclusively VR-based online apartment rental marketplace. The company launched its services in the Greater Boston market January of 2018, serving property managers and brokerages representing ~20% of the city's residential rental market.
            </p>
        </div>
    </section>

    <section class="about-stats center-block">
      <div class= "col-md-10 col-md-offset-1">
        <div class= "row about-stats-header white text-center"> Agents and property managers who use Wizio's technology </div>

        <div class= "row about-space">
          <div class="col-md-3 col-md-offset-2 text-center">
            <p class= "about-stats-callout">2x</p>
            <p class= "about-body white">Double sight-unseen lease transactions</p>
          </div>
          <div class="col-md-3 col-md-offset-2 text-center">
            <p class= "about-stats-callout">50%</p>
            <p class= "about-body white">Reduced the number of tours per client by as much as 50%</p>
          </div>
        </div>
      </div>

    </section>


    <section class="container">
      <div class="row row-space">
        <div class="col-xs-12 text-center product-section-head dk-gray"> Meet the Team </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 about-team-member text-center row-space" ng-repeat="member in members">
                <div class="about-team-members-more">
                  <img src="/public/viewtemplates/images/about/{{ member.picture }}" class="img-responsive" /></img>
                    <div class="about-team-members-more-overlay">
                        <div class="about-team-members-more-overlay-content">
                            <a ng-if="member.twitter" class="team-social-link" href="https://www.twitter.com/{{ member.twitter }}" target="_blank">
                                 <ng-include src="'public/assets/icons/twitter.svg'"></ng-include>
                            </a>
                            <a class="team-social-link" href="mailto:{{ member.email }}" target="_self">
                                <ng-include src="'public/assets/icons/email.svg'"></ng-include>
                            </a>
                            <a class="team-social-link" href="https://www.linkedin.com/in/{{ member.linkedin }}" target="_blank">
                                <ng-include src="'public/assets/icons/linkedin.svg'"></ng-include>
                            </a>
                        </div>
                    </div>

                </div>
                <p class="subhead-text orange">{{ member.name }}</p>
                <p class="large-body gray">{{ member.title }}</p>

            </div>
        </div>
      </div>
    </section>
