<div class= "container-fluid">
<div class="about-header ">
  <div class= "row align-items-center justify-content-center">
  <div class= "about-header__text col-10 col-md-5"> Wizio is the first <span class= "orange"> VR-based listing platform </span> for real estate.</div>
  <div class= "col-sm-8 col-10 col-md-6 col-lg-5 offset-lg-1 offset-md-0 offset-sm-2 offset-1">
    <img src="public/viewtemplates/images/aboutimages/computer-phone-mug.png" class="img-fluid"></img>
  </div>
</div>
</div>




    <div class="row about-mission">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 text-center">
            <div class="product-section-head orange"> Our Mission </div>
            <p class="subhead-text"> Wizio leverages the power of VR to bring digital real estate into the next-generation, where everyone should be empowered to find their space.
            </p>
        </div>
    </div>

    <div class="about-stats row col-10 offset-1">
      <div class= "col-md-10 offset-md-1 center-block">
        <div class= "about-stats-header white text-center"> Agents and property managers who use Wizio's technology </div>

        <div class= "row about-space">
          <div class="col-md-4 col-md-offset-2 text-center">
            <p class= "about-stats-callout">2x</p>
            <p class= "about-body white">Double sight-unseen lease transactions</p>
          </div>
          <div class="col-md-4 col-md-offset-2 text-center">
            <p class= "about-stats-callout">50%</p>
            <p class= "about-body white">Reduced the number of tours per client by as much as 50%</p>

          </div>
        </div>
      </div>

    </div>



      <div class="row row-space">
        <div class="col-12 text-center product-section-head dk-gray"> Meet the Team </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-8 offset-sm-0 offset-2 about-team-member text-center row-space" ng-repeat="member in members">
                <div class="about-team-members-more">
                  <img src="/public/viewtemplates/images/about/{{ member.picture }}" class="img-fluid" /></img>
                    <div class="about-team-members-more-overlay">
                        <div class="about-team-members-more-overlay-content">
                            <a ng-if="member.twitter" class="team-social-link" href="https://www.twitter.com/{{ member.twitter }}" target="_blank">
                                 <ng-include src="'public/assets/icons/twitter.svg'"></ng-include>
                            </a>
                            <a class="team-social-link" href="mailto:{{ member.email }}" target="_self">
                                <ng-include src="'public/assets/icons/email.svg'"></ng-include>
                            </a>
                            <a class="team-social-link" href="https://www.linkedin.com/in/{{ member.linkedin }}" target="_blank">
                                <ng-include src="'public/assets/icons/linkedin.svg'"></ng-include>
                            </a>
                        </div>
                    </div>

                </div>
                <p class="subhead-text orange">{{ member.name }}</p>
                <p class="large-body gray">{{ member.title }}</p>

            </div>
        </div>
      </div>

      <div class= "row row-space">
        <div class= "col-sm-6 col-sm-offset-0 col-xs-12">
          <div class="about-contact-box text-center">
            <div class"about-contact-box-text">
            <p class= "section-head dk-gray"> Are you a photographer?</p>
            <p class= "large-body med-gray"> We are always looking for talented photographers to work with </p>
            <a href="https://wizio-vr.typeform.com/to/UImSgz"  class="btn btn-md btn-fill--orange" target="_blank" role="button"> sign up here </button></a>
          </div>
        </div>
        </div>
        <div class= "col-sm-6 col-sm-offset-0 col-xs-12">
          <div class="about-contact-box text-center">
            <div class"about-contact-box-text">
            <p class= "section-head dk-gray"> Want to work with us?</p>
            <p class= "large-body med-gray"> To learn more about what we do, send us an email at </p>
            <p> <a href="mailto:info@wizio.co"> info@wizio.co </p>
          </div>
        </div>
        </div>
      </div>

      <div class="row-space"></div>
    </div>
