<div class= "container-fluid">
<div class="about-header">
  <div class= "row">
  <div class= "about-header__text col-md-5 col-md-offset-1 col-sm-6 col-xs-12"> Wizio is bringing the <span class= "orange" > first VR-based platform </span> to real estate.</div>
  <div class= "col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <img src="public/viewtemplates/images/aboutimages/computer-phone-mug.png" class="img-responsive"></img>
  </div>
</div>
</div>




    <div class=" row about-mission">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <div class="product-section-head orange"> Our Mission </div>
            <p class="subhead-text"> We are working to create a platform that makes virtual reality for real estate easy, affordable and scalable. Wizio’s VR technology creates high-quality, time-saving experiences for potential tenants and real estate professionals.
            </p>
        </div>
    </div>

    <div class="about-stats center-block">
      <div class= "col-md-10 col-md-offset-1 center-block">
        <div class= "row about-stats-header white text-center"> Agents and property managers who use Wizio's technology </div>

        <div class= "row about-space">
          <div class="col-md-3 col-md-offset-2 text-center">
            <p class= "about-stats-callout">2x</p>
            <p class= "about-body white">Double sight-unseen lease transactions</p>
          </div>
          <div class="col-md-3 col-md-offset-2 text-center">
            <p class= "about-stats-callout">50%</p>
            <p class= "about-body white">Reduced the number of tours per client by as much as 50%</p>

          </div>
        </div>
      </div>

    </div>



      <div class="row row-space">
        <div class="col-xs-12 text-center product-section-head dk-gray"> Meet the Team </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 about-team-member text-center row-space" ng-repeat="member in members">
                <div class="about-team-members-more">
                  <img src="/public/viewtemplates/images/about/{{ member.picture }}" class="img-responsive" /></img>
                    <div class="about-team-members-more-overlay">
                        <div class="about-team-members-more-overlay-content">
                            <a ng-if="member.twitter" class="team-social-link" href="https://www.twitter.com/{{ member.twitter }}" target="_blank">
                                 <ng-include src="'public/assets/icons/twitter.svg'"></ng-include>
                            </a>
                            <a class="team-social-link" href="mailto:{{ member.email }}" target="_self">
                                <ng-include src="'public/assets/icons/email.svg'"></ng-include>
                            </a>
                            <a class="team-social-link" href="https://www.linkedin.com/in/{{ member.linkedin }}" target="_blank">
                                <ng-include src="'public/assets/icons/linkedin.svg'"></ng-include>
                            </a>
                        </div>
                    </div>

                </div>
                <p class="subhead-text orange">{{ member.name }}</p>
                <p class="large-body gray">{{ member.title }}</p>

            </div>
        </div>
      </div>

      <div class= "row row-space">
        <div class= "col-sm-6 col-sm-offset-0 col-xs-12">
          <div class="about-contact-box text-center">
            <div class"about-contact-box-text">
            <p class= "section-head dk-gray"> Are you a photographer?</p>
            <p class= "large-body med-gray"> We are always looking for talented photographers to work with </p>
            <a href="https://wizio-vr.typeform.com/to/UImSgz" target="_blank" <button type="button" class="btn btn-md btn-fill--orange"> sign up here </button></a>
          </div>
        </div>
        </div>
        <div class= "col-sm-6 col-sm-offset-0 col-xs-12">
          <div class="about-contact-box text-center">
            <div class"about-contact-box-text">
            <p class= "section-head dk-gray"> Want to work with us?</p>
            <p class= "large-body med-gray"> To learn more about what we do, send us an email at </p>
            <p> <a href="mailto:info@wizio.co"> info@wizio.co </p>
          </div>
        </div>
        </div>
      </div>

      <div class="row-space"></div>
    </div>
