<div class="">
    <h2>Waitlists:</h2>
    <h3 ng-hide="waitlistsExist">You currently aren't on any waitlists</h3>
</div>
    <div class="" ng-repeat="waitlist in waitlists track by $index">
        <h3>
            {{waitlist[$index].Apartment.concatAddr}}
            Neighborhood: {{waitlist[$index].Apartment.neighborhood}}
        </h3>
        <h3>
            {{waitlist[$index].Apartment.neighborhood}}
        </h3>
        <h4>
            Beds: {{waitlist[$index].Apartment.beds}}
        </h4>
        <h4>
            Baths: {{waitlist[$index].Apartment.baths}}
        </h4>
        <h4>
            Living Spaces: {{waitlist[$index].Apartment.livingSpaces}}
        </h4>
        <h4>
            Cost per Month: {{waitlist[$index].Apartment.costPerMonth}}
        </h4>
        <h4>
            Utilities Included: {{waitlist[$index].Apartment.utilities}}
        </h4>
        <h4>
            Pets Allowed: {{waitlist[$index].Apartment.pets}}
        </h4>
        <div class="" ng-repeat="item in waitlist">
            <ul>
                <li>{{item.ContactEmail}}</li>
            </ul>

        </div>
        <div class="" style="padding:10px;">
            <button class="btn btn-success" ng-click="removeFromWaitlist($index)">remove me from this waitlist</button>
        </div>
    </div>
