<div class="">
    <h2>Waitlists:</h2>
    <h3 ng-hide="waitlistsExist">You currently aren't on any waitlists</h3>
</div>
    <div class="" ng-repeat="waitlist in waitlists track by $index">
        <h3>
            {{waitlist[$index].Apartment.concatAddr}}
            Neighborhood: {{waitlist[$index].Apartment.neighborhood}}
        </h3>
        <h3>
            {{waitlist[$index].Apartment.neighborhood}}       
        </h3>
        <div class="" ng-repeat="item in waitlist">
            <ul>
                <li>{{item.ContactEmail}}</li>
            </ul>

        </div>
        <div class="" style="padding:10px;">
            <button class="btn btn-success" ng-click="removeFromWaitlist($index)">remove me from this waitlist</button>
        </div>
    </div>
