<h3 ng-show="!favoritesExist">You currently don't have any favorites</h3>

<div class="account-grid-view">
    <div class="apt-tile col-xs-12 col-sm-6 col-md-4" ng-repeat="favorite in favorites track by $index">
        <div class="apt-tile__image" style="background-image: url('http://img.youtube.com/vi/{{favorite.Apartment.Assignments[0].youtubeId}}/mqdefault.jpg')">
          <div class="apt-tile__overlay">
            <div class="apt-tile__header">
                <span class="apt-tile__view-btn" ng-click="apartmentSelected(favorite.Apartment.id)">View</span>
                <span class="apt-tile__favorite-btn" ng-click="removeFromFavorite($index)">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                        <path stroke="#FFFFFF" stroke-linecap="round" stroke-miterlimit="10" d="M20.001,37.152 C6.783,24.287,3.066,19.554,2.262,14.704C1.278,8.769,5.694,2.848,12.578,2.848c2.949,0,5.63,1.133,7.423,3.026 c1.79-1.893,4.471-3.026,7.421-3.026c6.853,0,11.306,5.893,10.315,11.856C36.952,19.449,33.479,24.031,20.001,37.152z"/>
                    </svg>
                </span>
                <span class="apt-tile__cost">${{favorite.Apartment.costPerMonth}}</span>
            </div>
            <div class="apt-tile__ammenities">
                <div class="ammenity" ng-if="favorite.Apartment.beds">
                    <div class="ammenity__icon w-icon w-bed"></div>
                    <span class="ammenity__label">{{favorite.Apartment.beds}} bed</span>
                </div>
                <div class="ammenity" ng-if="favorite.Apartment.baths">
                    <div class="ammenity__icon w-icon w-toilet"></div>
                    <span class="ammenity__label">{{favorite.Apartment.baths}} bath</span>
                </div>
                <div class="ammenity" ng-if="favorite.Apartment.laundry">
                    <div class="ammenity__icon w-icon w-laundry"></div>
                    <span class="ammenity__label">laundry</span>
                </div>
                <div class="ammenity" ng-if="favorite.Apartment.dishwasher">
                    <div class="ammenity__icon w-icon w-dishwasher"></div>
                    <span class="ammenity__label">dishwasher</span>
                </div>
                <div class="ammenity" ng-if="favorite.Apartment.utilities">
                    <div class="ammenity__icon w-icon w-utilities"></div>
                    <span class="ammenity__label">included</span>
                </div>
                <div class="ammenity" ng-if="favorite.Apartment.pets">
                    <div class="ammenity__icon w-icon w-pets"></div>
                    <span class="ammenity__label">pets</span>
                </div>
                <div class="ammenity" ng-if="favorite.Apartment.elevator">
                    <div class="ammenity__icon w-icon w-elevator"></div>
                    <span class="ammenity__label">elevator</span>
                </div>
                <div class="ammenity" ng-if="favorite.Apartment.fireplace">
                    <div class="ammenity__icon w-icon w-fireplace"></div>
                    <span class="ammenity__label">fireplace</span>
                </div>
            </div>
          </div>
        </div>
        <div class="apt-tile__info">
          <span class="apt-tile__address">{{ favorite.Apartment.street }} #{{ favorite.Apartment.unitNum }}<br/>{{ favorite.Apartment.neighborhood}} </span>
        </div>
    </div>
</div>


<div class="" ng-repeat="favorite in favorites track by $index">

<div class="account-list-view">
    <div class="apt-list__item row" ng-repeat="favorite in favorites track by $index">
        <div class="apt-list__image col-xs-2" style="background-image: url('http://img.youtube.com/vi/{{favorite.Apartment.Assignments[0].youtubeId}}/mqdefault.jpg')">
        </div>
        <div class="apt-list__info col-xs-10">
        <div class="apt-list__cost col-xs-2">${{favorite.Apartment.costPerMonth}}</div>
        <div class="apt-list__address col-xs-6">{{ favorite.Apartment.street }} #{{ wfavorite.Apartment.unitNum }}<br/>{{ favorite.Apartment.neighborhood}} </div>
        <div class="apt-list__beds-baths col-xs-2">{{favorite.Apartment.beds}} bed {{favorite.Apartment.baths}} bath</div>
        <div class="apt-list__status col-xs-3">status: waiting</div>
        <a class="apt-list__view col-xs-1" ng-click="apartmentSelected(waitlist[$index].Apartment.id)">View</a>
    </div>
    </div>
</div>
