<div class="">
    <h2>Favorites:</h2>
    <h3 ng-hide="favoritesExist">You currently don't have any favorites</h3>
</div>
<div class="" ng-repeat="favorite in favorites track by $index">
    <img class="pull-left" ng-src="http://img.youtube.com/vi/{{favorite.Apartment.Assignments[0].youtubeId}}/0.jpg" id="aptPicture" ng-click="apartmentSelected(apartment.id)"></img>
    <h3>
        <a href="#/unit/details/{{favorite.ApartmentId}}">{{favorite.Apartment.concatAddr}}</a>

    </h3>
    <h4>
        Beds:
        {{favorite.Apartment.beds}}
    </h4>
    <h4>
        Baths:
        {{favorite.Apartment.baths}}
    </h4>
    <h4>
        Rent:
        {{favorite.Apartment.costPerMonth}}
    </h4>
    <h4>
        Pet:
        {{favorite.Apartment.pets}}
    </h4>
    <h4>
        Living Spaces:
        {{favorite.Apartment.livingSpaces}}
    </h4>
    <div class="" style="padding:10px;">
        <button class="btn btn-success" ng-click="removeFromFavorite($index)">remove this favorite</button>
    </div>
</div>
