<div class="row">
    <div class="" ng-show="accountInfo.userType == 1">
        <button type="button" class="btn" ng-click="viewProfile()" ng-show="accountInfo.ProfileId" name="button">View My Extended Profile</button>
        <button type="button" class="btn" ng-click="viewProfile()" ng-hide="accountInfo.ProfileId" name="button">Create My Extended Profile</button>
    </div>
    <div class="" ng-show="accountInfo.userType == 2">
        <button type="button" class="btn" ng-click="claimApartments()" name="button">Claim Apartments</button>
        <button type="button" class="btn" name="button">Account</button>
        <button type="button" class="btn" name="button">Listings</button>
        <a href="https://calendly.com/devong/virtualtour" target="_blank"><button type="button" class="btn" name="button">Schedule VR tour</button></a>


        <!-- <button type="button" class="btn" ng-click="viewProfile()" ng-hide="accountInfo.ProfileId" name="button">Create My Extended Profile</button> -->
    </div>
</div>
