<div class= "container-fluid product-container">
    <div class="row product-hero">
        <img src="../../../..//viewtemplates/images/pricing/product-hero.png" class="product-hero-image">
        <div class="product-hero-text-container">
        <div class="col-sm-12 col-md-6 col-md-offset-1" id="product-header-text">
            <div class="header-text dk-gray"> Virtual Reality for Everyone </div>
            <div class="subhead-text med-gray"> from single apartments to full hotels, we can do it all </div>
         </div>
        </div>


    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 subscription-tile text-center " ng-click="launchTypeform('standard')">
            <!-- A subscription tile (one of those subscription banners) -->
            <div class="subscription-banner-container col-sm-3">
                <div class="subscription-banner-header">
                    <div class="subscription-banner__header orange"> Includes </div>
                    <div class="large-body med-gray">
                        <p> VR Tour Creation</p>
                        <p> 4K Images </p>
                        <p> Image Processing </p>
                        <p> MLS Support </p>
                        <p> API Integration </p>
                        <p> Dedicated Support </p>
                    </div>
                </div>
            </div>

            <div class="subscription-banner-container col-sm-9">
                <div class="subscription-banner-header">
                    <div class="subscription-banner__header"> One-time Fee</div>
                    <div class="large-body"> Photography and tour creation </div>
                    <div class="subscription-banner__price">$100</div>
                    <div class="subscription-banner__subhead"> per tour </div>

                    <button ng-click="goToProduct()" type="button" class=" btn btn-lg btn-fill--orange">Get Started</button>
                </div>



                <div class="subscription-banner-header col-sm-4">
                    <div class="subscription-banner__header"> Licensing Fee</div>
                    <div class="large-body"> Renews anually, first year waived </div>
                    <div class="subscription-banner__price">$10</div>
                    <div class="subscription-banner__subhead"> per tour </div>


                <div class="subscription-banner-header">
                    <div class="subscription-banner__header"> Add an Amenity</div>
                    <div class="large-body"> Renews anually, first year waived </div>
                    <div class="subscription-banner__price">$25</div>
                    <div class="subscription-banner__subhead"> per shot</div>
                </div>
            </div>
        </div>
</div>


    <div class="col-sm-12 text-center large-body info-text gray">
   Booking now in Boston and DC, more cities coming soon!
    </div>
    <div class="col-sm-12 text-center small-body info-text gray italic">
    Looking to do more than one space? Contact our sales team for special offers
    </div>




<div class="row pricing-quote">
    <div class="col-xs-12 text-center">
        <p class="large-body"> &ldquo;Wizio has helped to improve my business and client relations... very helpful for out of area clients especially.&rdquo;</p>
        <p class="small-body white italic">- Eric LaBatte from Preview Properties </p>
         <img src="/public/viewtemplates/images/pricing/headshot.jpg" class="headshot"/>
    </div>
</div>



    <div class="row row-space product-section-head text-center"> Our Demo
        <div>
         <button ng-click="goToDemo()" type="button" class="btn btn-md btn-fill--orange"> view demo fullscreen </button>
        </div>
    </div>

    <!-- <div ng-show="onMobile"> -->


    <!-- <div ng-show="!onMobile"> -->

     <div id="vr-player-container" style="height:80vh;">
        <div style="height:100%;" >
            <tour-dir show-interface="true"></tour-dir>
        </div>
    </div>



<div class="faq-container">
    <div class="row row-space">
        <div class="product-section-head col-sm-12 text-center">Frequently Asked Questions</div>
    </div>

    <div class="row row-space ">
        <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-6">
        <div class="subhead-text dk-gray"> What does a finished tour look like?  </div>
        <p>Check out our <a href="/demo" target="_blank" class="blue">demo.</a></p>
        </div>

        <div class="col-sm-6">
        <div class="subhead-text dk-gray"> What cities can I request tours in?  </div>
        <p>We can now serve the Greater D.C. and Boston markets, and are in the process of expanding</p>
        </div>
        </div>

    </div>


    <div class ="row row-space">
        <div class="col-sm-10 col-sm-offset-1">
            <div class=" col-sm-12 section-head text-center orange"> Booking </div>
        <div class= "col-sm-6">
            <div class="subhead-text dk-gray"> How can I book a virtual tour? </div>
            <p> We require users to create an account before booking tours. You can do so here, by calling 617-297-7472, or emailing <a href="mailto:support@wizio.co" target="_top" class="blue">support@wizio.co </a>. </p>
        </div>

        <div class= "col-sm-6">
            <div class="subhead-text dk-gray"> How far in advance do I have to book a virtual tour? </div>
            <p> Book a virtual tour for tomorrow or 6 months from now. We work with your schedule to meet your needs.</p>
        </div>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
        <div class= "col-sm-6">
             <div class="subhead-text dk-gray"> Are there certain hours you are available to film properties? </div>
            <p>Our photographers are available 7 days a week from 7am-8pm!</p>
        </div>

        <div class= "col-sm-6">
          <div class="subhead-text dk-gray">Can I reschedule a tour? </div>
            <p> Yes! Simply choose a new time by modifying your existing booking through the email confirmation.</p>
        </div>

        </div>
    </div>

    <div class ="row row-space">
        <div class ="col-sm-10 col-sm-offset-1">
        <div class="col-sm-12 section-head text-center orange">Process</div>
        <div class= "col-sm-6">
           <div class="subhead-text dk-gray"> How long does it take to create a virtual tour?  </div>
        <p> Our photographers typically spend between 30 and 45 minutes per listing. This can vary slightly by the size of the property.  </p>
     </div>

        <div class= "col-sm-6">
        <div class="subhead-text dk-gray"> Do I need to be present while the photographer is filming? </div>
        <p> No. As long as our photographers are given access to the space (given a key or otherwise), you do not need to be present. </p>
        </div>
        </div>

        <div class ="col-sm-10 col-sm-offset-1">
        <div class= "col-sm-6">
          <div class="subhead-text dk-gray"> When will I receive access to my virtual tour?</div>
        <p> The virtual tour will be delivered to your Wizio account within 24 hours after the photographer has visited the property. </p><br>
         </div>

        <div class= "col-sm-6">
        <div class="subhead-text dk-gray"> Who are your photographers? </div>
        <p> We employ contracted photographers that are trained on using 360-degree equipment and the Wizio platform. </p>
        </div>

        </div>
        </div>


    <div class ="row row-space">
        <div class ="col-sm-10 col-sm-offset-1">
        <div class="col-sm-12 section-head text-center orange">Payment and Pricing</div>

        <div class= "col-sm-6">
       <div class="subhead-text dk-gray">When will my credit card be charged? </div>
        <p> A hold is put on your credit card at the time of booking. You will be charged after the virtual tour is delivered to you.</p><br>
        </div>

        <div class= "col-sm-6">
        <div class="subhead-text dk-gray"> What is your cancellation policy? </div>
        <p> If you cancel your virtual tour film session, you must do so 24 hours in advance. Inside of 24 hours you will be charged a $50 cancellation fee. You can reschedule by changing the booking in your confirmation email. </p><br>
         </div>
    </div>

        <div class ="col-sm-10 col-sm-offset-1">
        <div class= "col-sm-6">
        <div class="subhead-text dk-gray"> Who are your photographers? </div>
        <p> We employ contract photographers that are trained on using 360-degree equipment and the Wizio platform. Our contractors are fully covered by insurance.</p>
        </div>
        </div>
    </div>

<div class ="row row-space">
        <div class ="col-sm-10 col-sm-offset-1">
        <div class="col-sm-12 section-head text-center orange">Product</div>
    <div class= "col-sm-6">

        <div class="subhead-text dk-gray">Can you syndicate virtual tours to MLS?    </div>
        <p> Yes! Agents and brokerages relying on MLS Pinnergy will be able to cross-syndicate virtual tours with their listings. Interested in syndicating to another platform? Simply add your tour link in the “Virtual Tour Link” field when updating your MLS listing. Please note: if you have added contact information to the tour you may need to contact us (support@wizio.co) to remove the email and additional information in order to make it MLS-compliant.</p><br>

    </div>

    <div class= "col-sm-6">
        <div class="subhead-text dk-gray"> Do you offer any additional features?   </div>
        <p> We are developing a suite of premium add-ons that customers can add to their virtual tour experience. Interested in learning more? Contact us at <a href="mailto:support@wizio.co" target="_top" class="blue">support@wizio.co </a></p><br>
    </div>
</div>

 <div class ="col-sm-10 col-sm-offset-1">
        <div class= "col-sm-6">
        <div class="subhead-text dk-gray">Can you “walk around” in tours? </div>
        <p> Yes! We have added a walk-through experience similar to Google Street View. </p><br>
    </div>

    <div class= "col-sm-6">
        <div class="subhead-text dk-gray">Does each virtual tour receive a unique URL?    </div>
        <p> Each virtual tour you create has its own unique URL tied to that specific tour. </p><br>
        </div>
    </div>
</div>


<div class="row row-space">
        <div class ="col-sm-10 col-sm-offset-1">
        <div class="col-sm-12 section-head text-center orange">Support</div>
        <div class= "col-sm-6">
       <div class="subhead-text dk-gray">If I’m having an issue with my account, who can I contact?   </div>
        <p> Please email <a href="mailto:support@wizio.co" target="_top" class="blue">support@wizio.co</a> or call 617-297-7472. We’re here to help you succeed. </p><br>
        </div>

        <div class= "col-sm-6">
        <div class="subhead-text dk-gray">I have a question that’s not answered here, who should I send it to?    </div>
        <p> We’re always looking for new questions to add to the FAQ. Email us at <a href="mailto:support@wizio.co" target="_top" class="blue"> support@wizio.co</a>. </p><br>



        </div>
        </div>
    </div>
</div>



</div>
