<div class="subscription-wrapper">
<div class="subscription-top">
</div>

<div class="container">
    <div class="page-header row">
        <h4> Demo</h4>
    </div>

    <!-- <div ng-show="onMobile"> -->
    <!-- <div>
        <a href="/demo"><button class="btn btn-outline--blue"> View our demo! </button></a>
    </div> -->

    <!-- <div ng-show="!onMobile"> -->

    <div id="vr-player-container" style="height:80vh;">
        <div style="height:100%;" >
            <tour-dir show-interface="true"></tour-dir>
        </div>
    </div>

    <div style="display:flex;align-items:center; justify-content:center; padding-top:25px;">
        <button ng-click="goToDemo()" class="btn btn-outline--blue" style="width:100%"> View our demo fullscreen!</button>
    </div>

</div>

<div class="container">
    <div class="page-header row">
        <h4> Our Tours -- Select one to book!</h4>
    </div>
    <div class="" style="font-size: 1.2em; margin-bottom:20px;">
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 subscription-tile " ng-click="launchTypeform('standard')">
            <!-- A subscription tile (one of those subscription banners) -->
            <div class="subscription-banner-container btn-outline--blue" id="4">
                <div class="subscription-banner-header"  >
                    <div class="subscription-banner-header__main" style="text-align: center;">
                        <h3>
                            Standard
                        </h3>
                    </div>
                    <div style="margin-bottom:10px;">
                        <span style="font-size:150%"> $150 per Space </span> <br>
                    </div>
                    <div class="subscription-banner__features">
                        <div style="margin-bottom:10px;"><strong>Included in Standard:</strong></div>
                            <p> 1080p Images </p>
                            <p> Dedicated Support </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 subscription-tile" ng-click="launchTypeform('pro')">
            <!-- A subscription tile (one of those subscription banners) -->
            <div class="subscription-banner-container btn-outline--blue" id="5" >
                <div class="subscription-banner-header" >
                    <div class="subscription-banner-header__main" style="text-align: center;">
                        <h3>
                             Pro
                        </h3>
                    </div>
                    <div style="margin-bottom:10px;">
                        <span style="font-size:150%"> $225 per Space </span> <br>
                    </div>
                    <div class="subscription-banner__features">
                        <div class="subscription-banner__features">
                            <div style="margin-bottom:10px;"><strong>Included in Pro:</strong></div>
                                <p> 4K Images </p>
                                <p> Dedicated Support</p>
                                <!-- <img src="public\viewtemplates\images\favicons\favicon.ico" style="position:absolute; bottom:15px;"/> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


<div class="pricing-quote" style="margin-top:25px;">
    <h5> &ldquo;Wizio has helped to improve my business and client relations... very helpful for out of area clients especially.&rdquo;</h5>
    - Eric LaBatte from Preview Properties
     <img src="/public/viewtemplates/images/pricing/headshot.jpg" class="headshot"/>
</div>



<div class="container">
    <div class="page-header">
        <h4>Frequently Asked Questions</h4>
    </div>
    <div class="">
        <strong> What does a finished tour look like?  </strong><br>
        <p>Check out our <a href="/demo">demo.</a></p>

        <h3>Booking</h3>
        <strong> How can I book a virtual tour? </strong><br>
        <p> You can book a tour in minutes by selecting one of the tours above and filling out the form.  </p>

        <strong> How far in advance do I have to book a virtual tour? </strong><br>
        <p> You can schedule a virtual tour request with at least 24hr notice and as far in the future as you would like.</p><br>

        <strong> Are there certain hours you are available to film properties? </strong><br>
        <p>Our photographers are available 7 days a week from 7am-8pm!</p><br>

        <strong>Can I reschedule a tour? </strong><br>
        <p> Yes! Simply choose a new time by modifying your existing booking through the email confirmation.</p><br>

        <h3>Process</h3>
        <strong> How long does it take to create a virtual tour?  </strong><br>
        <p> Our photographers typically spend between 30 and 45 minutes per listing. This can vary slightly by the size of the property.  </p><br>

        <strong> Do I need to be present while the photographer is filming? </strong><br>
        <p> No. As long as our photographers are given access to the space (given a key or otherwise), you do not need to be present. </p><br>

        <strong> When will I receive access to my virtual tour?</strong><br>
        <p> You will receive a unique URL to the virtual tour by end of day on which the filming occurred. The tour will also be added to your Wizio account. </p><br>

        <strong> Who are your photographers? </strong><br>
        <p> We employ contracted photographers that are trained on using 360-degree equipment and the Wizio platform. </p><br>

        <h3>Payment and Pricing</h3>
        <strong> What are the differences between Standard and Pro tours? </strong><br>
        <p> The difference is in the quality of the photos. Standard uses either 1080p or 4k quality while pro tours are captured in 8k. </p><br>

        <strong>When will my credit card be charged? </strong><br>
        <p> Your card will be charged once you receive the virtual tour. </p><br>

        <strong> What is your cancellation policy? </strong><br>
        <p> If you cancel your virtual tour film session, you must do so 24 hours in advance. Inside of 24 hours you will be charged a $50 cancellation fee. You can reschedule by changing the booking in your confirmation email. </p><br>

        <h3>Product</h3>
        <strong>Can you “walk around” in tours? </strong><br>
        <p> Yes! We have added a walk-through experience similar to Google Street View. </p><br>

        <strong> Do you offer any additional features?   </strong><br>
        <p> Yes! We have a host of “add-ons” that you can purchase with your virtual tours. These include still HD photos, direct-messaging between potential clients, floor plans, and more. </p><br>

        <strong> Can you syndicate virtual tours to MLS?    </strong><br>
        <p> Yes! Agents and brokerages relying on MLS Pinnergy will be able to cross-syndicate virtual tours with their listings. Interested in syndicating to another platform? Let us know at. </p><br>

        <strong> Does each virtual tour receive a unique URL?    </strong><br>
        <p> Each virtual tour you create has its own unique URL tied to that specific tour. </p><br>

        <h3>Support</h3>
        <strong> If I’m having an issue with my account, who can I contact?   </strong><br>
        <p> Please email support@wizio.co or call 617-297-7472. We’re here to help you succeed. </p><br>

        <strong> I have a question that’s not answered here, who should I send it to?    </strong><br>
        <p> We’re always looking for new questions to add to the FAQ. Email us at support@wizio.co. </p><br>

    </div>
</div>



</div>
