
<div class= "container-fluid product-container">
    <div class="row listing-hero">
      <div id="vr-player-listing">
         <div style="height:96%;" >
             <tour-dir show-interface="true"></tour-dir>
         </div>
     </div>
    </div>
    <div class="" style="text-align: center;">
      <a href="#listing-page">
        <i class="fa fa-2x fa-chevron-down"></i>
      </a>
    </div>
    <hr>

    <div class="row" id='listing-page'>
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="label availability-label col-md-4 col-sm-6 col-xs-12"> Available: {{data.Listing.Availability}} </div>
        <div class="label neighborhood-label col-md-5 col-sm-6 col-xs-12"> {{data.Listing.Address.Neighborhood}}, Boston MA </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-sm-offset-1 row-space">
          <div class="row">

            <div class="col-xs-12 amenity-list">
              <div class=" col-xs-6 col-sm-3 col-md-2 amenity-item">
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing page/bedroom.png" style="height: 50px" class="amenity-icon">
                <p class="large-body"> {{data.Listing.Beds}} Beds</p>
              </div>
              </div>

              <div class="col-sm-3 col-xs-6 col-md-2 amenity-item">
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing page/bathroom.png" style="height: 50px" class="amenity-icon">
                <p class="large-body"> {{data.Listing.Baths}} Bath</p>
              </div>
              </div>

              <div ng-if='data.Listing.HasDishWasher' class="col-md-2 col-xs-6 col-sm-3 amenity-item" >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing page/dishwasher.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body"> Dish Washer</p>
               </div>
              </div>

              <div ng-if='data.Listing.WasherDryer' class="col-md-2 col-xs-6 col-sm-3 amenity-item" >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing page/laundry.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">{{data.Listing.LaundryType}}</p>
               </div>
              </div>


              <div ng-if='data.Listing.PetType' class="col-xs-6 col-sm-3 col-md-2 amenity-item " >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing page/pet-friendly.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">Pet Friendly</p>
               </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-10">
              <p class="listing-sub-section"> Additional Amenities </p>
              <p class="small-body">{{data.Listing.amenitiesDescription}}</p>
            </div>
          </div>
      </div>

    <div class=" col-xs-8  col-xs-offset-2 col-sm-3 col-sm-offset-1 contact-box text-center">
      <div class="row">
        <div class="col-md-6">
          <img src="public/viewtemplates/joe.jpg" style="height:175px" alt="RealtorImg">
        </div>
        <div class="col-md-5 col-md-pull-1">
          <p class= "large-body"> Joe Parrish </p>
          <p class="small-body"> Hillway Realty </p>
          <p class="small-body"><a href="mailto:joe@hillwayrealty.com">joe@hillwayrealty.com</a></p>
          <p class="small-body"> 617-620-3472 </p>
        </div>

      </div>

      <!-- <div>
       <button ng-click="agentInfo()" type="button" class="btn btn-md btn-fill--orange"> Contact Agent </button>
      </div> -->
    </div>

    </div>

    <p class ="section-head orange col-sm-offset-1 row-space" id="listing-divider"> Listing Details </p>
    <hr id="listing-divider">


    <div class= "row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <p class="small-body" style="line-height:1.3">{{data.Listing.ListingDescription}}</p>
      </div>

      <div class="col-sm-4 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <p class="listing-sub-section">Lease Details</p>
            <hr id="listing-divider">
            <p class="small-body"><span class="medium">Rent:</span> {{data.Listing.RentPrice}} per {{data.Listing.RentFrequency}}</p>
            <p class="small-body"><span class="medium">Lease Length:</span> {{data.Listing.LeaseLength}}</p>
            <p class="small-body"><span class="medium">Available:</span> {{data.Listing.Availability}}</p>
            <p class="small-body"><span class="medium">Location:</span> {{data.Listing.Address.Neighborhood}}, Boston MA  </p>

          </div>
          <div class="col-sm-12 col-md-7">
              <p class="listing-sub-section">Due at Signing</p>
              <hr/>
            <div class="col-md-12" style="">
              <div ng-if="data.Listing.FirstMonthsRentRequired" class="text-center col-xs-6 listing-fee" style="padding-top: 0">
                <p class="small-body"> First Month </p>
                <i class="fa fa-check fa-2x orange"></i>
              </div>


              <div ng-if="!data.Listing.FirstMonthsRent" class="text-center col-xs-6 listing-fee" style="padding-top: 0">
                <p class="small-body"> First Month </p>
                <i class="fa fa-close fa-2x blue"></i>
              </div>

              <div ng-if="data.Listing.SecurityDepositRequired" class="text-center col-xs-6 listing-fee" style="padding-top: 0">
                <p class="small-body"> Security Deposit </p>
                <i class="fa fa-check fa-2x orange"></i>
              </div>

              <div ng-if="!data.Listing.SecurityDepositRequired" class="text-center col-xs-6 listing-fee" style="padding-top: 0">
                <p class="small-body"> Security Deposit </p>
                <i class="fa fa-close fa-2x blue"></i>
              </div>

              <div ng-if="data.Listing.LastMonthsRentRequired" class="text-center col-xs-6 listing-fee">
                <p class="small-body"> Last Month </p>
                <i class="fa fa-check fa-2x orange"></i>
              </div>
              <div ng-if="!data.Listing.LastMonthsRentRequired" class="text-center col-xs-6 listing-fee">
                <p class="small-body"> Last Month </p>
                <i class="fa fa-close fa-2x blue"></i>
              </div>

              <div ng-if="!data.Listing.LastMonthsRentRequired" class="text-center col-xs-6 listing-fee">
                <p class="small-body"> Last Month </p>
                <i class="fa fa-close fa-2x blue"></i>
              </div>
              <div ng-if="data.Listing.BrokerFeeRequired" class="text-center col-xs-6 listing-fee">
                <p class="small-body"> Broker Fee </p>
                <i class="fa fa-check fa-2x orange"></i>
              </div>
              <div ng-if="!data.Listing.BrokerFeeRequired" class="text-center col-xs-6 listing-fee">
                <p class="small-body"> Broker Fee </p>
                <i class="fa fa-close fa-2x blue"></i>
              </div>
            </div>
        </div>
      </div>


      </div>
      <br>
      <br>
      <div class="col-xs-12 col-sm-11 col-md-11 col-sm-offset-1 col-md-offset-1">
        <img src="public/viewtemplates/fheo.jpg" style="height:50px;" alt="Fair Housing Equal Opportunity Logo">
        <br>
        <p class="small-body"><em>The apartment advertised may no longer be available for rental</em></p>
      </div>

    </div>
<div class="row-space"></div>





</div>
