.about-header{
  background-color: #fff;
  height: 500px;
  display: flex;
  align-items: center;
}

.about-header__text{
  font-family: "Roboto";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.4;
}

.about-mission{
  background-color: #EAEAEA;
height: 70vh;
display: flex;
align-items: center;
padding-bottom: 70px;
}

.about-mission .subhead-text{
  line-height: 1.4;
  font-weight: 300;
  color: $dk-gray;
  padding-top: 15px;
}

.about-stats{
  background-color: $orange;
  width: 80vw;
  height: 325px;
  display: flex;
  align-items: center;
  margin-top: -70px;
}

.about-stats-header{
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
}

.about-space{
  padding-top: 50px;
}

.about-stats-callout{
  font-family: "Roboto";
  font-size: 34px;
  font-weight: 400;
  color: $white;

}

.about-body{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
}

.about-contact-box{
  padding: 40px;
  border: 2px solid $light-gray;
  height: 230px;

   button{
     margin-top: 20px;
   }


}



.about-team {

    &-members {

        &-more {
            position: relative;
            margin-bottom: 10px;

            &-overlay {
                opacity: 0;
                transition: opacity 0.15s ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $blue;

                .outline-btn {
                    display: block;
                    width: 100%;
                    background: none;
                    border: 2px solid $white;
                    color: $white;
                    margin-bottom: 8px;
                    font-weight: 700;

                    &:active,
                    &:focus,
                    &:hover {
                        background: $white;
                        color: $orange;
                    }
                }

                &-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include center-transform();
                }
            }

            &:hover &-overlay {
                opacity: .85;
            }
        }
    }
}

.team-social-link {
    margin: 0 5px;

    .hover-fill {
        fill: transparent;
        transition: fill 0.15s ease-in-out;
    }

    &:hover {
        .hover-fill {
            fill: #ffffff;
        }
    }
}

// -------------  --------------- //


@media (max-width: 767px) {


.about-header__text{
    font-size: 26px;
    line-height: 1.2;
}

.about-mission{
height: 40vh;
padding-bottom: 40px;

}

.about-stats{
  width: 90vw;
  height: 300px;
  padding: 0 5px;
  margin-top: -40px;

}

.about-stats-header{
  font-size: 24px;
}

.about-space{
  padding-top: 20px;
}

.about-stats-callout{
  font-size: 27px;
  padding-top: 10px;
  margin: 0 0 0 0;

}

.about-body{
  font-size: 18px;
}

.about-contact-box{
  padding: 30px;
  height: 210px;
  margin: 10px 0px;

}

}




//----phone-----//
@media (max-width: 426px) {

  .about-header{
    height: 60vh;
    margin-top: 30px;
  }
.about-header img{
  margin-top: 10px;
}

.about-header__text{
    font-size: 21px;
    line-height: 1.2;
    text-align: center;
}

.about-mission{
height: 50vh;
padding-bottom: 30px;

}

.about-stats{
  width: 90vw;
  height: 300px;
  padding: 0 5px;
  margin-top: -30px;

}

.about-stats-header{
  font-size: 18px;
}

.about-space{
  padding-top: 20px;
}

.about-stats-callout{
  font-size: 22px;
  padding-top: 10px;
  margin: 0 0 0 0;

}

.about-body{
  font-size: 16px;
}

.about-contact-box{
  padding: 30px;
  height: 210px;
  margin: 10px 0px;

}
}
