.about-header{
  background-color: #fff;
  height: 575px;
  display: flex;
  align-items: center;
}

.about-header__text{
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 300;
}

.about-mission{
  background-color: #EAEAEA;
height: 70vh;
display: flex;
align-items: center;
padding-bottom: 70px;
}

.about-mission .subhead-text{
  line-height: 1.4;
  font-weight: 300;
  color: $dk-gray;
  padding-top: 15px;
}

.about-stats{
  background-color: $orange;
  width: 80vw;
  height: 325px;
  display: flex;
  align-items: center;
  margin-top: -70px;
}

.about-stats-header{
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
}

.about-space{
  padding-top: 50px;
}

.about-stats-callout{
  font-family: "Roboto";
  font-size: 34px;
  font-weight: 400;
  color: $white;

}

.about-body{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
}



.about-team {

    &-members {

        &-more {
            position: relative;
            margin-bottom: 10px;

            &-overlay {
                opacity: 0;
                transition: opacity 0.15s ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $blue;

                .outline-btn {
                    display: block;
                    width: 100%;
                    background: none;
                    border: 2px solid $white;
                    color: $white;
                    margin-bottom: 8px;
                    font-weight: 700;

                    &:active,
                    &:focus,
                    &:hover {
                        background: $white;
                        color: $orange;
                    }
                }

                &-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include center-transform();
                }
            }

            &:hover &-overlay {
                opacity: .85;
            }
        }
    }
}

.team-social-link {
    margin: 0 5px;

    .hover-fill {
        fill: transparent;
        transition: fill 0.15s ease-in-out;
    }

    &:hover {
        .hover-fill {
            fill: #ffffff;
        }
    }
}
