.w-icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.w-bed {
  background-image: url('/public/assets/icons/bed.svg');
}
.w-bath {
  background-image: url('/public/assets/icons/bath.svg');
}
.w-dishwasher {
  background-image: url('/public/assets/icons/dishwasher.svg');
}
.w-laundry {
  background-image: url('/public/assets/icons/laundry.svg');
}
.w-utilities {
  background-image: url('/public/assets/icons/utilities.svg');
}
.w-pets {
  background-image: url('/public/assets/icons/pets.svg');
}
.w-elevator {
  background-image: url('/public/assets/icons/elevator.svg');
}
.w-fireplace {
  background-image: url('/public/assets/icons/fireplace.svg');
}
.w-waitlist {
  background-image: url('/public/assets/icons/waitlist.svg');
}
.w-favorite {
  background-image: url('/public/assets/icons/favorite.svg');
}
