.w-icon {
  background-size: contain;
  background-repeat: no-repeat;
}
.w-bed {
  background-image: url('/public/assets/icons/bed.svg');
}
.w-toilet {
  background-image: url('/public/assets/icons/bath.svg');
}
.w-dishwasher {
  background-image: url('/public/assets/icons/dishwasher.svg');
}
.w-laundry {
  background-image: url('/public/assets/icons/laundry.svg');
}
.w-utilities {
  background-image: url('/public/assets/icons/utilities.svg');
}
.w-pets {
  background-image: url('/public/assets/icons/pets.svg');
}
.w-elevator {
  background-image: url('/public/assets/icons/elevator.svg');
}
