.w-icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.w-bed {
  background-image: url('/public/assets/icons/bed.svg');
}
.w-bath {
  background-image: url('/public/assets/icons/bath.svg');
}
.w-dishwasher {
  background-image: url('/public/assets/icons/dishwasher.svg');
}
.w-laundry {
  background-image: url('/public/assets/icons/laundry.svg');
}
.w-utilities {
  background-image: url('/public/assets/icons/utilities.svg');
}
.w-pets {
  background-image: url('/public/assets/icons/pets.svg');
}
.w-elevator {
  background-image: url('/public/assets/icons/elevator.svg');
}
.w-elevator-black {
  background-image: url('/public/assets/icons/elevator-black.svg');
}
.w-fireplace {
  background-image: url('/public/assets/icons/fireplace.svg');
}
.w-waitlist {
  background-image: url('/public/assets/icons/waitlist.svg');
}
.w-favorite {
  background-image: url('/public/assets/icons/favorite.svg');
}
.w-ac {
  background-image: url('/public/assets/icons/ac.svg');
}
.w-cats {
  background-image: url('/public/assets/icons/cats.svg');
}
.w-gym {
  background-image: url('/public/assets/icons/gym.svg');
}
.w-pool {
  background-image: url('/public/assets/icons/pool.svg');
}
.w-parking {
  background-image: url('/public/assets/icons/parking.svg');
}
.w-concierge {
  background-image: url('/public/assets/icons/concierge.svg');
}
.w-wifi {
  background-image: url('/public/assets/icons/wifi.svg');
}
.w-cable {
  background-image: url('/public/assets/icons/cable.svg');
}
.w-trash {
  background-image: url('/public/assets/icons/trash.svg');
}
.w-smoking {
  background-image: url('/public/assets/icons/smoking.svg');
}
.w-nosmoking {
  background-image: url('/public/assets/icons/nosmoking.svg');
}
.w-electric {
  background-image: url('/public/assets/icons/electric.svg');
}
.w-water {
  background-image: url('/public/assets/icons/water.svg');
}
.w-gas {
  background-image: url('/public/assets/icons/gas.svg');
}
.w-heat {
  background-image: url('/public/assets/icons/heat.svg');
}
