$white: #ffffff;
$black: #000000;

$orange: #f79739;
$light-orange: #F7AA63;
$gray: #706f72;
$red: #BA5125;
$blue: #7A9DD1;


h2 {
  font-family: "Roboto Slab";
  font-size: 50px;
}

h3 {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 500;
}

h4 {
  font-family: "Roboto";
  font-size: 24px;
}

h5 {
  font-family: "Roboto";
  font-size: 18px;
}

p {
  font-family: "Roboto";
  font-size: 16px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
  h4 {
    font-size: 20px;
  }
}
