.home-hero {
  position: relative;
  background-image: url("../viewtemplates/images/home/homepage-hero.jpg");
  background-size: cover;
  background-position: center;
  background-color: $dk-gray;
  background-blend-mode: multiply;

}


.home-hero__text {
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 100;
  // have to account for the search bar height too
  transform: translateY(calc(-50% - 40px));
  color: $white;
}

.home-hero__heading {
  margin-bottom: 5px;
}

.home-hero__subheading {
  line-height: 1.2;
}

.home-search {
  position: relative;
  z-index: 50;
  margin-top: -80px;
  height: 80px;
  width: 100%;
}

.home-search__background {
  background-color: $black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.home-search__bar {
  position: relative;
  margin-top: -58px;

  li a {
    padding-left: 13px;
  }
  input {
    border-radius: 3px 0 0 3px;
  }
}


.home-banner{
  margin-bottom: 40px;
  position: relative;
  height: 450px;

  h2 {
      font-size: 30px;
  }

  h3 {
      font-size: 20px;

  }
}

.home-graybanner{
  background-color: $light-gray;
  height: 350px;
}

.demo-banner{
  height: 325px;
  background-color: $dk-gray;
}


.home-blurb {
  position: relative;
  top: 0;
  bottom: 0;
  height: 30%;
  margin-top: 7%;

}

#home-vr-img{
  margin-top: 30px;
  // width: 250px;
}

#home-drift-img{
  width: 375px;
}

#home-drift-container{
  top: -30px;
}

#home-ondemand-img{
  width: 450px;
}

.home-callout-banner .section-head{
  color: $dk-gray;
}

.home-callout-banner .large-body{
  margin-bottom: 20px;
}

.home-callout-banner{
  margin-bottom: 40px;
}


.home-sign-up {
  margin-top: 20px;
}

.home-landlord {
  margin-top: -32px;
  position: relative;
  z-index: 10;
  background-image: url("../viewtemplates/images/home/homepage_bottom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.home-landlord__header {
  color: $orange;
  margin-bottom: 20px;
}
.home-landlord__desc {
  color: $white;
  margin-bottom: 30px;
}
.home-pin-container {
  overflow: hidden;
}




@media (max-width: 1024px) {



.home-banner{
  margin-bottom: 40px;
  position: relative;
  height: 400px;
}

.home-graybanner{
  background-color: $light-gray;
  height: 300px;
}

.home-blurb {
  position: relative;
  top: 0;
  bottom: 0;
  height: 30%;
  margin-top: 7%;

}

#home-vr-img{
  margin-top: 20px;
  // width:150px;
}

#home-drift-img{
  width: 310px;
}

#home-drift-container{
  top: -20px;
}

#home-ondemand-img{
  width: 350px;
  margin-top: none;
}

// ------------- UPDATED STYLES 8.24.17 --------------- //

.header-text{
    font-size: 35px;
}

.subhead-text{
    font-size: 18px;

}

.section-head{
    font-size: 22px;

}

.large-body{
    font-size: 16px;

}

}







// ------------- Tablet --------------- //


@media (max-width: 767px) {



.home-banner{
  margin-bottom: 40px;
  position: relative;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.home-graybanner{
  background-color: $light-gray;
  height: 60vh;
}

.home-photo-banner{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}


.home-blurb {
  position: relative;
  top: 0;
  bottom: 0;
  height: 25%;
  margin-top: 7%;

}


#home-vr-img{
  margin-top: 15px;
  width:200px;
}

#home-drift-img{
  width: 300px;
  
}

#home-drift-container{
  top: 0px;
}

#home-ondemand-img{
  width: 300px;
  margin-top: 0px;

}

// ------------- UPDATED STYLES 8.24.17 --------------- //

.header-text{
    font-size: 26px;
}

.subhead-text{
    font-size: 16px;

}

.section-head{
    font-size: 20px;
    text-align: center;

}

.large-body{
    font-size: 16px;
    text-align: center;

}

  .home-hero {
    height: 75vh;
  }

  .home-hero__heading {
    margin-top: 45px;

  .home-sign-up {
    margin-bottom: 30px;
  }
  .home-tenants__header {
    margin-top: 40px;
    font-size: 29px;
    line-height: 1.2;

    &:after {
      bottom: -22px;
      border-width: 0 0 2px;
    }
  }

}

}

// ------------- Phone --------------- //



@media (max-width: 426px) {



.home-banner{
  margin-bottom: 40px;
  position: relative;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.home-graybanner{
  background-color: $light-gray;
  height: 50vh;
}

.home-photo-banner{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}


.home-blurb {
  margin-top: none;

}


#home-vr-img{
  margin-top: 20px;
  width:150px;
}

#home-drift-img{
  width: 210px;
  
}

#home-drift-container{
  top: 0px;
}

#home-ondemand-img{
  width: 220px;
  margin-top: 40px;

}

// ------------- UPDATED STYLES 8.24.17 --------------- //

.header-text{
    font-size: 26px;
}

.subhead-text{
    font-size: 16px;

}

.section-head{
    font-size: 18px;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 10px;

}

.large-body{
    font-size: 14px;
    text-align: center;


}

  .home-hero {
    height: 75vh;
  }

  .home-hero__heading {
    margin-top: 45px;

  .home-sign-up {
    margin-bottom: 30px;
  }
  .home-tenants__header {
    margin-top: 40px;
    font-size: 29px;
    line-height: 1.2;

    &:after {
      bottom: -22px;
      border-width: 0 0 2px;
    }
  }

}

}


@media (min-width: 768px) {
  .home-hero {
    height: 600px;
  }
  .home-pin {
    position: absolute;
    width: 100%;
    top: -331px;
    background-image: url("../viewtemplates/images/home/pin.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .home-landlord {
    padding-top: 180px;
  }
  .home-landlord__button {
    margin-bottom: 190px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .home-pin {
    top: -305px;
    height: 857px;
    background-size: 1200px;
    background-position: right -80px top;
  }

  .home-blurb__header {
    font-size: 25px;
  }
  .home-blurb__desc {
    font-size: 18px;
  }
  .home-tenants__header {
    margin-top: 34px;
  }
  .home-landlord {
    margin-top: -30px;
  }
}
@media (min-width: 991px) and (max-width: 1259px) {
  .home-pin {
    background-size: 1304px;
    background-position: right -113px top;
    top: -331px;
  }
  .home-pin__orange {
    height: 603px;
    margin-top: 331px;
  }
  .home-pin__orange__right,
  .home-pin__orange__left {
    background-color: $light-orange;
    height: 100%;
    width: calc(50% - 575px);
    margin-top: -1px;
  }
  .home-pin__orange__right {
    display: none;
  }
  .home-pin__orange__left {
    float: left;
  }
  .home-blurb__desc {
    font-size: 25px;
  }
}
@media (min-width: 1170px) {


  .home-landlord {
    // margin-top: -106px;
    // padding-top: 240px;
  }
  .home-pin {
    top: -330px;
    background-size: 1296px;
    background-position: center;
    height: 932px;
  }
  .home-pin__orange {
    height: 602px;
    margin-top: 330px;
  }
  .home-pin__orange__right,
  .home-pin__orange__left {
    background-color: $light-orange;
    height: 100%;
    width: calc(50% - 644px);
    margin-top: -1px;
  }
  .home-pin__orange__right {
    float: right;
  }
  .home-pin__orange__left {
    float: left;
  }
}
