.flex-header {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;

}
.flex-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.flex-data-block {
    margin-top:15px;
    padding-top:15px;
    background-color:#F69746
}
