#landing-title {
    color: black;
    text-align: center;
}
h2 {
    color: #6F6F72;
    text-align: center;
    margin:0;
}
#divider {
    height: 50px;
}
h4 {
    color: #6F6F72;
}
#subtitlelanding {
    color: #6F6F72;
    text-align: center;
    margin: 0;
}
