// *** Mobile styles ***
.navbar {
    background-color: $white;
    margin-bottom: 0;
    position: absolute;
    z-index: 1000;
    width: 100%;
    .container {
        padding-top: 20px;
    }
    .navbar-collapse {
        padding:0;
    }
    .navbar-toggle {
        margin-top: 0;
    }
    .icon-bar {
        background-color: $orange;
        width: 25px;
        height: 4px;
    }
    #navbarlogo {
        cursor: pointer;
    }
    .navbar-brand {
        padding: 0 0 0 15px;
        img {
            width: 160px;
            content: url('/public/ViewTemplates/Images/brand_assets/wizio_logo_gray.png');
        }
    }
    .navbar-right {
        padding: 0;
        li{
            width: 49.5%;
            display: inline-block;
            border: none;
            margin: 0;
            border-bottom: 1px solid #eee;
            border-radius: 0;
            border-right: 1px solid #eee;
            text-align: center;
            font-size: 16px;
        }
    }
    .nav>li>a:focus, 
    .nav>li>a:hover {
        background-color: transparent !important;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav > li:hover > a {
        color: $orange;
        background-color: transparent;
    }
    .navbar-nav > li.active > a {
        background-color: transparent;
        color: $orange;
    }
}

// This class is responsible for changing background
// color of navigation based on page user is on
.transparent_nav {
    background-color: $white;
    .navbar-nav > li > a {
        color: $gray;
    }
}

#navbar-search { 
    margin: 0;
    width: 100%;
    display: block;
    padding:0;
    .form-group {
        display: inline-block;
        width: 90%;
    }

    input {
        padding-left: 5px;
        border-radius: 0;
        height: 35px;
        border: 1px solid #ccc;
        box-shadow: none;
    }
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
        font-weight: 300;
    }
    .btn-search {
        margin-left: -5px;
        border-radius: 0;
        color: $white;
        padding: 5px 9px;
        background-color: $blue;
        height: 35px;
        font-size: 17px;
        width: 10%;
        margin-top: -1px;
    }
}

// *** All other screens larger than mobile ***
@media (min-width: $screen-sm-min) {
    .navbar {
        padding-bottom: 10px;
        .navbar-brand {
            .white_logo {
                content: url('/public/ViewTemplates/Images/brand_assets/wizio_logo_white.png');
            }
            .gray_logo {
                content: url('/public/ViewTemplates/Images/brand_assets/wizio_logo_gray.png');
            }
        }
        .navbar-right {
            padding-right: 15px;
            padding-left: 15px;
            li {
                width: auto;
                display: block;
                border: none;
                padding: 0;
                text-align: left;
                font-size: 14px;
            }
        }
        .navbar-nav > li > a {
            font-size: 20px;
            padding: 10px 20px;
            color: $gray;
        }
    }
    #btn-upload {
        border: 2px solid $gray;
        border-radius: 5px;
        margin-right: 10px;
        &:hover {
            border: 2px solid $orange;
        }
        &:hover > a {
            color: $orange;
        }
    }

    .transparent_nav {
        background-color: transparent;
        .navbar-nav > li > a {
            color: $white;
        }
        #btn-upload {
            border: 2px solid $white;
        }
        #btn-upload:hover {
            border: 2px solid $orange;
        }
    }

    #navbar-search {
        // margin: 8px -15px;
        padding: 5px 0 0 25px;

        input {
            width: 200px;
        }
        .btn-search {
            width: auto;
            margin-top: 0;
        }
        .form-group {
            display: inline-block;
            width: 200px;
        }
    }
}

@media (min-width: 1200px) {
    #navbar-search {
        input {
            width: 250px;
        }
        .form-group {
            width: 250px;
        }
    }
}

