nav {
    height: 80px;

    .container {
        padding-top: 20px;
    }
}

.navbar {
    background-color: $white;
    margin-bottom: 0;

    .icon-bar {
		color: $orange;
	}
    .navbar-brand {
        padding: 0 0 0 15px;

        img {
        	width: 160px;
        }
    }
    #navbar {
	    height: 28px !important;
	}
	.navbar-nav > li > a {
        text-transform: uppercase;
        font-size: 20px;
        padding: 10px 40px 10px 0;
        color: $black;
    }
	.navbar-nav > li:hover > a {
		color: $blue;
		background-color: transparent;
	}
    .navbar-nav > li.active > a {
        background-color: transparent;
        color: $blue;
    }
}

// This class is responsible for changing background
// color of navigation based on page user is on
.transparent_nav {
    background-color: transparent;
}

#btn-signup {
    width: 130px;
    background-color: $blue;
    height: 38px;
    border-radius: 5px;

    a {
        padding: 10px 15px 10px 15px;
        color: $white;
        text-align: center;
    }
}

#navbar-search {
	margin-top: 2px;
	margin-left: 30px;

    input {
        padding-left: 5px;
        width: 200px;
        border-radius: 0;
    	height: 35px;
    }
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
        font-weight: 300;
    }
    .btn-search {
	    margin-left: -5px;
	    border-radius: 0;
	    color: $white;
	    padding: 5px 9px;
	    background-color: $blue;
	    height: 35px;
	    font-size: 17px;
	}
}

@media (min-width: 1200px) {
	#navbar-search {
	    input {
	        width: 250px;
	    }
	}
}
