#navbarlogo {
    width: 8em;
    margin-left: 10%;
}
#landingpagelogo {
    padding-top: 5px;
    width: 12em;
    position: relative;
    z-index: 2;
}
button.nav-search {
    background-color: white;
    color:#FA9A29;
    border-color: #FA9A29;
}
