#map {
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 90% !important;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom: 0;
    margin-top: 0;
}