.buttonPlacement {
    margin-bottom:5px;
}
.formStyle {


    .modal-header {
		border-bottom: 0;
	}

	.modal-title {
		font-family: "Roboto Slab";
		font-size: 2rem;
	}

	&-controls {
		max-width: 220px;
		margin: 0 auto;
		padding: $account-padding;

	}
    label {
        padding-top: 10px;
    }

	.form-control {
		background: none;
		box-shadow: none;
		border-radius: 0;
		outline: 0;
		border: 0;
		border-bottom: 2px solid $gray;
		padding: 3px 6px;
		&:focus {
			color: $orange;
			border-bottom-color: $orange;
		}
	}


}
.bold {
    font-weight: bold;
}
.styled-select {
	  position:relative;
	  border:solid 1px #888888;
	  overflow:hidden;
	  display:block;
	  width:12em;
	  margin:auto;
	  font-size:1em; /*use this to scale the select*/
	}


	.styled-select select {
	  width:100%;
	  font-size: .9em;
	  height: 2em;
	  margin: 0;
	  background: rgb(0, 0, 27); /*IE Fallback*/
	  background: rgba(0, 0, 27, 0);
	  border:none;
	  outline:none;
	  display: inline-block;
	  -webkit-appearance:none;
	  -moz-appearance:none;
	  appearance:none;
	  cursor:pointer;
	}

	.styled-select select option {
		background-color: #fff;
	}

	.styled-select .select-button {
	  background-color:#7A9DD1;
	  right:0; top:0;
	  position:absolute;
	  pointer-events:none;
	  /*text-align: center; vertical-align: middle; */
	  width: 2em; height: 1.8em;
	}

	.styled-select .select-button .select-button-text {
//		color: #fff;
		line-height: 1.8em;
		text-align: center;
		display: block;
	}

	.styled-select .select-button .select-button-text span{
		font-size: 1em;
	}


	.small-arrow-down {
		width: 0;
		height: 0;
		border-left: .4em solid transparent;
		border-right: .4em solid transparent;
		border-top: .4em solid #fff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.lt-ie10 .styled-select {
		background: #fff;
		border: none;
	}

	.lt-ie10 .styled-select .select-button {
		display: none;
	}

    .leads-table {
        table-layout: fixed;
        width: 100%;
        word-wrap: break-word;         /* All browsers since IE 5.5+ */
        overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    }
