.styleguide-nav, .styleguide {
  margin-top: -28px;
}

.styleguide-nav {
  background-color: $gray;
  position: fixed;
  color: $white;

  > h2 {
    padding-top: 10px;
    position: relative;

    &:after {
      content: '';
      color: $white;
      opacity: 0.3;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -4px;
      border-width: 0 0 1px;
      border-style: solid;
    }
  }
}

.styleguide-nav__list {
  list-style: none;
  padding-left: 15px;

  a {
    color: $white;
  }
}

.styleguide {
  background-color: $white;
}

.styleguide-section {

  margin-bottom: 50px;

  > h2 {
    padding-top: 10px;
    position: relative;

    &:after {
      content: '';
      color: $gray;
      opacity: 0.3;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -4px;
      border-width: 0 0 1px;
      border-style: solid;
    }
  }
}

.code {
  background-color: $black;
  color: $white;
  border: none;
}

div[class^='color__box'], div[class*=' color__box']{
  height: 100px;
}

.color__box--orange {
  background-color: $orange;
}
.color__box--gray {
  background-color: $gray;
}
.color__box--red {
  background-color: $red;
}
.color__box--blue {
  background-color: $blue;
}
.color__box--light-orange {
  background-color: $light-orange;
}
