.subscription-banner-header {
    padding-left: 10px;
    padding-right:10px;

}

.selected-plan {
    color: white;
    background-color: orange;
}

.subscription-banner-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.subscription-banner-header__main {
    h3 {
        font-size: 30px;
    }
}

.subscription-top {

}

.subscription-middle {
    display: flex;
}
