.subscription-banner-header {
    padding-left: 10px;
    padding-right:10px;
}

.selected-plan {
    color: white;
    background-color: #F79739;
}

.subscription-banner-container {
  display: flex;
  cursor:pointer;
  @media (max-width: $screen-md){
    margin-bottom:8px;
  }
  width: 100%;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

.subscription-banner-container:hover {
    background-color: #7A9DD1;
}


.subscription-banner-header__main {
    h3 {
        font-size: 30px;
    }
}

.subscription-top {
    background-image: url('/public/viewtemplates/images/pricing/1.jpg');
    background-position: 0px 0px;
    background-size: cover;
    padding-top:25px;
    padding-bottom: 15px;
    padding-left: 15px;
    h1 {
        margin-top: 0px;
    }
    @media (min-width: $screen-md) {
      display: flex;
    }
    align-items: left;

}

.subscription-wrapper label {

    color: #706F72;

}

.subscription-wrapper h4 {
        text-align: left;
        font-size: 250%;

        // background-color:#7A9DD1;
        // padding: 4px;
        // border: 2px solid #706F72;
        // color: white;
        // border-radius: 4px;

}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 3px solid #eee;
}

.subscription-middle {
    display: flex;
}

.subscription-tile {
    // padding: 25px;
    display: flex;
}

.submit-step {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-quote {
    background-color:$blue;
    width:100%;
    height:auto;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: white;
    padding: 15px;

}

.headshot {
    border-radius: 50%;
}
