.tour-container {

}

.arrow-move {
    color: #F8983A;
}


.tour-navbar-logo {
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    padding-left:10px;

    .logo-header {
        color:white;
        right:0px;
        font-size:1em;
        display:flex;
        align-items:center;
        flex-direction:column;
    }
}


.unit-details-media-tab-content-picker__img {
display:block;
margin-left: auto;
margin-right: auto;
}

.outline-photo-orange {
    outline: 5px solid orange;
    outline-offset: -5px;
}

.tour-floorplan-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour-photo-list-wrapper {

    height: 100%;
    overflow-x:scroll;
    display:flex;
    text-align: center;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

.tour-photo-list-wrapper::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.tour-navbar {
    position: relative;
    background-color: $dk-gray;
    opacity: .75;
    padding: 4px 0px;

    @media (max-width: $screen-md-min) {
        background-color: transparent;

    }

    .tour-nav-buttons {
        .navbar-right a {
            color: white ;
            cursor: pointer;
        }
        .navbar-right a:hover {
            color: $orange ;

        }
    }

}

.tour-navbar .in a  {
    color: $gray !important;
}
.tour-navbar .collapsing a  {
    color: $gray !important;
}
.label-and-photo-wrapper {
    margin:0;
    cursor:pointer;
    height:100%;
    float: left;
    padding-left:10px;
    padding-right:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    //use media queries for different screen sizes
}

.tour-photos-container {
    position: absolute;
    z-index:100;
    bottom:5px;
    display: flex;
    align-items: center;
    justify-content: center;

    right: 0;
    margin: 0 auto;
    left: 0;

    @media (min-width: $screen-md-min) {
        width: 80%;

    }


    @media (max-width: $screen-md-min) {
        width: 100%;

    }

    .tour-photo-labels {
        color:white;
        text-overflow: ellipsis;
    }

    .fa{
      font-size: 35px;
      padding: 0px 10px;
    }
}

.tour-photos-button {
    cursor: pointer;
    text-align: center;

}

.tour-controls-container {
    position: absolute;
    bottom: 55px;
    left: 50px;
}

#Agent-Profile__Photo img{
  width:200px;
  height:200px;
  margin-bottom: 5px;
}

#pano:hover {
    cursor: grab;
}

#pano:active {
    cursor: grabbing;
}

canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
