.tour-container {

}

.tour-photos-navbar {
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;

    .tour-nav-buttons {
        margin-left: auto;
    }
}

.outline-photo-orange {
    border-color: orange;
    border-radius: 3px;
    border-width: 5px;
    border-style: solid;
}

.tour-floorplan-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: inline-block;
}

.tour-photos-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tour-photos-button {
    cursor: pointer;
    text-align: center;

}

.tour-controls-container {
    position: absolute;
    bottom: 55px;
    left: 50px;
}

.tour-agentprofile-container {

}

.tour-vrplayer-container {

}

.tour-poweredby-container {

}

canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
