
.unit-details {
	padding-bottom: 60px;
	@media (min-width: $screen-md-min) {
		padding-bottom: 150px;
	}

	&__orange {
		color: $orange;
	}


	&__action-btn {
		$action-btn-tint: 10%;
		color: $blue;
		border: 2px solid $blue;
		background: $white;
		@include button-hover-state {
			background: $blue;
			color: $white;
		}

		&__orange {
			color: $orange;
			border-color: $orange;

			@include button-hover-state {
				background: $orange;
				color: $white;
			}

		}


		@media (min-width: $screen-md-min) {
			padding-left: 25px;
			padding-right: 25px;
			margin: 10px 5px 0 0;
			font-size: 1.5rem;
		}

		@media (max-width: $screen-xs-max) {
			float: left;
			width: 33%;
			border-radius: 0;
			border-color: $gray;
			border-left-width: 0;
			border-width: 1px 1px 1px 0;
			&:last-of-type {
				width: 34%;
			}
			@include button-hover-state {
				border-color: $gray;
			}
		}

	}

	@media (max-width: $screen-xs-max) {
		.unit-details-action-btn-wrapper {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			overflow: hidden;
			z-index: 99;
		}

	}

}

.unit-details-header {
	margin: 20px auto;

	&__heading {
		font-size: 2.3rem;
		@media (min-width: $screen-sm-min) {
			font-size: 4.2rem;
		}
	}

	.unit-details-action-btn-wrapper {
		float: right;
		margin-top: 3px;
	}	
}

.unit-details-features {
	margin: 0 -25px;
	@media (min-width: $screen-sm-min) {
		margin: 10px 40px 0 -25px;
	}
}

.unit-details-features, 
.unit-details-info {
	max-width: 450px;
}

.unit-details-feature {
	text-align: center;
	color: #8B93A1;
	height: 90px;
	padding: 0 5px;

	// this is wrapped because sass compiles & directly to the class name and I want it to be & &__icon
	.unit-details-feature {

		&__icon {
			width: 50%;
		}

		&__desc {
			text-align: center;
		}

	}
}

.unit-details-media-container {
	@media (max-width: $screen-xs-max) {
		padding: 0;
	}
	@media (min-width: $screen-sm-min) {
		margin-bottom: 80px;
	}
	@media (min-width: $screen-md-min) {
		margin-bottom: 120px;
	}
	#map {
		// this maintains a 16 / 9 aspect ratio
		padding-bottom: percentage(9 / 16);
	}
}

.unit-details-info {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #666;

	@media (min-width: $screen-sm-min) {
		padding-bottom: 30px;
		margin-bottom: 30px;
	}

	&__price {
		font-weight: 400;
		margin: 0 0 5px;
		@media (min-width: $screen-md-min) {
			font-size: 3.6rem;
		}
	}

	&__heading {
		font-weight: 300;
		margin: 0 0 5px;
	}

	&__updated {
		color: $blue-gray;
		margin: 15px 0 0;
	}

}


.unit-details-description {
	p {
		font-size: 1.7rem;
		line-height: 2.3rem;
	}

	&__heading {
		margin-top: 0;
	}

}

.unit-details-media-container-tabs {
	$tab-border-width: 3px;
	@include clearfix();
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: $tab-border-width solid #eee;

	li {
		float: left;
		text-align: center;
		width: 33%;
		border-right: 1px solid #eee;
		padding: 0;

		.unit-details-media-container-tab {
			position: relative;
			top: $tab-border-width;
			color: $gray;
			background: none;
			width: 100%;
			padding: 15px 10px;
			font-size: 1.8rem;

			@include button-hover-state("&.selected") {
				color: $blue;
				border-bottom: $tab-border-width solid $blue;
			}

		}

		&:last-of-type {
			border-right: 0;
			width: 34%;
		}
	}
}