<div class='container'>
    <div class='row'>
        <form class='col-md-9' ng-submit='setUserObject()'>
            <h3>User Info:</h3>
            <div class='form-group'>
                <label class='control-label'>First Name:</label>
                <input class='form-control' ng-model='firstName' type='text'>
            </div>
            <div class='form-group'>
                <label class='control-label'>Last Name:</label>
                <input class='form-control' ng-model='lastName' type='text'>
            </div>
            <div class='form-group'>
                <label class='control-label'>Email:</label>
                <input class='form-control' name='email' ng-model='email' required='true' type='email'>
                <span ng-show='createAcct.email.$invalid'>
                    <span ng-show="createAcct.email.$error.email">Invalid email address</span>
                    <span ng-show="createAcct.email.$error.required">Invalid email address</span>
                </span>
            </div>
            <div class='form-group'>
                <label class='control-label'>Set Password:</label>
                <input class="form-control" ng-model="password" type="password"/>
                <label class='control-label'>Confirm Password:</label>
                <input class="form-control" name="password" ng-model="passwordConfirm" type="password"/>
            </div>
            <div>
                <div class="form-group">
                    <div>

                        <label>
                            I am a...
                        </label>
                    </div>

                    <div class="btn-group">
                        <label btn-radio="'broker'" class="btn btn-primary" ng-model="radioModel">Broker</label>
                        <label btn-radio="'realtor'" class="btn btn-primary" ng-model="radioModel">Realtor</label>
                        <label btn-radio="'tenant'" class="btn btn-primary" ng-model="radioModel" style="margin-left:15px;">Tenant</label>
                    </div>
                </div>
            </div>
            <input class='btn btn-primary' for='createAcct' type='submit'>
        </form>
    </div>
</div>
