<div class='container'>
  <form class='col-md-9' ng-submit='createAcct()'>
    <h3>User Info</h3>
      <div class='form-group'>
        <label class='control-label'>First Name:</label>
        <input type='text' ng-model='firstName' class='form-control'>
      </div>
      <div class='form-group'>
        <label class='control-label'>Last Name:</label>
        <input type='text' ng-model='lastName' class='form-control'>
      </div>
      <div class='form-group'>
        <label class='control-label'>Email:</label>
        <input type='email' ng-model='email' required='true' class='form-control'>
      </div>
      <div class='form-group'>
        <label class='control-label'>User Name:</label>
        <input type='text' ng-model='userName' required='true' class='form-control'>
      </div>
      <div class='form-group'>
        <label class='control-label'>Set Password:</label>
        <input type='password' ng-model='password' class='form-control'>
        <label class='control-label'>Confirm Password:</label>
        <input type='password' ng-model='passwordConfirm' class='form-control'>
      </div>
      <div class="form-group">
        <label>I am a...</label>
      </div>

      <div class="btn-group">
        <label class="btn btn-submit" ng-model="radioModel" btn-radio="'broker'">Broker</label>
        <label class="btn btn-submit" ng-model="radioModel" btn-radio="'tenant'" >Tenant</label>
      </div>
      <input type='submit' class='btn btn-submit' for='createAcct'>
  </form>
</div>
