<div>
    <div class="container body">
        <div class='row'>
            <form class='col-md-9'>
                <h3>Broker Info:</h3>
                <div class='form-group'>
                    <label class='control-label'>Broker Business Name:</label>
                    <input class='form-control' ng-model='businessName' type='text'>
                </div>
                <div class='form-group'>
                    <label class='control-label'>Broker License ID:</label>
                    <input class='form-control' ng-model='licenseID' type='text'>
                </div>
            </div>
            <input class='btn btn-primary' for='createAcct' ng-click="createBrokerInfo()" type='submit'>
        </form>
    </div>
</div>
