<div class="container-fluid">
  <div class="demo-section">
    <center><img src="public/viewtemplates/images/logo.png"
      id="landingpagelogo"></center>

      <center><h1>Explore Real Estate Virtually</h1></center>

        <div class="hidden-xs hidden-sm">
        <center><iframe width="640px" height="385px"
        src="https://www.youtube.com/embed/5oCTsArsOr4"
        frameborder="0" allowfullscreen id="demo">
        </iframe></center>
        </div><!--mobile hidden-->

        <div class="hidden-md hidden-lg">
        <center><iframe width="380px" height="320px"
        src="https://www.youtube.com/embed/5oCTsArsOr4"
        frameborder="0" allowfullscreen id="demo">
        </iframe></center>
        </div><!--desktop hidden-->

      <img src="public/viewtemplates/images/bos.jpg" id="bck">
  </div><!-- demo section -->

  <div class="entersite-section row">
    <div class="col-lg-offset-3">
    <center><div class="input-group">
        <input type="text" class="form-control">
          <div class="input-group-btn">
                <button class="btn btn-success" type="button" href="">
                  Search to Enter Site
                </button>
          </div>
    </div></center>
  </div>
  </div><!--enter site-->

  <div class="signup-section row">
    <!--FORM-->
      <center><h3>Start your apartment search today.</center></h3>

      <div class="row">
        <div class="col-lg-6 form-group">
        <label class="control-label"><h3>First Name:</h3></label>
        <input class="form-control" ng-model='firstName' type='text'>
        </div>

        <div class="col-lg-6 form-group">
          <label class='control-label'><h3>Last Name:</h3></label>
          <input class="form-control" ng-model='lastName' type='text'>
        </div>
      </div><!-- row-->

      <div class="row">
        <div class="col-lg-4 form-group">
          <label class='control-label'><h3>Email:</h3></label>
          <input class="form-control" name='email' ng-model='email'
          required='true' type='email'>
          <span ng-show='createAcct.email.$invalid'>
          <span ng-show="createAcct.email.$error.email">Invalid email address
          </span>
          <span ng-show="createAcct.email.$error.required">Invalid email address
          </span>
        </span>
      </div>

      <div class="col-lg-4 form-group">
        <label class='control-label'><h3>Set Password:</h3></label>
        <input class="form-control form-input" ng-model="password"
        type="password"/>
      </div>

      <div class="col-lg-4">
        <label class='control-label'><h3>Confirm Password:</h3></label>
        <input class="form-control form-input" name="password"
        ng-model="passwordConfirm" type="password"/>
      </div>
    </div><!--row-->

      <center><input class="btn btn-success btn-lg" value="Sign Up"
        id="signinbtn"></center>
</div><!--signup-section-->



  <div class="descrip-section row">
    <center><h1>What is Wizio?</h1></center>
    <p><h3>Founded in January of 2015, Wizio utilizes cutting-edge technology to
      offer an automated realtor service that connects quality tenants to
      landlords and property managers faster and cheaper than ever before.
      The software as a service provides virtual reality apartment showings,
      automated lease generation and submission, and tenant screening. Wizio
      aims to enhance the process for everyone by bringing affordable automation
      to the apartment rental market.</p></h3>
  </div><!--descrip section -->

</div><!--container-->
