<div class="col-md-12" ng-repeat="activelisting in activelistings track by $index" style="border: 1px solid black; margin:5px; border-radius:5px;">
    <div class="row unit-block">
        <div class="col-lg-6">
            <div>Apartment Address: <br> {{activelisting.Apartment.concatAddr}}</div>
            <div>Unit Number: {{activelisting.Apartment.unitNum}}</div>
        </div>
        <div class="col-lg-6 search-right">
            <button data-clipboard-text="{{windowLocationOrigin + '/tour/' + activelisting.PubId}}" class="btn btn-md btn-outline--orange clipboard">Copy Link</button>
            <button class="btn btn-md btn-outline--orange" ng-click="openInNewPage(activelisting.PubId)">Open Tour</button>

            <!-- <button class="btn btn-md btn-outline--orange clipboard">Deactivate</button> -->
        </div>
    </div>
</div>
