<div class="page-container min-height--vh-98">
    <section class="navbar-spacing">
        <div style="height:60px; background-color: gray;">This is search space holder</div>
    </section>
    <section class="section" id="search-results-container">
        <div class="component-container listing-tile" ng-repeat="listing in listings track by $index " style="cursor: pointer; ">
            <div class="listing-tile__title orange" ng-click="viewTour(listing) ">
                South Street, Jamaica Plain
            </div>
            <div class="listing-tile__top-content">
                <div class="listing-tile__map"></div>
                <div class="listing-tile__preview">
                    <vr-player-dir ng-if="listing.isBeingPreviewed"></vr-player-dir>
                    <img class="listing-tile__img" ng-if="!listing.isBeingPreviewed" ng-click="showVRPreview(listing, $index)" src="https://d1mze0h82dkhhe.cloudfront.net/6bbc6427-f349-44ac-a15b-5e431d301acd/Kitchen%20(A).JPG"
                        alt="">
                </div>
            </div>
            <div class="listing-tile__bottom-content" ng-click="viewTour(listing) ">
                <div class="listing-tile__metadata">
                    <div class="listing-tile__data-point--sml">Beds: 4</div>
                    <div class="listing-tile__data-point--sml">Baths: 2</div>
                    <div class="listing-tile__data-point--sml">Pets: OK</div>
                    <div class="listing-tile__data-point--med">Price: $2200</div>
                    <div class="listing-tile__data-point--med">Available: 9/1/18</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="market-map-container">
        <div class="market-map" style="background-color: gray" id="map" class="map"></div>
    </section>
</div>