<div class="" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; pointer-events:none;" ng-if="showInterface">
    <div class="tour-photos-container" ng-show="selectPhoto">
        <div class="container-fluid" style="z-index:100;">
            <div class="pointer-events_all" id="scrollthis" style="background-color:grey; position: absolute; border: solid; bottom: 0; right: 0;  left: 0;overflow-x:scroll; display:flex; " >
                <div class="" ng-repeat="photo in media.vrphoto track by $index" ng-click="changePhoto($index)" style="margin:0;cursor:pointer;width: 20%; height:100%; float: left; padding-left:15px; padding-right:15px;"  >
                        {{photo.title}}
                        <img ng-src="{{thumbnailURL($index)}}" class="unit-details-media-tab-content-picker__img" ng-class="photoIndex == $index ? 'outline-photo-orange' : ''"  height="90" width="160" />
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row  pointer-events_all" id="photo-button-container" style="padding:25px;background: rgba(0,0,0,0.35); border: 1px solid black; border-radius:2px; height:400px; overflow:scroll; margin-top: 100px; margin-left: 50px; margin-right:50px; overflow-x: hidden;">
            <div class="photo-tab col-sm-3 col-md-2  pointer-events_all" ng-repeat="photo in media.vrphoto track by $index">
                <div ng-click="changePhoto($index)" >
                <img ng-src="{{thumbnailURL($index)}}" height="110" width="200" style="border:2px solid black">
                <br>
                <span class="photo-label">{{photo.title}}</span>
                </div>
            </div>
    </div> -->
    <div class="tour-floorplan-container pointer-events_all" ng-hide="selectPhoto || !viewFloorPlan" style="z-index:100;">
        <span style="height:100%; display:inline-block; vertical-align:middle;"></span>
        <div style="position:relative; display:inline-block">
            <img src="{{data.floorPlan}}" id="floorplan" style="" alt="" />
            <span ng-repeat="photo in media.vrphoto track by $index">
                    <img src="public/viewtemplates/images/brand_assets/map_pin.png" class="unit-details-floorplan-pin" ng-hide="photoIndex === $index" ng-click="changePhoto($index)" ng-if="media.vrphoto[$index].isUnit" style="cursor: pointer; top: {{media.vrphoto[$index].y}}%; left: {{media.vrphoto[$index].x}}%" alt="" />
                    <img src="public/viewtemplates/images/favicons/mstile-70x70.png" ng-show="photoIndex === $index" ng-click='changePhoto($index)'  class="unit-details-floorplan-pin" ng-if="media.vrphoto[$index].isUnit" alt="" style="width: 45px; height: 45px; cursor: pointer; top: {{media.vrphoto[$index].y}}%; left: {{media.vrphoto[$index].x}}%;" />
            </span>
        </div>
    </div>
    <div class="tour-control-container">
        <fly-out-menu-dir select-photo='selectPhoto'></fly-out-menu-dir>
    </div>
    <div class="tour-agentprofile-container pointer-events_all" ng-show="showcontactinfo">
        <agent-profile-dir></agent-profile-dir>
    </div>

    <loading-spinner-dir id="vrPlayerLoader" size="fa-5x" style="color:#f79739; visibility: hidden; position: absolute; z-index: 1000; top: 50%; right: 50%"></loading-spinner-dir>

    <!-- Photo Selection  -->
    <!-- Floorplan -->
    <!-- Menu -->
    <!-- Contact Info -->
    <!-- Powered By -->
</div>
