<div class="" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; pointer-events:none;" ng-if="showInterface">

    <div class="tour-photos-navbar pointer-events_all">
        <div style="display:flex; align-items:center; padding-top:5px;padding-left:10px;">
            <span style="color:white; right:0px; font-size:1em;">Powered By <a href="https://www.wizio.co/" target="_blank"><img style="width:90px;" src="public/viewtemplates/images/brand_assets/wizio_logo_white.png" /></a></span>
        </div>
        <div class="tour-nav-buttons">
            <button class="btn btn-md btn-fill--orange"> Floorplan </button>
            <button class="btn btn-md btn-fill--orange"> Contact Agent </button>

        </div>
    </div>



    <div class="tour-photos-container container-fluid" style="background-color:gray;z-index:100;position: absolute; padding-top:35px; top:85%; height:15%; display: flex">
            <div class="arrow-move pointer-events_all" style=" align-items: center;display:flex;cursor:pointer;" >
                <i class="fa fa-chevron-left fa-4x" aria-hidden="true" ng-click="moveSliderBackward()"></i>
            </div>
            <div class="pointer-events_all" id="scrollthis" style="margin-left:auto; margin-right:auto;width:90%;background-color:grey; overflow-x:scroll; display:flex; text-align: center; " >
                <div class="label-and-photo-wrapper" ng-repeat="photo in media.vrphoto track by $index" ng-click="changePhoto($index)"  >
                        <img ng-src="{{thumbnailURL($index)}}" class="unit-details-media-tab-content-picker__img" ng-class="photoIndex == $index ? 'outline-photo-orange' : ''"  height="90" width="160" />
                        <span style="color:white;">{{photo.title}}</span>
                </div>
            </div>
            <div class="arrow-move pointer-events_all" style="align-items: center;display:flex; cursor:pointer;" >
                <i class="fa fa-chevron-right fa-4x" aria-hidden="true" ng-click="moveSliderForward()" ></i>
            </div>
        <!-- <div class="tour-photos-move-scroll pointer-events_all" style="background-color:red; position: absolute; padding-top:15px; bottom: 0; right: 0;  left: 0; display: flex;">
            <div style="width:5%: height:100%; background-color:green" >
                <i class="fa fa-chevron-left" aria-hidden="true" ng-click="moveSliderBackward()"></i>
            </div>
            <div style="margin-left: auto; width:5%: height:100%; background-color:green" >
                <i class="fa fa-chevron-right" aria-hidden="true" ng-click="moveSliderForward()" ></i>
            </div>
        </div> -->
    </div>
    <!-- <div class="row  pointer-events_all" id="photo-button-container" style="padding:25px;background: rgba(0,0,0,0.35); border: 1px solid black; border-radius:2px; height:400px; overflow:scroll; margin-top: 100px; margin-left: 50px; margin-right:50px; overflow-x: hidden;">
            <div class="photo-tab col-sm-3 col-md-2  pointer-events_all" ng-repeat="photo in media.vrphoto track by $index">
                <div ng-click="changePhoto($index)" >
                <img ng-src="{{thumbnailURL($index)}}" height="110" width="200" style="border:2px solid black">
                <br>
                <span class="photo-label">{{photo.title}}</span>
                </div>
            </div>
    </div> -->
    <div class="tour-floorplan-container pointer-events_all" ng-hide="selectPhoto || !viewFloorPlan" style="z-index:100;">
        <span style="height:100%; display:inline-block; vertical-align:middle;"></span>
        <div style="position:relative; display:inline-block">
            <img src="{{data.floorPlan}}" id="floorplan" style="" alt="" />
            <span ng-repeat="photo in media.vrphoto track by $index">
                    <img src="public/viewtemplates/images/brand_assets/map_pin.png" class="unit-details-floorplan-pin" ng-hide="photoIndex === $index" ng-click="changePhoto($index)" ng-if="media.vrphoto[$index].isUnit" style="cursor: pointer; top: {{media.vrphoto[$index].y}}%; left: {{media.vrphoto[$index].x}}%" alt="" />
                    <img src="public/viewtemplates/images/favicons/mstile-70x70.png" ng-show="photoIndex === $index" ng-click='changePhoto($index)'  class="unit-details-floorplan-pin" ng-if="media.vrphoto[$index].isUnit" alt="" style="width: 45px; height: 45px; cursor: pointer; top: {{media.vrphoto[$index].y}}%; left: {{media.vrphoto[$index].x}}%;" />
            </span>
        </div>
    </div>
    <div class="tour-control-container">
        <fly-out-menu-dir select-photo='selectPhoto'></fly-out-menu-dir>
    </div>
    <div class="tour-agentprofile-container pointer-events_all" ng-show="showcontactinfo">
        <agent-profile-dir></agent-profile-dir>
    </div>

    <loading-spinner-dir id="vrPlayerLoader" size="fa-5x" style="color:#f79739; visibility: hidden; position: absolute; z-index: 1000; top: 50%; right: 50%"></loading-spinner-dir>

    <!-- Photo Selection  -->
    <!-- Floorplan -->
    <!-- Menu -->
    <!-- Contact Info -->
    <!-- Powered By -->
</div>
