<!--<div class="">
    <h1>Upload Video</h1>
    <div class="">
        <label for="">Street address</label>
        <input type="text"></input>
        saf
        sadf
        sad
        fsadf
        sadf
        sd
        fsfadasf
        fs
        d
    </div>

    <div>
        <div class="">
            <div class="">
                <div class="">
                    <h3 class="">Upload Your Video File</h3>
                </div>
                <div class="">

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                            {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                        </div>
                    </div>
                    <a class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="container-fluid" style="padding:20px;" >
    <div class="row">
        <h1>Upload Apartment</h1>
        <form ng-submit='setUserObject()' style='margin-bottom:20px;'>
            <div class="col-lg-offset-1 col-lg-10 form-group">
                <label class='control-label'>
                    <h4>Apartment Address:</h4>
                </label>
                  <input class="form-control" ng-model="apartmentAddress" type="text" typeahead-loading="loadingLocations" typeahead-min-length="5" typeahead-no-results="noResults" typeahead="address for address in getLocation($viewValue)">
                  <i class="glyphicon glyphicon-refresh" ng-show="loadingLocations"></i>
                  <div ng-show="noResults">
                  <i class="glyphicon glyphicon-remove"></i>
                  No Results Found
                  </div>
            </div>
            <div class="col-lg-offset-1 col-lg-10 form-group">
                <label class='control-label'>
                    <h4>Upload Your Video File:</h4>
                </label>
                <input class="form-control btn" file ng-model="file" type="file" name="file"></input file>
            </div>
            <div class="col-lg-offset-1 col-lg-10 form-group">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                        {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                    </div>
                </div>
            </div>

            <div class="col-lg-offset-1 col-lg-10">
                <center>
                        <input class="btn btn-primary btn-block btn-lg" ng-click="upload()" type='submit'>
                </center>
            </div>

            </br>
            </br>
        </form>
    </div>
</div>
