<!-- A subscription tile (one of those subscription banners) -->
<div class="subscription-banner-container" style="border:1px solid black; height:100%;" ng-attr-id="{{subscriptionPlan.id}}" ng-click="changeSelected(subscriptionPlan.id)">
    <div class="subscription-banner-header" ng-class="selectedplan" >
        <div class="subscription-banner-header__main" style="text-align: center;">
            <h3>
                {{subscriptionPlan.name}}
            </h3>
        </div>
        <div class="subscription-banner-header__sub">
            <h4>
                {{subscriptionPlan.subHeader}}
            </h4>
        </div>
        <div>
            ${{subscriptionPlan.costPerMonth}} <br>
            <i> billed monthly </i>
        </div>
        <div class="subscription-banner__features">
            <span><strong>Included in {{subscriptionPlan.name}}:</strong></span>
                <p ng-repeat="feature in subscriptionPlan.features track by $index"> {{feature}}</p>
        </div>
    </div>
</div>
