<div>
    <div class="container-fluid" style="background-color:#231F20; color:white; font-size:20px;">
      <br>
      <ul class="linker" style="list-style-type: none; float:left; margin-left:-40px;">
          <li ng-click="goAbout()">
              <a href="">About</a>
          </li>
          <li style="color:white" ng-click="goBlog()">
              <a href="">Blog</a>
          </li>
          <li>
            &copy; Wizio
          </li>
      </ul>
      <ul style="float: right !important;list-style-type: none;margin-left:-20px">
        <li>
          745 Atlantic Ave<br>
          Boston, MA 02111
        </li>
        <br>
          <li class="linker">
          <a href="https://www.facebook.com/wizio" target="_blank"  style="padding:3px"> <i class="fa fa-facebook-square fa-3x"> </i> </a>
          <a href="https://www.twitter.com/teamwizio" target="_blank" style="padding:3px"> <i class="fa fa-twitter-square fa-3x"> </i> </a>
          <a href="mailto:info@wizio.co" target="_blank" style="padding:3px"> <i class="fa fa-envelope-square fa-3x"> </i> </a>
          </li>
      </ul>
    </div>
</div>
<!--End Footer-->
