<div style="margin-bottom:50px">
    <h2 class="user-info__name"> Update Agent Info: </h2>
    <p> Upload Photo -- for best results, please use a square photo </p>
    <input type="file" id="file-chooser" class="form-control" style="border: 1px solid black;" placeholder="" value="">
    <br>
    <button class="btn btn-outline--blue" ng-click="saveProfilePhoto()">Upload Photo </button>
    <p>
        Phone Number
    </p>
    <input type="text" id="phone-input" ng-model='phoneNumber' class="form-control" style="border: 1px solid black;" ng-attr-placeholder="{{phoneNumber}}" value="">
    <br>
    <button class="btn btn-outline--blue" ng-click="savePhoneNumber()">Save Phone Number</button>
</div>
