<div class="col-xs-12">
  <div class="agent-profile-form">
    <h2 class=" row row-space product-section-head orange"> Your Profile </h2>

    <p class="row-space subhead-text orange"> Basic Info</p>
    <hr id="form-divider"></hr>


    <div class="row form-space">
      <div class="col-sm-6">
        <label for="AgentFirstName"> First Name </label>
        <input type="text" ng-model="user.firstName" ng-disabled="disableForm" class="form-control" name="" placeholder="{{user.firstName}}" required>
      </div>

      <div class="col-sm-6">
        <label for="AgentLastName"> Last Name </label>
        <input type="text" ng-model='user.lastName', class="form-control"  ng-disabled="disableForm" name="" placeholder= "{{user.lastName}}" required>
      </div>
    </div>

    <div class="row form-space">
      <div class="col-sm-6">
        <label for="AgentEmail"> Email Address </label>
        <input type="text" ng-model='user.email' class="form-control" name="" ng-disabled="disableForm" placeholder= "{{user.email}}" required>
      </div>


      <div class="col-sm-6">
        <label for="AgentPhone"> Phone Number </label>
        <input type="text" id="phone-input" ng-model='user.phoneNumber' ng-class="form-control" placeholder="{{user.phoneNumber}}" value="">
      </div>
    </div>


    <p class=" row-space subhead-text orange"> Profile Photo</p>
    <hr id="form-divider"></hr>


    <div class="row form-space">

    <div class= "col-xs-3">
      <img src="{{user.awsProfilePhotoURL}}" ng-if="user.awsProfilePhotoUrl" class="agent-profile-image center-block" id= "agentImage" alt="Profile Image">
      <img src="public/viewtemplates/portrait_placeholder.png" ng-if="!user.awsProfilePhotoUrl" class="agent-profile-image img-responsive "  alt="Placeholder">
    </div>

    <div class= "col-xs-8">
    <label> Upload New Photo </label>
    <p class="small-body med-gray"> For best results, upload a square image </p>
    <input type="file" id="file-chooser" class="form-control"  placeholder="" value="">
    <br>

</div>
</div>
<div class="row col-xs-12 row-space">
  <button type="button" class="btn btn-lg btn-fill--orange" style='line-height: 1.7; text-transform: uppercase; font-weight: 500;' ng-click="saveAgentChanges()" ng-show="saveAgentChangesDone" ng-disabled="saveAgentChangesInitiated" name="button">{{saveAgentChangesInitiated ? 'Saving Changes...' : 'Save Changes'}} </button>
</div>
</div>
</div>
