
<div class= "container-fluid product-container">
    <div class="row listing-hero">
      <div id="vr-player-listing">
         <div style="height:96%;" >
             <tour-dir show-interface="true"></tour-dir>
         </div>
     </div>
    </div>
    <div class="" style="text-align: center;">
      <a href="#listing-page">
        <i class="fa fa-2x fa-chevron-down"></i>
      </a>
    </div>
    <hr>

    <div class="row" id='listing-page'>
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="label availability-label col-md-4 col-sm-6 col-xs-12"> Available: {{data.Listing.LeaseStartDate | date : 'MM-dd-yyyy'}} </div>
        <div class="label neighborhood-label col-md-5 col-sm-6 col-xs-12"> {{address.neighborhood}}, Boston MA </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-sm-offset-1 row-space">
        <div class="row" ng-if="!data.Listing.IsActive">
          <h3>This listing is no longer active.</h3>
        </div>
          <div class="row">

            <div class="col-xs-12 amenity-list">
              <div class=" col-xs-6 col-sm-3 col-md-2 amenity-item">
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/bedroom.png" style="height: 50px" class="amenity-icon">
                <p class="large-body"> {{data.Listing.Beds}} Beds</p>
              </div>
              </div>

              <div class="col-sm-3 col-xs-6 col-md-2 amenity-item">
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/bathroom.png" style="height: 50px" class="amenity-icon">
                <p class="large-body"> {{data.Listing.Baths}} Bath</p>
                </div>
              </div>

              <div ng-if='data.Listing.HasDishWasher' class="col-md-2 col-xs-6 col-sm-3 amenity-item" >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/dishwasher.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body"> Dish Washer</p>
               </div>
              </div>

              <div ng-if='data.Listing.HasInUnitWasherDryer' class="col-md-2 col-xs-6 col-sm-3 amenity-item" >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/laundry.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">In Unit Laundry</p>
               </div>
              </div>


              <div ng-if='data.Listing.IsCatFriendly && data.Listing.IsDogFriendly' class="col-xs-6 col-sm-3 col-md-2 amenity-item " >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/pet-friendly.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">Pet Friendly</p>
               </div>
              </div>

              <div ng-if='data.Listing.IsCatFriendly && !data.Listing.IsDogFriendly' class="col-xs-6 col-sm-3 col-md-2 amenity-item " >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/cat-friendly.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">Cat Friendly</p>
               </div>
              </div>

              <div ng-if='data.Listing.IsDogFriendly && !data.Listing.IsCatFriendly' class="col-xs-6 col-sm-3 col-md-2 amenity-item " >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/dog-friendly.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">Dog Friendly</p>
               </div>
              </div>

              <div ng-if='data.Listing.HasSmartLock' class="col-xs-6 col-sm-3 col-md-2 amenity-item " >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/smartlock.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">Smart Lock</p>
               </div>
              </div>

              <div ng-if='data.Listing.HasFireplace' class="col-xs-6 col-sm-3 col-md-2 amenity-item " >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/fireplace.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">Fireplace</p>
               </div>
              </div>

              <div ng-if='data.Listing.HasPool' class="col-xs-6 col-sm-3 col-md-2 amenity-item " >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/pool.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">Pool</p>
               </div>
              </div>

              <div ng-if='data.Listing.HasGym' class="col-xs-6 col-sm-3 col-md-2 amenity-item " >
                <div class= "text-center">
                <img src= "public/viewtemplates/images/listing_page/fitness-center.png" style="height: 50px" class="amenity-icon"></img>
                 <p class="large-body">Fitness Center</p>
               </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-10">
              <p class="listing-sub-section"> Additional Amenities </p>
              <p class="small-body">
                <span ng-if='data.Listing.IsGasIncluded'>Gas Included,</span>
                <span ng-if='data.Listing.IsElectricIncluded'>Electric Included,</span>
                <span ng-if='data.Listing.IsHotWaterIncluded'>Hot Water Included,</span>
                <span ng-if='data.Listing.IsHeatIncluded'>Heat Included,</span>
                <span ng-if='data.Listing.IsCableInternetIncluded'>Cable/Internet Included,</span>
                <span ng-if='data.Listing.HasConcierge'>Concierge,</span>
                <span ng-if='data.Listing.ParkingType'>Parking,</span>
                <span ng-if='data.Listing.HasLounge'>Building Lounge,</span>
                <span ng-if='data.Listing.HasRefrigerator'>Refrigerator,</span>
                <span ng-if='data.Listing.IsSmallAnimalFriendly'>Small Animal Friendly,</span>
                <span ng-if='data.Listing.HasMonthlyPetFee'>Monthly Pet Fee,</span>
                <span ng-if='data.Listing.HasConcierge'>Concierge,</span>
                <span ng-if='data.Listing.HasMicrowave'>Microwave,</span>
              </p>
            </div>
            <div class="col-md-6 col-xs-12" style="position: relative; height: 400px;">
              <div class="" id='map' style="height:100%;">

              </div>
            </div>
          </div>
      </div>

    <div class=" col-xs-8  col-xs-offset-2 col-sm-3 col-sm-offset-1 contact-box text-center">
      <div class="row">
        <div class="col-md-4 col-md-push-4">
          <h4>Agent Info:</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" ng-if='agent.awsProfilePhotoUrl'>
          <img src="{{agent.awsProfilePhotoUrl}}" style="height:175px" alt="RealtorImg">
        </div>
        <div class="col-md-6" ng-if='agent.firstName === "Joe" && agent.lastName === "Parrish"'>
          <img src="public/viewtemplates/joe.jpg" style="height:175px" alt="RealtorImg">
        </div>
        <div class="col-md-5" ng-if='agent.firstName !== "Joe" && agent.lastName !== "Parrish" && !agent.awsProfilePhotoUrl'>
          <img src="public/viewtemplates/portrait_placeholder.png" style="height:175px" alt="RealtorImg">
        </div>
        <div class="col-md-7">
          <p class= "large-body"> {{agent.firstName + ' ' + agent.lastName}} </p>
          <p class="small-body"><a href="{{agent.email}}">{{agent.email}}</a></p>
          <p class="small-body" ng-if='agent.phoneNumber'>(Agent)<a ng-href="tel:617-917-5803"></a> {{agent.phoneNumber}} </p>
          <p class="small-body" ng-if="agent.BusinessName === 'Boston Pads' || agent.BusinessName === 'NextGen Realty'">(Office) <a href = 'tel:617-208-2121'>617-208-2121</a></p>
          <p class="small-body" ng-if="agent.BusinessName !== 'Boston Pads' && agent.BusinessName !== 'NextGen Realty'"> {{agent.BusinessName}} </p>
          <p class="small-body" ng-if="agent.BusinessName === 'Boston Pads'"><a href="https://bostonpads.com/">{{agent.BusinessName}}</a></p>
          <p class="small-body" ng-if="agent.BusinessName === 'NextGen Realty'"><a href="https://www.nextgenrealty.com/">{{agent.BusinessName}}</a></p>

        </div>
        <br>
        <div class="col-md-12" style="margin-top:10px;">
          <button  class="col-md-6 col-md-offset-3 btn btn-lg btn-fill--blue" ng-click="requestShowing()" style="text-align:center;">
            Request Showing
          </button>
        </div>

      </div>

      <!-- <div>
       <button ng-click="agentInfo()" type="button" class="btn btn-md btn-fill--orange"> Contact Agent </button>
      </div> -->
    </div>

    </div>

    <p class ="section-head orange col-sm-offset-1 row-space" id="listing-divider"> Listing Details </p>
    <hr id="listing-divider">


    <div class= "row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <p class="small-body" style="line-height:1.3">{{data.Listing.Description}}</p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <p class="listing-sub-section">Lease Details</p>
            <hr>
            <p class="small-body"><span class="medium">Rent:</span> {{data.Lease.RentAmount}} per {{'month'}}</p>
            <p class="small-body" ng-if="data.Listing.HasMonthlyPetFee"><span class="medium">Pet Fee:</span> {{data.Listing.MonthlyPetFeeAmount}} per {{'month'}}</p>
            <p class="small-body"><span class="medium">Lease Start:</span> {{data.Lease.LeaseStartDate | date : 'MM-dd-yyyy'}}</p>
            <p class="small-body"><span class="medium">Lease End:</span> {{data.Lease.LeaseEndDate | date : 'MM-dd-yyyy'}}</p>
            <p class="small-body"><span class="medium">Location:</span> Boston MA  </p>

          </div>
          <div class="col-sm-12 col-md-7">
              <p class="listing-sub-section">Due at Signing</p>
              <hr/>
            <div class="col-md-12" style="">
              <div ng-if="data.Lease.IsFirstMonthsRentRequired" class="text-center col-xs-6 listing-fee" style="padding-top: 0">
                <p class="small-body"> First Month </p>
                <i class="fa fa-check fa-2x orange"></i>
              </div>


              <div ng-if="!data.Lease.IsFirstMonthsRentRequired" class="text-center col-xs-6 listing-fee" style="padding-top: 0">
                <p class="small-body"> First Month </p>
                <i class="fa fa-close fa-2x blue"></i>
              </div>

              <div ng-if="data.Lease.IsSecurityDepositRequired" class="text-center col-xs-6 listing-fee" style="padding-top: 0">
                <p class="small-body"> Security Deposit </p>
                <i class="fa fa-check fa-2x orange"></i>
              </div>

              <div ng-if="!data.Lease.IsSecurityDepositRequired" class="text-center col-xs-6 listing-fee" style="padding-top: 0">
                <p class="small-body"> Security Deposit </p>
                <i class="fa fa-close fa-2x blue"></i>
              </div>

              <div ng-if="data.Lease.IsLastMonthsRentRequired" class="text-center col-xs-6 listing-fee">
                <p class="small-body"> Last Month </p>
                <i class="fa fa-check fa-2x orange"></i>
              </div>

              <div ng-if="!data.Lease.IsLastMonthsRentRequired" class="text-center col-xs-6 listing-fee">
                <p class="small-body"> Last Month </p>
                <i class="fa fa-close fa-2x blue"></i>
              </div>


              <div ng-if="data.Lease.IsBrokerFeeRequired" class="text-center col-xs-6 listing-fee">
                <p class="small-body"> Broker Fee </p>
                <i class="fa fa-check fa-2x orange"></i>
              </div>

              <div ng-if="!data.Lease.IsBrokerFeeRequired" class="text-center col-xs-6 listing-fee">
                <p class="small-body"> Broker Fee </p>
                <i class="fa fa-close fa-2x blue"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-11 col-md-11 col-sm-offset-1 col-md-offset-1">
        <img src="public/viewtemplates/fheo.jpg" style="height:35px;" alt="Fair Housing Equal Opportunity Logo">
        <br>
        <p class="small-body"><em>The apartment advertised may no longer be available for rental</em></p>
      </div>

    </div>
<div class="row-space"></div>





</div>
