<div class="modal-body">
    <img src="http://cdn2.hubspot.net/hub/1698025/hubfs/logo_200x100.jpg?t=1453741681307&width=200" style="display: block; margin-left: auto;  margin-right: auto;"></img>
    <p style="padding-top:20px;">Thank you for your interest in this apartment. Unfortunatley, it is currently NOT available. Be sure to check back for updates.
        <br> <br>
    <span style=" display: block;  width:100px; margin: 0 auto;"> Team Wizio </span></p>





    <!---
<form class="" method="post">
       <p>
        Wizio will email you regarding any updates to this apartment's status. Currently this apartment
        is NOT available. If the apartment becomes available or is taken for next year, Wizio will make
        sure to notify you and all parties on this waitlist via email.

        Those whose emails you apply to the application may remove themselves from the application. Only those with accounts can apply so make sure all of your friends have accounts with us! We will never share your information with anyone without your consent.
    </p>


    <div class="form-group">
        <div class="row">
            <div class="col-md-10" ng-repeat="userObj in apartmentSlotsModal track by $index" style="padding-bottom:10px;">
                <label class="control-label">Housemate {{userObj.id}} - User Name or Email:</label>
                <input class="form-control" name="name" ng-model="applicationArray[$index]" type="text">
            </div>
                    </div>
            <div class="col-md-8 col-md-offset-4">
                <button class="btn btn-fill--blue btn-md" ng-click="applicationSignup()">Submit Waitlist</button>
            </div>

    </div> </form>--->

</div>
