<div class="col-md-8">
    <input class="nav-search form-control" style="border: 1px solid black; " ng-model="searchString" placeholder="Search by area" type="text" uib-typeahead-loading="loadingLocations" uib-typeahead-min-length="3" uib-typeahead-no-results="noResults"
        uib-typeahead="address for address in getLocation($viewValue)" />
</div>
<div class="col-md-4">
    <button type="button" class="btn btn-fill--blue btn-md form-control" name="button" ng-click="submitSearch()">Search</button>
</div>
