<div class="" id="flyout-menu_container" style="z-index:2500" ng-hide="hideControls">
    <div
        class="flyout-menu_circle-item_container"
        ng-repeat="action in actions track by $index"
        ng-class="{'flyout-menu_open': menuIsOpen, 'flyout-menu_close': !menuIsOpen}"
        ng-hide="action.hide"
    >
            <div ng-click="action.action()" class="flyout-menu_circle-item"></div>
        <span class="flyout-menu_circle-item_context">{{action.name}}</span>
    </div>
    <div style="position: relative;">
        <div id="flyout-menu_circle-origin" ng-click="openCloseMenu()"><i id="flyout-menu_circle-origin_symbol" class="fa fa-bars fa-2x" aria-hidden="true"></i></div>
        <span class="flyout-menu_circle-item_context" ng-class="{'flyout-menu_open': menuIsOpen, 'flyout-menu_close': !menuIsOpen}">Close Menu</span>
    </div>
</div>
