<div class="home-hero">
    <div class="home-hero__video">
        <video autoplay width="400" height="300" loop>
            <source src="public/viewtemplates/images/home/sequence.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container">
        <div class="row">
            <div class="home-hero__text col-xs-9 col-xs-offset-0 col-lg-6 col-lg-offset-1">
                <h2 class="home-hero__heading">See your dream<br> apartment in real time</h2>
                <h4 class="home-hero__subheading">Watch videos uploaded by real tenants like you so you can find your perfect place.</h4>
            </div>
        </div>
    </div>

    <div class="home-search">
        <div class="home-search__background"></div>
        <div class="container">
            <div class="row">
                <div class="home-search__bar col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                    <div class="input-group">
                        <input class="form-control" ng-model="searchString" type="text" typeahead-loading="loadingLocations" typeahead-min-length="5" typeahead-no-results="noResults" typeahead="address for address in getLocation($viewValue)">
                        <i class="glyphicon glyphicon-refresh" ng-show="loadingLocations"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-click="search()" href="" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="home-tenants">
    <div class="home-pin-container">
        <div class="home-pin">
            <div class="home-pin__orange">
                <div class="home-pin__orange__left">
                </div>
                <div class="home-pin__orange__right">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="home-tenants__header col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 ">Designed by tenants for tenants</h2>
        </div>
        <div class="row">
            <div class="home-blurbs">
                <div class="home-blurb col-xs-12 col-sm-4 col-sm-offset-0 col-lg-3 col-lg-offset-1">
                    <h3 class="home-blurb__header">Feel empowered with your rights</h3>
                    <h5 class="home-blurb__desc">Information on how Wizio is putting the search in the hands of the tenant</h5>
                </div>
                <div class="home-blurb col-xs-12 col-sm-4">
                    <h3 class="home-blurb__header">Make an informed decision with videos</h3>
                    <h5 class="home-blurb__desc">Information about the videos on Wizio's site and how it is better than pictures</h5>
                </div>
                <div class="home-blurb col-xs-12 col-sm-4 col-lg-3 ">
                    <h3 class="home-blurb__header">Find the perfect place</h3>
                    <h5 class="home-blurb__desc">Information on why you should use Wizio to find your next apartment.</h5>
                </div>
            </div>
        </div>
        <div class="row home-sign-up">
            <div class="home-sign-up__button col-xs-4 col-sm-2 col-sm-offset-1 col-sm-offset-0 col-lg-offset-1">
             <input type="button" class="btn btn-success btn-md" ng-click="registerUser()" value="Sign Up"/>
            </div>
        </div>
    </div>
</div>

<div class="home-landlord">
    <div class="container">
        <div class="row">
            <div class="home-blurb">
                <h2 class="home-landlord__header col-xs-12 col-sm-7 col-sm-offset-4 col-lg-5 col-lg-offset-6">Share your space</h2>
                <h5 class="home-landlord__desc col-xs-12 col-sm-7 col-sm-offset-4 col-lg-4 col-lg-offset-6">Information about how sellers benefit from using Wizio's site and why we are the best. You will make more money and have happier clients overrall.</h5>
                <div class="home-landlord__button col-xs-4 col-sm-2 col-sm-offset-4 col-lg-offset-6">
                    <input type="button" ng-click="registerUser()" class="btn btn-success btn-md" value="Learn More and Upload"/>
                </div>
            </div>
        </div>
    </div>
</div>


