<!-- VR Player Container for Landing Page -->
<div class="home-hero">
    <!-- Photo Selection Button Overlay  -->
    <div class="photo-buttons-container__landingpage" ng-hide="viewFloorPlan">
        <div class="container-fluid" style="height:100%">
            <div class="row" id="photo-button-container" ng-show="selectPhoto === true;" ng-click="selectPhoto = false;" style="z-index:1100; cursor: pointer; horizontal-align: middle text-align: center;">
                <div class="col-md-4" ng-repeat="photo in media.vrphoto track by $index">
                    <button type="button" ng-click="changePhoto($index)" ng-class="photoIndex == $index ? 'btn-fill--orange' : 'btn-fill--blue'" class="btn btn-md col-md-12 vr-control-button" name="button">{{photo.title}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Floor Plan Overlay -->
    <div class="floorplan-container__landingpage" ng-show="viewFloorPlan" ng-click="viewFloorPlan = !viewFloorPlan">
        <!-- span used to push floorplan down to middle of page -->
        <span class="floorplan-pushdown-span"></span>
        <div style="position:relative; display:inline-block">
            <img src="{{floorplan}}" id="floorplan" alt="" />
            <span ng-repeat="photo in media.vrphoto track by $index">
                <img
                    src="public/viewtemplates/images/brand_assets/map_pin.png"
                    class="unit-details-floorplan-pin"
                    ng-hide="photoIndex === $index"
                    ng-click="changePhoto($index)"
                    ng-if="media.vrphoto[$index].isUnit"
                    style="cursor: pointer; top: {{media.vrphoto[$index].y}}%; left: {{media.vrphoto[$index].x}}%"
                    alt=""/>
                <img
                    src="public/viewtemplates/images/favicons/mstile-70x70.png"
                    ng-show="photoIndex === $index"
                    ng-click='changePhoto($index)'
                    class="unit-details-floorplan-pin"
                    ng-if="media.vrphoto[$index].isUnit"
                    alt=""
                    style="width: 45px; height: 45px; cursor: pointer; top: {{media.vrphoto[$index].y}}%; left: {{media.vrphoto[$index].x}}%;"/>

            </span>
        </div>
    </div>
    <div class="home-hero__video" id="vr-player-container">
        <!-- <iframe ng-show="devEnvironmentCheck !== 'http://172.16.0.2:3000'" allowfullscreen="allowfullscreen" frameborder="0" height="100%" src="https://www.bubl.io/embed/be140e00-8b6b-48fa-aa2a-6fc2e42cb06f" width="100%"></iframe> -->
        <!-- <video autoplay width="400" height="300" loop poster="public/viewtemplates/images/home/sequence.png">
            <source src="public/viewtemplates/images/home/sequence.mp4" type="video/mp4">
            <source src="public/viewtemplates/images/home/sequence.webm" type="video/webm">
        </video> -->
        <!-- <button class="btn btn-fill--blue btn-md" style="position:absolute;top:85%;right:2%;z-index:501;" ng-click="toggleMapView()" ng-hide="selectPhoto || viewFloorPlan || mapViewSelected">
            View Map of Our Inventory
        </button>
        <button class="btn btn-fill--blue btn-md" style="position:absolute;top:85%;right:2%;z-index:501;" ng-click="toggleMapView()" ng-hide="selectPhoto || viewFloorPlan || !mapViewSelected">
            View Demo Unit
        </button> -->
        <button type="button" class="btn btn-fill--blue btn-md" style="position:absolute;top:2%;right:2%;z-index:2100;" ng-click="goToLogin()" name="button">Login</button>



        <div class="" ng-show="mapViewSelected" id="mapLP" style="height:100%;z-index:1200;"></div>
        <transition-vr-player-dirv style="height:100%;" ng-hide="mapViewSelected"></transition-vr-player-dirv>

    </div>
    <div class="container">
        <div class="row">
            <div class="home-hero__text col-xs-9 col-xs-offset-1 col-lg-6 col-lg-offset-1">
                <h2 class="home-hero__heading">Tour Less, Close More.</h2>
                <!-- <br>at your fingertips</h2> -->
                <!-- <h4 class="home-hero__subheading">Watch virtual reality videos of awesome apartments until you find the right one for you!</h4> -->
                <h4 class="home-hero__subheading">Showing apartments has never been easier.</h4>
            </div>
        </div>
    </div>
</div>

<div class="home-tenants">
    <div class="home-pin">
        <div class="home-pin__orange">
            <div class="home-pin__orange__left"></div>
            <div class="home-pin__orange__right"></div>
        </div>
    </div>

    <div style="background-color:black; width:100%; height;30px;">&nbsp;&nbsp;&nbsp;
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- <h2 class="home-tenants__header col-sm-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 ">Cut your lead time in half.  &nbsp;&nbsp;&nbsp;  <a href="https://hopskins.typeform.com/to/ByD6BO" target="_blank"><button class="btn btn-fill--blue btn-md"> Request now. </button></a></h2> -->
                <h2 class="">Cut your lead time in half. &nbsp;&nbsp;&nbsp;
            <search-dirv ng-hide="true"></search-dirv>
            </div>
            <div class=col-md-5>
                <div class="row">
                    <div class="col-md-12" style="padding-bottom:10px;">
                        <a href="https://hopskins.typeform.com/to/ByD6BO" target="_blank">
                            <button class="btn btn-fill--blue btn-md form-control" ng-hide="userIsLoggedIn" style="height:50px; font-size:2em;">
                                Request now.
                            </button>
                        </a>
                        <!-- <button class="btn btn-fill--blue btn-md form-control" style="height:50px; font-size:2em;" ng-hide="userIsLoggedIn" ng-click="openTermsOfServicesModal()"> Request now. </button> -->
                        <button class="btn btn-fill--blue btn-md form-control" style="height:50px; font-size:2em;" ng-show="userIsLoggedIn" ng-click="goToAccountPage()"> View Account </button>
                    </div>
                    <div ng-hide="userIsLoggedIn">
                        <div class="col-md-12" style="vertical-align: center;">
                            <span class="" style="font-size:2em;" for="">Have an account?</span> &nbsp;&nbsp;&nbsp;
                            <button type="button" class=" btn btn-lg btn-fill--blue" style="margin-bottom:10px;" ng-click="goToLogin()" name="button">Login</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <hr style="position: relative; border: 0; height: 4px; background-color: white; margin-bottom:-25px;">
            <div class="row">
                <div class="home-blurbs">
                    <div class="home-blurb col-xs-12 col-sm-6 col-sm-offset-0 col-lg-5 col-lg-offset-1">
                        <h3 class="home-blurb__header">What We Do:</h3>
                        <h5 class="home-blurb__desc">
                        <ul>
                            <li>Create high quality virtual reality tours.
                            </li>
                            <li>Best in class tour viewer.
                            </li>
                            <li>Integrate our tours with YGL & your website.
                            </li>
                        </ul>
                        <!-- <search-results-list-dir></search-results-list-dir> -->
                    </h5>
                    </div>
                    <div class="home-blurb col-xs-12 col-sm-6">
                        <h3 class="home-blurb__header">Why You Benefit:</h3>
                        <h5 class="home-blurb__desc">
                            <ul>
                                <li>Cut lead qualification time in half.
                                </li>
                                <li>Virtual reality can double sight-unseen deals.
                                </li>
                                <li>Give your clients the best viewing experience.
                                </li>
                            </ul>
                        </h5>
                    </div>

            </div>
        </div>
            <!-- <div class="row home-sign-up">
            <div class="home-sign-up__button col-xs-4 col-sm-3 col-md-2 col-lg-offset-1">
                <input class="btn btn--cta btn-md" ng-click="goAccoutCreate()" type="button" value="Sign Up"/>
            </div>
        </div> -->
    </div>
</div>

    <div class="home-landlord">
        <div class="container">
            <div class="row">
                <div class="home-blurb">
                    <h2 class="home-landlord__header col-xs-12 col-sm-7 col-sm-offset-4 col-lg-5 col-lg-offset-6" style="padding-top:35px;">How It Works:</h2>
                <h5 class="home-landlord__desc col-xs-12 col-sm-7 col-sm-offset-4 col-lg-4 col-lg-offset-6">
                    <ol>
                        <li>Sign up above!
                        </li>
                        <li>Get access to a growing database of VR.
                        </li>
                        <li>Tour your clients virtually through YGL or your own website.
                        </li>
                    </ol>
                </h5>
                <div class="home-landlord__button col-xs-4 col-sm-offset-4 col-lg-offset-6"></div>
            </div>
        </div>
    </div>
</div>
