<div class="container-fluid">
    <!-- <div class="demo-section row"> -->

        <center>
            <h1>Explore Real Estate Virtually</h1>
        </center>

        <div class="hidden-xs hidden-sm">
            <center>
                <iframe allowfullscreen frameborder="0" height="385px" id="demo" src="https://www.youtube.com/embed/lBPXTFAEgwo" width="640px"></iframe>
            </center>
        </div>
        <!--mobile hidden-->

        <div class="hidden-md hidden-lg">
            <center>
                <iframe allowfullscreen frameborder="0" height="320px" id="demo" src="https://www.youtube.com/embed/lBPXTFAEgwo" width="380px"></iframe>
            </center>
        </div>
        <!--desktop hidden-->

        <img id="bck" src="public/viewtemplates/images/bos.jpg">
    </div>
    <!-- demo section -->

    <div class="entersite-section row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="" ng-repeat="neighborhood in neighborhoods">
                <input type="button" name="name" ng-click="localeButtonClick(neighborhood)" value="{{neighborhood}}">
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <label class="hidden-md hidden-lg">
                Search Apartments to Enter Site </label>
            <center>
                <div class="input-group">

                    <input class="form-control" ng-model="searchString" type="text" typeahead-loading="loadingLocations" typeahead-min-length="5" typeahead-no-results="noResults" typeahead="address for address in getLocation($viewValue)">
                    <i class="glyphicon glyphicon-refresh" ng-show="loadingLocations"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-success" ng-click="search()" href="" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="hidden-xs hidden-sm">Search Apartments to Enter Site</span>
                        </button>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <!--enter site-->

    <div class="signup-section row">
        <!--FORM-->
        <center>
            <h3>Start your apartment search today.</h3>
        </center>

        <div class="row">
            <div class="col-lg-6 form-group">
                <label class="control-label">
                    <h3>First Name:</h3>
                </label>
                <input class="form-control" ng-model='firstName' type='text'>
            </div>

            <div class="col-lg-6 form-group">
                <label class='control-label'>
                    <h3>Last Name:</h3>
                </label>
                <input class="form-control" ng-model='lastName' type='text'>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 form-group">
                <label class='control-label'>
                    <h3>Email:</h3>
                </label>
                <input class="form-control" name='email' ng-model='email' required='true' type='email'>
                <span ng-show='createAcct.email.$invalid'>
                    <span ng-show="createAcct.email.$error.email">Invalid email address
                    </span>
                    <span ng-show="createAcct.email.$error.required">Invalid email address
                    </span>
                </span>
            </div>

            <div class="col-lg-4 form-group">
                <label class='control-label'>
                    <h3>Set Password:</h3>
                </label>
                <input class="form-control form-input" ng-model="password" type="password" />
            </div>

            <div class="col-lg-4">
                <label class='control-label'>
                    <h3>Confirm Password:</h3>
                </label>
                <input class="form-control form-input" name="password" ng-model="passwordConfirm" type="password" />
            </div>
        </div>
    
        <div class="form-group">
            <center>
                <label>
                    <h3>I am a...</h3>
                </label>
            </center>

            <center>
                <div class="btn-group">
                    <label btn-radio="'broker'" class="btn btn-success btn-lg" ng-model="radioModel">Broker</label>
                    <label btn-radio="'realtor'" class="btn btn-success btn-lg" ng-model="radioModel">Realtor</label>
                    <label btn-radio="'tenant'" class="btn btn-success btn-lg" ng-model="radioModel">Tenant</label>
                </div>
            </center>
        </div>

        <center>
            <input class="btn btn-success btn-lg" id="signinbtn" ng-click="registerUser()" value="Sign Up">
            </br>
        </center>
    </div>
    </br>
    <!--signup-section-->

    <div class="descrip-section row">
        <center>
            <h1>What is Wizio?</h1>
        </center>
        <p>
            <h3>Founded in January of 2015, Wizio utilizes cutting-edge technology to offer an automated realtor service that connects quality tenants to landlords and property managers faster and cheaper than ever before. The software as a service provides
                virtual reality apartment showings, automated lease generation and submission, and tenant screening. Wizio aims to enhance the process for everyone by bringing affordable automation to the apartment rental market.</p>
        </h3>
    </div>
    <div class="descrip-section row">
        <center>
            <h1>Want to Join Our Cause</h1>
        </center>
        <p>
            <h3>All you have to do is take a video tour of your apartment and upload it to our site. Click the button below:</p>
        </h3>
        <input type="button" name="name" class="btn btn-success" value="Learn More & Upload!" ng-click="goToUploadPage()">
        
    </div>
    <!--descrip section -->

</div>
<!--container-->
