<div class="home-hero">
    <div class="home-hero__video">
        <iframe allowfullscreen="allowfullscreen" frameborder="0" height="100%" src="https://www.bubl.io/embed/be140e00-8b6b-48fa-aa2a-6fc2e42cb06f" width="100%"></iframe>
        <!-- <video autoplay width="400" height="300" loop poster="public/viewtemplates/images/home/sequence.png">
            <source src="public/viewtemplates/images/home/sequence.mp4" type="video/mp4">
            <source src="public/viewtemplates/images/home/sequence.webm" type="video/webm">
        </video> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="home-hero__text col-xs-9 col-xs-offset-0 col-lg-6 col-lg-offset-1">
                <h2 class="home-hero__heading">Apartment Clarity.</h2>
                    <!-- <br>at your fingertips</h2> -->
                <!-- <h4 class="home-hero__subheading">Watch virtual reality videos of awesome apartments until you find the right one for you!</h4> -->
                <h4 class="home-hero__subheading">Renting made easy</h4>
            </div>
        </div>
    </div>
</div>

 <div class="home-search">
        <div class="home-search__background"></div>
        <div class="container">
            <div class="row">
                <div class="home-search__bar col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                    <div class="input-group">
                        <input  placeholder="Search by area" class="form-control" ng-model="searchString" type="text" typeahead-loading="loadingLocations" typeahead-min-length="5" typeahead-no-results="noResults" typeahead="address for address in getLocation($viewValue)">
                        <!-- get rid of loading options icon for now because happens too quickly and makes button jump -->
<!--                      <i class="fa fa-refresh" ng-show="loadingLocations"></i>
 -->
<!--                         <div ng-show="noResults">
                            <i class="fa fa-remove"></i> No Results Found
                        </div> -->
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-fill--blue" ng-click="search()" href="" type="button">
                                <span class="fa fa-search"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="home-tenants">
        <div class="home-pin">
            <div class="home-pin__orange">
                <div class="home-pin__orange__left">
                </div>
                <div class="home-pin__orange__right">
                </div>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <h2 class="home-tenants__header col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 ">Rentals online like never before.</h2>
        </div>
        <div class="row">
            <div class="home-blurbs">
                <div class="home-blurb col-xs-12 col-sm-4 col-sm-offset-0 col-lg-3 col-lg-offset-1">
                    <h3 class="home-blurb__header">Tenants</h3>
                    <h5 class="home-blurb__desc">No fake photos here, fantastic apartments in virtual reality</h5>
                </div>
                <div class="home-blurb col-xs-12 col-sm-4">
                    <h3 class="home-blurb__header">Wizio makes leasing easier</h3>
                    <h5 class="home-blurb__desc">Making a decision is a lot easier when you have an accurate online depiction of your apartment.</h5>
                </div>
                <div class="home-blurb col-xs-12 col-sm-4 col-lg-3 ">
                    <h3 class="home-blurb__header">Showing an apartment to your friend just got easier.</h3>
                    <h5 class="home-blurb__desc">Sharing our virtual tours is simple and now you don’t have to worry about taking photos of the apartment.</h5>
                </div>
            </div>
        </div>
        <div class="row home-sign-up">
            <div class="home-sign-up__button col-xs-4 col-sm-3 col-md-2 col-lg-offset-1">
             <input type="button" class="btn btn--cta btn-md" ng-click="registerUser()" value="Sign Up"/>
            </div>
        </div>
    </div>
</div>

<div class="home-landlord">
    <div class="container">
        <div class="row">
            <div class="home-blurb">
                <h2 class="home-landlord__header col-xs-12 col-sm-7 col-sm-offset-4 col-lg-5 col-lg-offset-6">Join the beta.</h2>
                <h5 class="home-landlord__desc col-xs-12 col-sm-7 col-sm-offset-4 col-lg-4 col-lg-offset-6">Trial our service, for free, and help make apartments online better.</h5>
                <div class="home-landlord__button col-xs-4 col-sm-offset-4 col-lg-offset-6">
                    <input type="button" ng-click="registerUser()" class="btn btn--cta btn-md" value="Contact Rep"/>
                </div>
            </div>
        </div>
    </div>
</div>
