<div class=" formStyle">
    <form class="" ng-submit="editingListing ? formSubmission('editLease') : formSubmission('createLease')">
        <div class="">
            <h2>Edit Listing Information For</h2>
        </div>
        <div class="">
            <h4>{{apartment.concatAddr}}</h4>
        </div>
        <div class="form-group">
            <div class="row">
                <h3>Dates and Rent</h3>

                <div class="col-md-4">
                    <label class="control-label " for="">Date Start:</label>
                    <input class="form-control" name="name" ng-model="lease.dateStart" placeholder="EX: 12/22/2015" type="date" value="">
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="">Date End:</label>
                    <input class="form-control" name="name" ng-model="lease.dateEnd" placeholder="EX: 12/22/2015" type="date" value="">
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="">Rent Per Month:</label>
                    <input class="form-control" currency name="name" ng-model="lease.monthlyRent" placeholder="EX: $2100" type="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <h3>Utilities Included</h3>
                    <div class="" ng-repeat="utility in selectOptions.utilities">
                        <div class="col-md-3 col-lg-4" style="margin:8px;">
                            <label class="control-label" for="">
                                {{utility.label}}:
                                <input class="checkboxinput" name="name" ng-false-value="false" ng-model="lease[utility.variable]" ng-true-value="true" type="checkbox" value="">
                            </label>
                        </div>
                    </div>
                </div>

                <h3>Additional Ammenities/Information</h3>
                <div class="col-md-6">
                    <div class="" ng-repeat="ammenity in selectOptions.additionalAmmenities">
                        <div class="col-md-2" style="margin:8px;">
                            <label class="control-label" for="">
                                {{ammenity.label}}:
                                <input class="" name="name" ng-false-value="false" ng-model=lease[ammenity.variable] ng-true-value="true" type="checkbox" value="">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label">Pets</label>
                    <select class="form-control" name="" ng-model="lease.pets" ng-options="pets for pets in selectOptions.pets"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <h3>Additional Rent/Fees Information</h3>
                <div class="col-md-4">
                    <label class="control-label">Security Deposit Amount</label>
                    <input class="form-control" name="name" ng-model="lease.securityDeposit" placeholder="EX: $2000" type="text" value="">
                </div>
                <div class="col-md-8">
                    <label control-label>Needed Upfront:</label>
                    <div class="">
                        <div class="col-md-12">
                            <div class="" ng-repeat="fee in selectOptions.neededUpfront">
                                <div class="col-md-2" style="margin:8px;">
                                    <label class="control-label" for="">
                                        {{fee.label}}:
                                        <input class="checkboxinput" name="name" ng-false-value="false" ng-model=lease[fee.variable] ng-true-value="true" type="checkbox" value="">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2" ng-show="lease.newKeyFeeNeeded">
                    <label class="control-label">Key Fee Amount</label>
                    <input class="form-control" name="name" ng-model="lease.newKeyFeeAmount" placeholder="EX: $150" type="text" value="">
                </div>
                <!--- Not excatly how to handle this --->
                <div class="">
                    <div class="col-md-2" ng-show="lease.brokerFeeNeeded">
                        <label class="control-label">Brokers Fee Amount</label>
                        <input class="form-control" name="name" ng-model="lease.brokerFeeAmount" placeholder="EX: $150" type="text" value="">
                    </div>
                    <div class="col-md-8">
                        <label class="control-label">Additional Information</label>;
                        <textarea class="form-control" cols="40" name="name" ng-model="lease.Description" placeholder="A beautiful victorian styled apartment..." rows="5" style="border-left:1px solid black;border-right:1px solid black" type="text" value=""></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-fill--blue btn-md" name="button" type="submit">Submit</button>
    </form>
    <div style="height:40px;"></div>

</div>
