<div class="page-container min-height--vh-98 height--vh-98">
  <div class="page-background img-home1"></div>
  <section
    id="market-search-form"
    ng-if="!dataLoaded"
    class="section maintain-center"
  >
    <div class=" component-container--tagline ">
      <div class="tagline" style=" color:white ">
        An apartment rental experience you will
        <span class="orange">love.</span>
      </div>
    </div>
    <div class="component-container ">
      <form class="search-form ">
        <input
          type="text"
          id="search-bar"
          class="form-input-text"
          ng-model="marketSearch.addressBar"
          placeholder="Jamaica Plain "
        />
        <button
          type="button"
          ng-click="submitMarketSearch()"
          ng-disabled="searchInProgress"
          class="btn btn-fill--orange--left-joined "
        >
          {{ searchInProgress ? "Searching..." : "Find My Space" }}
        </button>
      </form>
    </div>
  </section>
</div>
