<nav class="navbar" ng-class="{transparent_nav: isActive('/') || isActive('/about')}" ng-style="landingPageStyle" role="navigation">
<!-- <nav class="navbar" ng-style="landingPageStyle" ng-hide="onLandingPage" role="navigation"> -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="nav-logo">
                <a class="navbar-brand-white" ng-show="showWhiteLogoFlag" ng-click="goHome()">
                    <img id="navbarlogo"/>
                </a>
                <a class="navbar-brand-gray" ng-hide="showWhiteLogoFlag" ng-click="goHome()">
                    <img id="navbarlogo"/>
                </a>
            </div>

        </div>
        <!--navbar header -->

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-left" ng-hide="isActive('/') || isActive('/unit/display')">
                <!-- <form class="navbar-form navbar-left" id="navbar-search" ng-submit="search()" role="search"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input class="form-control nav-search" ng-model="searchString" placeholder="Search by area" type="text" uib-typeahead-loading="loadingLocations" uib-typeahead-min-length="3" uib-typeahead-no-results="noResults" uib-typeahead="address for address in getLocation($viewValue)"/> -->
                        <!--               <div ng-show="noResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
              </div> -->
                    <!-- </div> -->
                    <!-- <button class="btn btn-search" type="submit"> -->
                        <!-- <i class="fa fa-search"></i> -->
                    <!-- </button> -->
                <!-- </form> -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: false}" ng-click="goAbout()"><a href="">About</a></li>
                <li>
                    <a href="/product">Product</a>
                </li>
                <li>
                    <a href="http://blog.wizio.co">Blog</a>
                </li>
                <li ng-click="goToLogin()" ng-hide="isLoggedIn">
                    <a href="">Sign In</a>
                </li>
                <li ng-class="{active: false}" ng-click="goAccountDashboard()" ng-show="isLoggedIn">
                    <a href="">Account</a>
                </li>

                <!-- <li id="" ng-click="signup()" ng-hide="isLoggedIn">
                    <a href="">Sign Up</a>
                </li> -->
                <li ng-click="logout()" ng-show="isLoggedIn">
                    <a href="">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- close container -->
</nav>

<div class="collapse" id="searchFiltersCollapse" style="" ui-view="search-filters">
    <form class="form-inline">
        <div class="form-group">
            <div class="dropdown">
                <label class="control-label" for="bedsSelect" id="labelLeft">Beds:</label>
                <select class="form-control" name="bedsSelect" ng-model="filters.beds">
                    <option value="">Please select</option>
                    <option value=0>Studio</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5+</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="BathsSelect" id="labelLeft">Baths:</label>
            <select class="form-control" name="BathsSelect" ng-model="filters.baths">
                <option value="">Please select</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3+</option>
            </select>
        </div>
        <div class="form-group">
            <label class="label-lg" for="minPriceFilter" style="color: black">Min Price:
            </label>
            <input class="form-control" id="minPriceFilter" name="name" ng-model="filters.minPrice" type="text">
        </div>
        <div class="form-group">

            <label class="label-lg" for="maxPriceFilter" style="color: black">Max Price:
            </label>
            <input class="form-control" id="maxPriceFilter" name="name" ng-model="filters.maxPrice" type="text">
        </div>
    </form>
</div>

<!--End Navbar-->
