<nav class="navbar" ng-class="{transparent_nav: isActive('/') }" ng-style="landingPageStyle" role="navigation">
<!-- <nav class="navbar" ng-style="landingPageStyle" ng-hide="onLandingPage" role="navigation"> -->
    <div class="container">
        <div class="navbar-header">

            <div class="nav-logo">
                <a class="navbar-brand-white" ng-show="showWhiteLogoFlag" ng-click="goHome()">
                    <img id="navbarlogo"/>
                </a>
                <a class="navbar-brand-gray" ng-hide="showWhiteLogoFlag" ng-click="goHome()">
                    <img id="navbarlogo"/>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-controls="nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>

        <!--navbar header -->


            <!-- <ul class="nav navbar-nav navbar-left" ng-hide="isActive('/') || isActive('/unit/display')">

            </ul> -->

            <nav class="nav navbar-nav justify-content-end">
              <a class="nav-item" ng-class="{active: false}" ng-click="goAbout()" href=""> About </a>
              <a class="nav-item" ng-class="{active: false}" href="/product"> Product </a>
              <a class="nav-item" ng-class="{active: false}" href="http://blog.wizio.co">Blog</a>
              <a class="nav-item nav-sign-in" ng-click="goToLogin()" ng-hide= 'isLoggedIn' href="">Sign In</a>
              <a class= "nav-item" ng-click="goAccountDashboard()" ng-show="isLoggedIn"> Account </a>
              <a class= "nav-item" ng-click="logout()" ng-show="isLoggedIn">Logout </a>
                <!-- <li id="" ng-click="signup()" ng-hide="isLoggedIn">
                    <a href="">Sign Up</a>
                </li> -->

        </nav>

<!-- <div class="collapse" id="searchFiltersCollapse" style="" ui-view="search-filters">
    <form class="form-inline">
        <div class="form-group">
            <div class="dropdown">
                <label class="control-label" for="bedsSelect" id="labelLeft">Beds:</label>
                <select class="form-control" name="bedsSelect" ng-model="filters.beds">
                    <option value="">Please select</option>
                    <option value=0>Studio</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5+</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="BathsSelect" id="labelLeft">Baths:</label>
            <select class="form-control" name="BathsSelect" ng-model="filters.baths">
                <option value="">Please select</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3+</option>
            </select>
        </div>
        <div class="form-group">
            <label class="label-lg" for="minPriceFilter" style="color: black">Min Price:
            </label>
            <input class="form-control" id="minPriceFilter" name="name" ng-model="filters.minPrice" type="text">
        </div>
        <div class="form-group">

            <label class="label-lg" for="maxPriceFilter" style="color: black">Max Price:
            </label>
            <input class="form-control" id="maxPriceFilter" name="name" ng-model="filters.maxPrice" type="text">
        </div>
    </form>
</div> -->

<!--End Navbar-->
