<div class="modal-header">
    <h3 class="modal-title" style="color:black">Verify your Profile!</h3>
</div>
<div class="modal-body">
    In order for you to apply for an apartment, Wizio sends the seller your profile information. We see that you have already created a profile and would just like to verify that the information listed is still accurate:
    <h3 style="color: black;">Profile:</h3>
    <div class="">
        Annual Income: {{profile.annualIncome}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" type="button">Looks good!</button>
    <button class="btn btn-warning" ng-click="edit()" type="button">Edit Profile.</button>
    <button class="btn btn-danger" ng-click="cancel()" type="button">Cancel</button>
</div>
