<div>
        <div class="text-center">
            <input ng-model="searchText.concatAddr" id="searchText" type="text" placeholder="Search for unit"></input>
            <br>
            <div ng-hide="searchText.concatAddr == null " ng-repeat= "unit in units | filter:searchText" ng-init="index = $index">
                <p>{{unit.unitNum}}</p>
                <img id="floorplan" ng-src="{{unit.Floor_Plan}}">
            </div>
    </div>
    <div class="col-md-6 col-md-offset-4" style="padding-top:25px;">
        <div style="width:50%; float:left">
            <p>Amenties Uploaded:</p>
            <p ng-repeat="unit in units track by $index">{{unit}}</p>
        </div>
        <div style="width:50%; float:left">
            <button class="btn btn--cta btn-lg">Add Amenity</button>
        </div>
    </div>
</div>
