<div class="modal-header">
    <h3 class="modal-title" style="color:black">Apply for {{apartment.concatAddr}}</h3>
</div>
<div class="modal-body">
    Applying to this apartment doesn't guarentee you'll get contacted by the seller or get the apartment. This information you're providing is being directly sent to the property manager or broker. You will be notified if the apartment comes off the market or if you've been selected to move forward in the process.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" type="button">Apply!</button>
    <button class="btn btn-warning" ng-click="save()" type="button">Just save my profile but don't apply</button>
    <button class="btn btn-danger" ng-click="cancel()" type="button">Cancel</button>
</div>
