<div class="container account-wrapper">
    <div class="row" ng-if='appInitialized'>
        <div class="col-md-3">
            <user-info-dir></user-info-dir>
            <div class="col-md-12">
                <button  ng-click="changeState('ShareTour')" ng-class="state.includes('ShareTour') ? 'btn-fill--blue' : 'btn-outline--blue'" class="btn btn-lg btn-block btn-fill--blue">
                    Your Tours
                </button>
                <button class="btn btn-lg btn-block btn-outline--blue" ng-show='createToursPermitted' ng-click="createTour()">
                    Create Tour
                </button>
                <button ng-click="modifyExistingTour()" ng-if='modifyTourAllowed' type="button" class="btn btn-outline--blue btn-lg btn-block" >
                    Modify Tour
                </button>
                <!-- Temporarily removing from dashboard -->
                <!-- <button ng-class="state.includes('Search') ? 'btn-fill--blue' : 'btn-outline--blue'" class="btn btn-lg btn-block btn-outline--blue " type="button" ng-click="changeState('Search')" >
                    Search
                </button> -->
                <!-- Temporarily removing from dashboard -->
                <!-- <button ng-class="state.includes('Invite') ? 'btn-fill--blue' : 'btn-outline--blue'" class="btn btn-lg btn-block btn-outline--blue" ng-click="changeState('Invite')">
                    Invite
                </button> -->
                <!-- Temporarily removing from dashboard -->
                <button ng-class="state.includes('AgentInfo') ? 'btn-fill--blue' : 'btn-outline--blue'" class="btn btn-lg btn-block btn-outline--blue" ng-click="changeState('AgentInfo')" >
                    Profile Info
                </button>
                <button type="button" ng-if="wizioAdmin" ng-class="state.includes('ReassignTours') ? 'btn-fill--blue' : 'btn-outline--blue'" class="btn btn-lg btn-block btn-outline--blue" ng-click="changeState('ReassignTours')" name="button">
                  Reassign Tour
                </button>
                <button type="button" class="btn btn-lg btn-block btn-outline--blue" ng-click="requestTours()" name="button">
                  Request Tours
                </button>
                <button type="button" class="btn btn-lg btn-block btn-outline--blue" ng-click="supportModal()" name="button">
                  Help
                </button>
            </div>
        </div>
        <div class="col-md-9">
            <div ui-view="dashboard-main">

            </div>
        </div>
    </div>
</div>
