#navbarlogo {
  width: 100px; }

.styleguide-nav {
  width: 200px;
  float: left;
  background-color: #cccccc;
  position: fixed;
  padding: 15px; }

.styleguide {
  margin-left: 200px;
  background-color: #ffffff;
  padding: 0 15px; }

.styleguide-section {
  margin-bottom: 50px; }
  .styleguide-section > h2 {
    padding-top: 10px;
    position: relative; }
    .styleguide-section > h2:after {
      content: '';
      color: #cccccc;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -4px;
      border-width: 0 0 1px;
      border-style: solid; }

.code {
  background-color: #000000;
  color: #ffffff;
  border: none; }
