<div class="row">
    <h4>Forgot Password</h4>
    <p style="margin:5px;">
        Please provide your account email address. This email will receive password reset instructions.
    </p>
    <div class="form-group">
        <input type="text" name="email" class="form-control" placeholder="Email" ng-model="passwordResetEmail" value="" autofocus>
    </div>
    <div class="form-group">
        <button class="btn btn-fill--orange btn-lg acct-modal-btn" ng-click="forgotPassword()">Send Email</button><span><loading-spinner-dir id="send-reset-password-email" size="fa-3x" style="color:#f79739; visibility: hidden;"></loading-spinner-dir></span>

    </div>

</div>
