<div class="modal-header">
    <close-modal-dirv></close-modal-dirv>
    <h3>Would You Like To Upload a Floor Plan?</h3>
</div>
<div class="modal-body">
    <p>
        Currently you <strong>must</strong> add your floor plan before creating the
        address if you want a floor plan associated with your tour.
        <br />
        We are currently developing the ability to add floor plans to tours at
        a later time.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-fill--blue btn-md" ng-click="handleNoClick()" name="button">No</button>
    <button type="button" class="btn btn-fill--orange btn-md" ng-click="handleYesClick()" name="button">Yes</button>
</div>
