<div class="container-fluid acct-modal">
    <h2>Sign Up</h2>
    <div class="account-type-buttons" data-toggle="buttons">
        <label class="btn" ng-model="accountTypeModel" btn-radio="'tenant'">
            I am a potential Tenant who is looking to find my perfect place
        </label>
        <label class="btn" ng-model="accountTypeModel" btn-radio="'landlord'">
            I am a Real Estate Professional looking to add listings to your site
        </label>
    </div>
    <div class="acct-modal-footer">
        <button class="btn acct-modal-footer__btn acct-modal-footer__next-btn" ng-disabled="!accountTypeModel" ng-click="nextStep(accountTypeModel)">Next <span class="fa fa-long-arrow-right"></span></button>
        <ul class="acct-modal-dots">
            <li class="acct-modal-dots-dot acct-modal-dots-dot-filled">&nbsp;</li>
            <li class="acct-modal-dots-dot">&nbsp;</li>
            <li class="acct-modal-dots-dot">&nbsp;</li>
        </ul>
    </div>
</div>
