<div class='container'>
    <div class='row'>
        <form class='col-md-6'>
            <div class='form-group'>
                <label class='control-label'>Set New Password:</label>
                <input class="form-control" ng-model="password" type="password"/>
                <label class='control-label'>Confirm Password:</label>
                <input class="form-control" name="password" ng-model="passwordConfirm" type="password"/>
            </div>
            <div class='form-group'>
                <!--<button ng-click="createAcct()" class="btn btn-warning">Create Account</button>-->
                <button class="btn btn-submit" ng-click="resetPassword()">Reset Password</button>
            </div>
        </form>
    </div>
</div>
