<div class='container'>
  <div class='row'>
    <form class='col-md-6' >
      <div class='form-group'>
        <label class='control-label'>Set New Password:</label>
        <input type="password"  class="form-control" ng-model="password" />
        <label class='control-label'>Confirm Password:</label>
        <input type="password" name="password" ng-model="passwordConfirm" class="form-control"/>
      </div>
      <div class='form-group'>
        <!--<button ng-click="createAcct()" class="btn btn-warning">Create Account</button>-->
        <button class="btn btn-submit" ng-click="resetPassword()">Reset Password</button>
      </div>
    </form>
  </div>
</div>
